{# Copie du base_site.html de grappelli pour ajouter jQuery = django.jQuery #}
{# FIXME: Ce fichier est une bidouille pour que django-ajax-selects fonctionne correctement. #}
{#        Corriger cela peut-être avec AjaxSelectAdmin. #}
{% extends 'admin/base.html' %}
{% load i18n static grp_tags %}

{% block title %}
  {{ title }} | {% filter removetags:'a' %}{% get_site_title %}{% endfilter %}
{% endblock %}

{% block extrastyle %}
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
  <style>
    .grp-fixed-footer {
      z-index: 1100;
    }

    {# FIXME: All the lines that follow are a workaround to https://github.com/sehmaschine/django-grappelli/issues/639 #}
    {#        Remove when fixed. #}

    input+.grp-related-widget-tools,
    select+.grp-related-widget-tools,
    textarea+.grp-related-widget-tools,
    .radiolist+.grp-related-widget-tools,
    .checkboxlist+.grp-related-widget-tools {
      position: relative;
      top: -15px;
      padding-right: 0;
    }
    table td>.grp-related-widget-wrapper {
      margin-top: -5px !important;
    }
    .grp-related-widget-wrapper {
      margin-bottom: -5px !important;
    }
    .grp-tools li a, .grp-tools li span {
      width: 17px;
    }
  </style>
{% endblock %}

{% block javascripts %}
  {{ block.super }}
  <script>jQuery = django.jQuery;</script>
{% endblock %}

{% block nav-global %}{% endblock %}
