{# Copie du base_site.html de grappelli pour ajouter jQuery = django.jQuery #}
{# FIXME: Ce fichier est une bidouille pour que django-ajax-selects fonctionne correctement. #}
{#        Corriger cela peut-être avec AjaxSelectAdmin. #}
{% extends 'admin/base.html' %}
{% load i18n static grp_tags %}

{% block title %}
  {{ title }} | Dezède
{% endblock %}

{% block extrastyle %}
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
  <style>
    .grp-fixed-footer {
      z-index: 1100;
    }
    table.grp-table td a.add-another, table.grp-table th a.add-another {
      top: inherit;
      margin-bottom: inherit;
    }
  </style>
{% endblock %}

{% block javascripts %}
  {{ block.super }}
  <script>jQuery = django.jQuery;</script>
{% endblock %}

{% block nav-global %}{% endblock %}
