body
{
  margin: 0px;
}

#navbar
{
  width: 768px;
  margin: 0px auto;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid black;
  border-top: none;
}

#navbar a
{
  display: inline-block;
  padding: 4px 8px;
  text-decoration: none;
  font-weight: bold;
}

a
{
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

a:hover
{
  color: red;
  text-decoration: underline;
}

.liste td
{
  border: 1px solid black;
  padding: 2px 5px;
  padding-right: 10px;
}

.liste tbody tr:hover
{
  cursor: pointer;
  background-color: lightgrey;
}

.liste
{
  border-collapse: collapse;
}

.warning
{
  background-color: #FF6666;
  border: 1px solid black;
}

