html:lang(fr)
{
  quotes: "« " " »" "“ " " ”";
}

html:lang(en)
{
  quotes: "“ " " ”" "‘ " " ’";
}

body
{
  margin: 0px;
}

nav
{
  width: 768px;
  margin: 0px auto;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid black;
  border-top: none;
}

a
{
  color: black;
  text-decoration: none;
  transition: color 0.3s ease-out 0s;
  -moz-transition: color 0.3s ease-out 0s;
  -webkit-transition: color 0.3s ease-out 0s;
  -o-transition: color 0.3s ease-out 0s;
}

a:hover
{
  color: red;
  text-decoration: underline;
}

nav>a
{
  display: inline-block;
  padding: 4px 8px;
  font-weight: bold;
}

nav>a:hover
{
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6
{
  font-weight: normal;
}

h2
{
  margin: 0.35em 0;
}

h3
{
  margin: 0.3em 0;
}

h4
{
  margin: 0.25em 0;
}

ol
{
  margin: 0;
}

.liste th
{
  border-bottom: 1px solid black;
  font-weight: bold;
}

.liste td, .liste th
{
  padding: 2px 5px;
  padding-right: 10px;
}

.liste tbody tr:hover
{
  cursor: pointer;
  background-color: lightGrey;
}

.warning
{
  background-color: #FF6666;
  border: 1px solid black;
}

.source>p
{
  text-align: justify;
  margin: .5em 0;
}

.source>p:first-of-type
{
  margin-top: 0;
}

.source>p:last-of-type
{
  margin-bottom: 0;
}

.source>p:first-child:before
{
  content: open-quote;
}

.source>p:last-of-type:after
{
  content: close-quote;
}

.source-ref
{
  text-align: right;
}

.programme_titre
{
  margin: 0.75em 0 0.5em 0;
}

dl
{
  margin: 0;
}

dt, .dt
{
  color: grey;
  font-size: 14px;
}

dd>p:first-child
{
  margin-top: 0;
}

dd>p:last-child
{
  margin-bottom: 0;
}

.right
{
  text-align: right;
}

table
{
  text-align: left;
  border-collapse: collapse;
}

table th
{
  font-weight: normal;
}

table td
{
  border-right: 1px solid lightGrey;
  padding: 0 3px;
}

table th:first-child,
table td:first-child
{
  padding-left: 0;
}

table th:last-child,
table td:last-child
{
  border-right: none;
  padding-right: 0;
}

