[submodule "libretto/static/bootstrap"]
	path = libretto/static/bootstrap
	url = https://github.com/twbs/bootstrap
[submodule "libretto/static/jqTree"]
	path = libretto/static/jqTree
	url = https://github.com/mbraak/jqTree
[submodule "libretto/static/js/jquery-dotimeout"]
	path = libretto/static/js/jquery-dotimeout
	url = https://github.com/cowboy/jquery-dotimeout
[submodule "libretto/static/font-awesome"]
	path = libretto/static/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome
