*~
*.pyc
apache-solr*
/static/
/stats/
/profile/
*.log
_*/
*.c
*.so
*.h
/.idea/
node_modules/
.next
/media/
/build/
/backup/
/tmp/
/venv/
/.venv/
.env.secrets

# typescript
*.tsbuildinfo
next-env.d.ts
