[submodule "libretto/static/bootstrap"]
	path = libretto/static/bootstrap
	url = https://github.com/twbs/bootstrap
[submodule "libretto/static/jqTree"]
	path = libretto/static/jqTree
	url = https://github.com/mbraak/jqTree
[submodule "libretto/static/js/jquery-dotimeout"]
	path = libretto/static/js/jquery-dotimeout
	url = https://github.com/cowboy/jquery-dotimeout
[submodule "libretto/static/font-awesome"]
	path = libretto/static/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome
[submodule "libretto/static/js/typeahead"]
	path = libretto/static/js/typeahead
	url = https://github.com/twitter/typeahead.js
[submodule "libretto/static/css/typeahead-bootstrap"]
	path = libretto/static/css/typeahead-bootstrap
	url = https://github.com/cviebrock/typeahead.js-bootstrap.css
[submodule "libretto/static/leaflet.fullscreen"]
	path = libretto/static/leaflet.fullscreen
	url = https://github.com/Leaflet/Leaflet.fullscreen
[submodule "libretto/static/js/d3"]
	path = libretto/static/js/d3
	url = https://github.com/mbostock/d3
