/libretto/static/bootstrap/
/libretto/static/css/
/libretto/static/font-awesome/
/libretto/static/jqTree/
/libretto/static/js/d3/
/libretto/static/js/jquery-dotimeout/
/libretto/static/js/typeahead/
/libretto/static/leaflet-0.7.3/
/libretto/static/leaflet.fullscreen/
/libretto/static/tiny_mce/
/media/
/static/
/build/
/backup/
/.ipynb_checkpoints/
/.idea/
/.tx/
/accounts/
/afo/
/common/
/dezede/
/docs/
/dossiers/
/examens/
/exporter/
/node_modules/
/prod/
/range_slider/
/requirements/
/scripts/
/static_grouper/
/typography/
/tmp/
