# To be copied in /etc/systemd/system/dezede.service

[Unit]
Description=Norinvoice
Requires=docker.service
After=docker.service
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
WorkingDirectory=/srv/dezede
ExecStart=docker compose -f docker-compose.yaml -f docker-compose.deployment.yaml --env-file .env.prod up --remove-orphans
ExecStop=docker compose -f docker-compose.yaml -f docker-compose.deployment.yaml --env-file .env.prod down
TimeoutStartSec=0
Restart=on-failure
StartLimitInterval=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
