Django==1.5.1
psycopg2==2.5
django-endless-pagination==2.0
django-tables2==0.13.0
djangorestframework==2.3.4
django-reversion==1.7
django-haystack==1.2.7
pysolr==3.0.6
django-mptt==0.5.5
django-tinymce==1.5.1
django-flatpages-tinymce==0.1.1
simplejson==3.3.0
django-autoslug==1.6.1
django-grappelli==2.4.4
django-crispy-forms==1.2.8
django-ajax-selects==1.2.5
django-filebrowser==3.5.2
django-nose==1.1
django_compressor==1.2
django-sekizai==0.7
django-viewsets==0.1.6
Pillow==2.0.0
python-memcached==1.51
South==0.8.1
django-debug-toolbar==0.9.4
django-extensions==1.1.1
django-maintenancemode==0.10
beautifulsoup4==4.2.0
defusedxml==0.4.1
PyYAML==3.10
django-filter==0.6
Pygments==1.6
transifex-client==0.9
Cython==0.19.1
-e hg+https://bitbucket.org/ubernostrum/django-registration@b3c41b3c7f50523b4ecb8267d6d27a918adc2e1f#egg=django-registration
-e git+https://github.com/jmoiron/johnny-cache@37e75019625979487f17b47050da7f0af3fea42c#egg=johnny-cache
