Django==1.4.1
django-reversion==1.6.3
django-haystack==1.2.7
whoosh==2.4.1
django-tinymce==1.5.1b2
django-autoslug==1.5.0
django-grappelli==2.4.1
django-filebrowser==3.5.0
pil==1.1.7
johnny-cache==1.4
South==0.7.6
django-debug-toolbar==0.9.4
django-extensions==0.9
