{% extends 'libretto/autorite.html' %}
{% load i18n extras routines %}
{% load url from future %}

{% block title %}
  {{ object }}
{% endblock %}

{% block header %}
  <h1>{{ object.html }}</h1>
  <div class="auto-links">
    <h2>{{ object.caracteristiques.html }}</h2>
  </div>
{% endblock %}

{% block autorite-content %}

  <table class="data-table auto-links">
    {% data_table_attr 'caracteristiques.html' %}
    {% data_table_attr 'siege.link' %}
    {% data_table_attr 'smart_period' caps=True %}
    {% data_table_list object.membres.all %}
    {% include "libretto/include/evenement_list_def.html" with evenements=object.apparitions %}

    {% data_table_attr 'notes_publiques' _('notes') %}
  </table>

{% endblock %}
