{% extends 'base.html' %}
{% load i18n extras routines %}
{% load url from future %}

{% block title %}
  {{ object }}
{% endblock %}

{% block body %}

  {% include "libretto/include/etat.html" with etat=object.etat %}

  <div class="page-header">
    {% frontend_admin autorite=1 %}
    <h1>{{ object.html }}</h1>

    <h2>{{ object.caracteristiques.html }}</h2>
  </div>

  <div class="span3 pull-right">
    {% include 'libretto/include/illustrations.html' %}
  </div>

  <table class="data-table">
    {% data_table_attr 'caracteristiques.html' %}
    {% data_table_attr 'siege.link' %}
    {% data_table_attr 'smart_period' caps=True %}
    {% data_table_list object.membres.all %}
    {% data_table_list object.apparitions %}

    {% data_table_attr 'notes' %}

    {% data_table_list object.documents.all %}
  </table>

{% endblock %}
