{% extends 'libretto/autorite.html' %}
{% load i18n extras routines %}
{% load url from future %}

{% block title %}
  {{ object }}
{% endblock %}

{% block header %}
  <h1>{{ object.html }}</h1>
{% endblock %}

{% block autorite-content %}

  <table class="data-table auto-links">
    {% data_table_attr 'type' %}
    {% data_table_attr 'siege.link' %}
    {% data_table_attr 'smart_period' caps=True %}
    {% data_table_list object.membres.all %}
    {% evenement_list_def object.apparitions %}

    {% data_table_attr 'notes_publiques' _('notes') %}
  </table>

{% endblock %}
