{% extends 'libretto/autorite.html' %}
{% load i18n static_grouper dezede_extras %}

{% block title %}
  {% trans "événement"|capfirst %}
{% endblock %}

{% block header %}
  {% include 'libretto/evenement_item_head.html' %}
{% endblock %}

{% block autorite-content %}
  {% if not object.debut_date_approx %}
    {% addstatic metadata %}
      {% meta 'DC' 'date' object.debut_date scheme='DCTERMS.W3C-DTF' %}
    {% endaddstatic %}
  {% endif %}
  {% include 'libretto/evenement_item_body.html' %}
{% endblock %}


{% block sources %}{% endblock %}
