{% load i18n routines %}

<div class="auto-links">

  {% with distribution=evenement.distribution.prefetch.html|safe %}
    {% if distribution %}
      <p class="text-left">{{ distribution }}</p>
    {% endif %}
  {% endwith %}

  {% with elements=evenement.programme.all %}
    {% if elements %}
      <h3 class="programme_titre">{% trans "programme"|capfirst %}</h3>
      {% if elements|length == 1 %}
        {{ elements.0.html|safe }}
      {% else %}
        <table class="programme">
          {% for element in elements %}
            <tr>
              <td>
                {% if element.numerotation == 'O' %}
                  {{ element.numero }}.
                {% elif element.numerotation == 'B' %}
                  [{{ element.numero }}.]
                {% elif element.numerotation == 'U' %}
                  •&nbsp;
                {% endif %}
              </td>
              <td>
                {{ element.html|safe }}
              </td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}
    {% endif %}
  {% endwith %}

</div>

{% if evenement.notes_publiques %}
  <h4>{% trans 'notes'|capfirst %}</h4>
  <small>
    {{ evenement.notes_publiques|safe }}
  </small>
{% endif %}

{% published evenement.sources as sources %}
{% for type, sources in sources.prefetch.group_by_type %}
  <h3>
    {% if sources|length > 1 %}
      {{ type.pluriel|capfirst }}
    {% else %}
      {{ type|capfirst }}
    {% endif %}
  </h3>
  <div class="panel-group" id="type_{{ evenement.pk }}_{{ type.pk }}">
    {% for source in sources %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            {% if source.contenu or source.has_document or source.has_illustration %}
              <a class="col-xs-8 col-sm-9" data-toggle="collapse"
                 data-parent="#type_{{ evenement.pk }}_{{ type.pk }}"
                 href="#source_{{ evenement.pk }}_{{ source.pk }}"
                 onclick="load_source_content(this, {{ source.pk }});">
                {{ source.html|removetags:'a' }}
              </a>
            {% else %}
              <span class="col-xs-8 col-sm-9">
                {{ source.html|removetags:'a' }}
              </span>
            {% endif %}

            <aside class="col-xs-4 col-sm-3">
              {% frontend_admin source %}
            </aside>
          </div>
        </div>
        <div id="source_{{ evenement.pk }}_{{ source.pk }}"
             class="panel-collapse collapse">
          <div class="panel-body">
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endfor %}
