{% load i18n routines %}


<div class="well well-sm" itemscope itemtype="http://schema.org/Event">

  {% include "libretto/include/etat.html" with etat=evenement.etat %}

  {% frontend_admin evenement %}

  <meta itemprop="name" content="{{ evenement.get_meta_name|striptags }}" />

  <h2>
    <a href="{{ evenement.get_absolute_url }}" itemprop="url">
      <meta itemprop="startDate"
            content="{{ evenement.ancrage_debut.isoformat }}" />
        {{ evenement.ancrage_debut.calc_date|capfirst|safe }}
      {% if evenement.ancrage_fin %}
        −
        <meta itemprop="endDate"
              content="{{ evenement.ancrage_fin.isoformat }}" />
          {{ evenement.ancrage_fin.calc_date|safe }}
      {% endif %}
    </a>
  </h2>

  <div class="auto-links">

    <h4>
      {{ evenement.html|safe }}
    </h4>

    {% with distribution=evenement.distribution.prefetch.html|safe %}
      {% if distribution %}
        <p>{{ distribution }}</p>
      {% endif %}
    {% endwith %}

    {% with elements=evenement.programme.all %}
      {% if elements %}
        <h3 class="programme_titre">{% trans "programme"|capfirst %}</h3>
        {% if elements|length == 1 %}
          {{ elements.0.html|safe }}
        {% else %}
          <table class="programme">
            {% for element in elements %}
              <tr>
                <td>
                  {% if element.numerotation == 'O' %}
                    {{ element.numero }}.
                  {% elif element.numerotation == 'B' %}
                    [{{ element.numero }}.]
                  {% elif element.numerotation == 'U' %}
                    •&nbsp;
                  {% endif %}
                </td>
                <td>
                  {{ element.html|safe }}
                </td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}
      {% endif %}
    {% endwith %}

  </div>

  {% if evenement.notes %}
    <hr />
    <small>
      <h4>{% trans 'notes'|capfirst %}</h4>
      {{ evenement.notes|safe }}
    </small>
  {% endif %}

  {% for type, sources in evenement.sources_by_type %}
      {% if forloop.first %}
        <hr />
      {% endif %}
      <h3>
        {% if sources|length > 1 %}
          {{ type.pluriel|capfirst }}
        {% else %}
          {{ type|capfirst }}
        {% endif %}
      </h3>
      <div class="panel-group" id="type_{{ evenement.pk }}_{{ type.pk }}">
        {% for source in sources %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                {% if source.contenu or source.documents.exists or source.illustrations.exists %}
                  <a class="col-xs-8 col-sm-9 col-md-10" data-toggle="collapse"
                     data-parent="#type_{{ evenement.pk }}_{{ type.pk }}"
                     href="#source_{{ evenement.pk }}_{{ source.pk }}"
                     onmouseover="load_source_content(this, {{ source.pk }});">
                    {{ source.html|removetags:'a' }}
                  </a>
                {% else %}
                  <span class="col-xs-8 col-sm-9 col-md-10">{{ source.html|removetags:'a' }}</span>
                {% endif %}

                <span class="col-xs-4 col-sm-3 col-md-2">
                  {% frontend_admin source %}
                </span>
              </div>
            </div>
            <div id="source_{{ evenement.pk }}_{{ source.pk }}"
                 class="panel-collapse collapse">
              <div class="panel-body">
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}

</div>
