{% extends 'base.html' %}
{% load i18n static crispy_forms_tags humanize extras static_grouper %}


{% block header %}
  <h1>{% block title %}{% trans 'événements'|capfirst %}{% endblock %}</h1>
{% endblock %}


{% block content %}

  <div class="row">

    <div class="col-xs-12 col-sm-4 col-lg-3">
      <aside id="sidebar">
        {% crispy form %}
      </aside>
    </div>

    {% for css in form.media.render_css %}
      {% addstatic css %}{{ css }}{% endaddstatic %}
    {% endfor %}

    {% for js in form.media.render_js %}
      {% addstatic js %}{{ js }}{% endaddstatic %}
    {% endfor %}

    <div class="col-xs-12 col-sm-8 col-lg-9">

      {% if default_page %}
        <div class="row">
          <div class="col-md-5 col-md-offset-7">
            <div class="well">
              <h3>{% trans 'Comment filtrer ?' %}</h3>
              <p>
                {% blocktrans %}
                  Pour consulter les événements publiés dans Dezède,
                  qu’ils soient intégrés ou non dans un dossier,
                  il suffit de croiser les critères de sélection
                  en utilisant les outils et les différents champs :
                  champs de recherche libre, réglage de la période chronologique,
                  sélection par année civile ou par saison,
                  champs de lieu, d’œuvre, d’individu et d’ensemble.
                  Plusieurs éléments peuvent être sélectionnés
                  dans chacun des quatre derniers champs.
                  Pour consulter la totalité de la chronologie,
                  cliquez sur « Filtrer » sans remplir les champs.
                {% endblocktrans %}
              </p>
            </div>
          </div>
        </div>
      {% else %}
        {% with count=evenements.count %}
          {% if count %}
            <div class="pull-right">
              {% if user.is_authenticated %}
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    {% trans 'Exporter' %} <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{% export_request 'json' %}">JSON</a></li>
                    <li><a href="{% export_request 'csv' %}">CSV</a></li>
                    <li><a href="{% export_request 'xlsx' %}">XLSX</a></li>
                  </ul>
                </div>
              {% endif %}
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  {% trans 'Ordonner par' %} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li class="{% if request.GET.order_by == None %}active{% endif %}">
                      <a href="{% change_results_order %}">
                        {% trans 'Date puis lieu (croissants)' %}
                      </a>
                  </li>
                  <li class="{% if request.GET.order_by == 'reversed' %}active{% endif %}">
                    <a href="{% change_results_order 'reversed' %}">
                      {% trans 'Date puis lieu (décroissants)' %}
                    </a>
                  </li>
                </ul>
              </div>
              {% if user.is_authenticated %}
                {% if request.GET.show_map == 'True' %}
                  <a href="{% map_request show_map=False %}" class="btn btn-default">
                    {% trans 'Masquer la carte' %}
                  </a>
                {% else %}
                  <a href="{% map_request %}" class="btn btn-primary">
                    {% trans 'Afficher la carte' %}
                  </a>
                {% endif %}
              {% endif %}
            </div>
            <h3>
              {{ count|apnumber }}
              {% blocktrans count counter=count %}résultat{% plural %}résultats{% endblocktrans %}
            </h3>
            {% if user.is_authenticated and request.GET.show_map == 'True' %}
              {% include 'libretto/include/map.html' %}
            {% endif %}
          {% endif %}
        {% endwith %}

        {% include page_template %}
      {% endif %}

    </div>

  </div>

  {% addstatic js %}
    <script src="{% static 'js/run_affix.js' %}"></script>
  {% endaddstatic %}
  {% addstatic js %}
    <script>
      $(function () {
        $.endlessPaginate({
          paginateOnScroll: true,
          paginateOnScrollMargin: 200,
          onCompleted: function () {
            tooltips_create();
          }
        });

        function get_url_kwarg(name, default_value) {
          return decodeURI(
            (new RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)
             || [,default_value])[1]
          );
        }

        function is_current_page($object) {
          if ($object[0] == undefined) {
            return false;
          }
          var scroll = $(window).scrollTop();
          var top = $object.offset().top;
          var height = $object.height();
          {# When the window scroll is above the first page, we consider #}
          {# we're in the first page #}
          if (scroll < top && $object.prev('.page')[0] == undefined) {
            return true;
          }
          return top <= scroll && scroll < top + height;
        }

        var $current_page = $('.page').first();

        function update_url() {
          {# Checks whether the current page according to the URL is #}
          {# the real current page, in order to avoid useless updates #}
          var selector = '.page[data-page=' + get_url_kwarg('page', 1) + ']';
          if (is_current_page($(selector))) {
            return;
          }
          {# Iterates over pages to find the current page and update URL #}
          $('.page').each(function () {
            var $page = $(this);
            if (is_current_page($page)) {
              $current_page = $page;
              {# Updates URL #}
              window.history.replaceState(
                {},
                '',  {# title, unused for now in any browser #}
                $.query.set('page', $page.data('page')));
              return false;  {# breaks the `each` loop #}
            }
            return true;  {# continues the `each` loop #}
          });
        }

        {# Dynamically updates URL page number #}
        $(window).scroll(function () {
          {# Adds a timeout to update URL after a small idle moment #}
          $.doTimeout('scroll', 300, update_url);
        });

        {# Avoids anoying jumps when reloading the page #}
        $(window).bind('unload', function() {
          var $window = $(this);
          var current_page_offset = ($current_page.offset().top
                                     - $('.page').first().offset().top);
          $window.scrollTop($window.scrollTop() - current_page_offset);
        });
      });
    </script>
  {% endaddstatic %}

{% endblock %}
