{% extends 'base.html' %}
{% load i18n static sekizai_tags crispy_forms_tags humanize %}
{% load url from future %}


{% block header %}
  <h1>{% block title %}{% trans 'événements'|capfirst %}{% endblock %}</h1>
{% endblock %}


{% block content %}

  <div class="row">

    <div class="col-xs-12 col-sm-4 col-lg-3">
      <aside id="sidebar">
        {% crispy form %}
      </aside>
    </div>

    <div class="col-xs-12 col-sm-8 col-lg-9">

      <h3>
        {% if evenements %}
          {% with count=evenements.count %}
            {{ count|apnumber }}
            {% blocktrans count counter=count %}résultat{% plural %}résultats
            {% endblocktrans %}
          {% endwith %}
        {% endif %}
      </h3>

      {% include page_template %}

    </div>

  </div>

  {% addtoblock 'js' %}
    <script src="{% static 'js/run_affix.js' %}"></script>
  {% endaddtoblock %}
  {% addtoblock 'js' %}
    <script src="{% static 'endless_pagination/js/endless-pagination.js' %}"
            charset="utf-8"></script>
  {% endaddtoblock %}
  {% addtoblock 'js' %}
    <script>
      $.endlessPaginate({
        paginateOnScroll: true,
        paginateOnScrollMargin: 200
      });
    </script>
  {% endaddtoblock %}

{% endblock %}
