{% load i18n routines %}

<div class="auto-links">

  {% with distribution=evenement.distribution.html|safe %}
    {% if distribution %}
      <p class="text-left">{{ distribution }}</p>
    {% endif %}
  {% endwith %}

  {% with elements=evenement.programme.fill_numeros %}
    {% if elements %}
      <h3 class="programme_titre">
        {% trans 'programme'|capfirst %}
        {% if evenement.programme_incomplet %}
          <small>[{% trans 'incomplet' %}]</small>
        {% endif %}
      </h3>
      <table class="programme">
        {% for element in elements %}
          <tr>
            {% if elements|length > 1 %}
              <th>
                {% if element.numerotation == 'O' %}
                  {{ element.numero }}.
                {% elif element.numerotation == 'B' %}
                  [{{ element.numero }}.]
                {% elif element.numerotation == 'U' %}
                  •&nbsp;
                {% endif %}
              </th>
            {% endif %}
            <td>
              {{ element.html|safe }}
            </td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  {% endwith %}

</div>

{% if evenement.recette_generale %}
  <h4>{% trans 'recette générale'|capfirst %}</h4>
  <small>
    {{ evenement.recette_generale }} ({% trans 'devise locale' %})
  </small>
{% endif %}

{% if evenement.notes_publiques %}
  <h4>{% trans 'notes'|capfirst %}</h4>
  <small>
    {{ evenement.notes_publiques|safe }}
  </small>
{% endif %}

{% include 'libretto/include/sources.html' with sources=evenement.sources.all %}
