{% extends "base.html" %}
{% load i18n extras routines %}
{% load url from future %}

{% block title %}
  {{ individu }}
{% endblock %}

{% block body %}

  {% include "libretto/include/etat.html" with etat=individu.etat %}

  <div class="page-header">
    {% frontend_admin autorite=1 %}
    <h1>
      {{ individu.nom_complet }}
      {% with professions_count=individu.professions.count %}
        {% if professions_count %}
          <small title="{% filter capfirst %}{% blocktrans count counter=professions_count %}profession{% plural %}professions{% endblocktrans %}{% endfilter %}">
            {{ individu.calc_professions }}
          </small>
        {% endif %}
      {% endwith %}
    </h1>
    <h3>
      {% if individu.naissance or individu.deces %}
        <span title="{% trans "naissance"|capfirst %}">
          {{ individu.naissance_html }}
        </span>
        &ndash;
        <span title="{% trans "décès"|capfirst %}">
          {{ individu.deces_html }}
        </span>
      {% elif individu.ancrage %}
        <span title="{% trans "ancrage spatio-temporel"|capfirst %}">
          {{ individu.ancrage }}
        </span>
      {% endif %}
    </h3>
  </div>

  <div class="span3 pull-right">
    {% include 'libretto/include/illustrations.html' %}
  </div>

  <table class="data-table">
    {% data_table_attr 'nom_naissance' %}
    {% data_table_attr 'biographie' %}

    {% data_table_list individu.oeuvres %}
    {% data_table_list individu.apparitions %}
    {% data_table_list individu.publications 'html' %}


    {% regroup individu.parentes.all by type as parentes_list %}
    {% for parentes in parentes_list %}
      {% data_table_list parentes.list 'parent.html' verbose_name=parentes.grouper.nom verbose_name_plural=parentes.grouper.pluriel number_if_one=False %}
    {% endfor %}

    {% regroup individu.enfances.all by type as enfances_list %}
    {% for enfances in enfances_list %}
      {% data_table_list enfances.list 'enfant.html' verbose_name=enfances.grouper.nom_relatif verbose_name_plural=enfances.grouper.relatif_pluriel number_if_one=False %}
    {% endfor %}


    {% data_table_attr 'notes' %}

    {% data_table_list individu.documents.all %}
  </table>

{% endblock %}
