{% extends "base.html" %}
{% load i18n %}
{% load extras routines %}
{% load url from future %}

{% block title %}
  {{ individu }}
{% endblock %}

{% block body %}

  {% include "libretto/include/etat.html" with etat=individu.etat %}

  <div class="page-header">
    {% frontend_admin autorite=1 %}
    <h1>
      {{ individu.nom_complet }}
      {% if individu.professions.exists %}
        <small title="{% filter capfirst %}{% blocktrans count counter=individu.professions.count %}profession{% plural %}professions{% endblocktrans %}{% endfilter %}">
          {{ individu.calc_professions }}
        </small>
      {% endif %}
    </h1>
    <h3>
      {% if individu.naissance or individu.deces %}
        <span title="{% trans "naissance"|capfirst %}">
          {{ individu.naissance_html }}
        </span>
        &ndash;
        <span title="{% trans "décès"|capfirst %}">
          {{ individu.deces_html }}
        </span>
      {% elif individu.ancrage %}
        <span title="{% trans "ancrage spatio-temporel"|capfirst %}">
          {{ individu.ancrage }}
        </span>
      {% endif %}
    </h3>
  </div>

  <div class="span3 pull-right">
    {% include 'libretto/include/illustrations.html' %}
  </div>

  <table class="data-table">
    {% data_table_attr 'nom_naissance' %}
    {% data_table_attr 'biographie' %}

    {% data_table_list individu.oeuvres %}
    {% data_table_list individu.apparitions %}
    {% data_table_list individu.publications 'html' %}


    {% regroup individu.parentes.all by type as parentes_list %}
    {% for parentes in parentes_list %}
      <th>
        {% if parentes.list|length_is:'1' %}
          {{ parentes.grouper.nom|capfirst }}
        {% else %}
          {{ parentes.grouper.pluriel|capfirst }}
        {% endif %}
      </th>
      {% for parente in parentes.list %}
        <td>{{ parente.parent.html }}</td>
      {% endfor %}
    {% endfor %}

    {% regroup individu.enfances.all by type as enfances_list %}
    {% for enfances in enfances_list %}
      <th>
        {% if enfances.list|length_is:'1' %}
          {{ enfances.grouper.nom_relatif|capfirst }}
        {% else %}
          {{ enfances.grouper.relatif_pluriel|capfirst }}
        {% endif %}
      </th>
      {% for parente in enfances.list %}
        <td>{{ parente.enfant.html }}</td>
      {% endfor %}
    {% endfor %}


    {% data_table_attr 'notes' %}

    {% data_table_list individu.documents.all %}
  </table>

{% endblock %}
