{% extends 'libretto/autorite.html' %}
{% load i18n extras routines %}


{% block header %}
  <h1>
    {{ individu.nom_complet }}
  </h1>
  <div class="auto-links">
    <h3>
      {% if individu.naissance or individu.deces %}
        <span title="{% trans "naissance"|capfirst %}">
          {{ individu.naissance.short_html }}
        </span>
        &ndash;
        <span title="{% trans "décès"|capfirst %}">
          {{ individu.deces.short_html }}
        </span>
      {% endif %}
    </h3>
    {% with professions_count=individu.professions.count %}
      {% if professions_count %}
        <h4>
          <span title="{% filter capfirst %}{% blocktrans count counter=professions_count %}profession{% plural %}professions{% endblocktrans %}{% endfilter %}">
            {{ individu.calc_professions }}
          </span>
        </h4>
      {% endif %}
    {% endwith %}
  </div>
{% endblock %}


{% block autorite-content %}

  <table class="data-table auto-links">
    {% data_table_attr 'nom_naissance' %}
    {% data_table_attr 'biographie' %}

    {% data_table_list individu.oeuvres.prefetch_all %}
    {% data_table_list individu.membre_de 'ensemble_html' verbose_name=_('ensemble') verbose_name_plural=_('ensembles') %}
    {% data_table_list individu.parties_creees.all verbose_name=_('création') verbose_name_plural=_('créations') %}
    {% evenement_list_def individu.apparitions verbose_name=_('apparition') verbose_name_plural=_('apparitions') %}
    {% evenement_list_def individu.evenements_referents %}
    {% data_table_list individu.publications 'html' %}


    {# FIXME: regrouper les parentés et enfance pour des histoires #}
    {# de classement (voir le cas de Maria Malibran) #}
    {% regroup individu.parentes.all by type as parentes_list %}
    {% for parentes in parentes_list %}
      {% data_table_list parentes.list 'parent.html' verbose_name=parentes.grouper.nom verbose_name_plural=parentes.grouper.pluriel has_count_if_one=False %}
    {% endfor %}

    {% regroup individu.enfances.all by type as enfances_list %}
    {% for enfances in enfances_list %}
      {% data_table_list enfances.list 'enfant.html' verbose_name=enfances.grouper.nom_relatif verbose_name_plural=enfances.grouper.relatif_pluriel has_count_if_one=False %}
    {% endfor %}


    {% data_table_attr 'notes_publiques' _('notes') %}
  </table>

{% endblock %}
