{% extends 'libretto/autorite.html' %}
{% load i18n routines %}
{% load url from future %}


{% block header %}
  <h1>
    {{ lieu.nom }}{% if lieu.parent %}, <a href="{{ lieu.parent.get_absolute_url }}">{{ lieu.parent }}</a>{% endif %}
  </h1>
  <div class="auto-links">
    <h2>
      <span title="{% trans "nature"|capfirst %}">
        {{ lieu.nature|capfirst }}
      </span>
    </h2>
  </div>
{% endblock %}


{% block content %}

  {{ block.super }}

  <table class="data-table auto-links">
    {% if lieu.get_children|has_elements:request %}
      <th>{% trans 'Lieux contenus' %}</th>
      <td>{% jqtree 'lieu' 'nom' %}</td>
    {% endif %}
    {% data_table_attr 'historique' %}
    {% include "libretto/evenement_list_def.html" with evenements=lieu.evenements %}
    {% data_table_list lieu.individus_nes verbose_name=_('individu né ici') verbose_name_plural=_('individus nés ici') %}
    {% data_table_list lieu.individus_decedes verbose_name=_('individu décédé ici') verbose_name_plural=_('individus décédés ici') %}
    {% data_table_list lieu.oeuvres_creees verbose_name=_('œuvre créée ici') verbose_name_plural=_('œuvres créées ici') %}
    {% data_table_attr 'notes' %}

    {% data_table_list lieu.documents.all %}
  </table>

{% endblock %}
