{% extends 'libretto/autorite.html' %}
{% load i18n routines %}


{% block header %}
  <h1>
    {{ oeuvre.titre_html }}
  </h1>
  <div class="auto-links">
    <h2>
      {{ oeuvre.description_html }}
    </h2>
    {% with auteurs_html=oeuvre.auteurs_html %}
      {% if auteurs_html %}
        <h3>
          {{ auteurs_html }}
        </h3>
      {% endif %}
    {% endwith %}
    {% if oeuvre.creation %}
      <h4>
        <span title="{{ oeuvre.get_creation_type_display|capfirst }}">
          {{ oeuvre.creation.html }}
        </span>
      </h4>
    {% endif %}
  </div>
{% endblock %}


{% block autorite-content %}

  <table class="data-table auto-links">
    {% data_table_attr 'pupitres_html' _('effectif') %}
    {% data_table_attr 'ambitus_html' _('ambitus') info_link='https://en.wikipedia.org/wiki/Scientific_pitch_notation' info_title=_('do 4 est le do central du piano (notation scientifique internationale)') %}

    {% if oeuvre.get_children|has_elements:request %}
      <th>{% trans 'Extraits' %}</th>
      <td>{% jqtree 'libretto.oeuvre' 'short_html' %}</td>
    {% endif %}

    {% evenement_list_def oeuvre.evenements.distinct %}
    {% data_table_list oeuvre.dedicataires.all verbose_name=_('Dédié à') verbose_name_plural=_('Dédié à') has_count=False %}
    {% data_table_attr 'notes_publiques' _('notes') %}

    {% regroup oeuvre.parentes_meres.meres_en_ordre by type as parentes_list %}
    {% for parentes in parentes_list %}
      {% data_table_list parentes.list 'mere.html' verbose_name=parentes.grouper.nom verbose_name_plural=parentes.grouper.pluriel has_count=False %}
    {% endfor %}

    {% regroup oeuvre.parentes_filles.filles_en_ordre by type as parentes_list %}
    {% for parentes in parentes_list %}
      {% data_table_list parentes.list 'fille.html' verbose_name=parentes.grouper.nom_relatif verbose_name_plural=parentes.grouper.relatif_pluriel has_count=False %}
    {% endfor %}

    {% if user.is_authenticated %}
      {% data_table_list oeuvre.oeuvres_associees '_link_with_number' _('œuvre associée') _('œuvres associées') %}
    {% endif %}
  </table>

{% endblock %}
