{% extends "base.html" %}
{% load i18n routines %}
{% load url from future %}


{% block title %}
  {{ oeuvre }}
{% endblock %}


{% block header %}
  <h1>
    {{ oeuvre.titre_html }}
  </h1>
  <div class="auto-links">
    <h2>
      {{ oeuvre.description_html }}
    </h2>
    <h3>
      {{ oeuvre.auteurs_html }}
    </h3>
    <h3>
      <span title="{% trans 'Création' %}">
        {{ oeuvre.ancrage_creation.html|default:'' }}
      </span>
    </h3>
    <h4>
      <table class="data-table">
        {% regroup oeuvre.parentes_meres.meres_en_ordre by type as parentes_list %}
        {% for parentes in parentes_list %}
          {% data_table_list parentes.list 'mere.html' verbose_name=parentes.grouper.nom verbose_name_plural=parentes.grouper.pluriel has_count=False %}
        {% endfor %}
      </table>
    </h4>
  </div>
{% endblock %}


{% block header-aside %}
  {% frontend_admin %}
{% endblock %}


{% block content %}

  {{ block.super }}

  <table class="data-table auto-links">
    {% data_table_attr 'pupitres_html' _('effectif') %}

    {% if oeuvre.get_children|has_elements:request %}
      <th>{% trans 'Contenu' %}</th>
      <td>{% jqtree 'oeuvre' 'short_html' %}</td>
    {% endif %}

    {% include "libretto/evenement_list_def.html" with evenements=oeuvre.evenements.distinct %}
    {% data_table_attr 'notes' %}

    {% regroup oeuvre.parentes_filles.filles_en_ordre by type as parentes_list %}
    {% for parentes in parentes_list %}
      {% data_table_list parentes.list 'fille.html' verbose_name=parentes.grouper.nom_relatif verbose_name_plural=parentes.grouper.relatif_pluriel has_count=False %}
    {% endfor %}


    {% data_table_list oeuvre.documents.all %}
  </table>

{% endblock %}
