{% extends 'libretto/autorite.html' %}
{% load i18n routines %}


{% block header %}
  <h1>
    <a href="{{ partie.get_absolute_url }}">
      {{ partie|capfirst }}
    </a>
  </h1>
{% endblock %}


{% block autorite-content %}

  <table class="data-table auto-links">
    {% data_table_attr 'oeuvre.link' _('œuvre liée') %}
    {% data_table_list partie.professions.all %}
    {% if object.premier_interprete.is_feminin %}
      {% data_table_attr 'premier_interprete.link' verbose_name=_('Créatrice du rôle') %}
    {% else %}
      {% data_table_attr 'premier_interprete.link' verbose_name=_('Créateur du rôle') %}
    {% endif %}
    {% data_table_list partie.interpretes verbose_name=_('interprète') verbose_name_plural=_('interprètes') %}
    {% data_table_list partie.repertoire %}
    {% data_table_list partie.evenements %}
    {% data_table_attr 'parent.link' _('parent') %}

    {% if partie.enfants.all|has_elements:request %}
      <th>{% trans 'Contenu' %}</th>
      <td>{% jqtree 'libretto.partie' %}</td>
    {% endif %}

    {% data_table_attr 'notes_publiques' _('notes') %}

  </table>

{% endblock %}
