{% extends "base.html" %}
{% load i18n routines %}
{% load url from future %}


{% block title %}
  {{ profession|capfirst }}
{% endblock %}


{% block header %}
  <h1>
    {{ profession.pretty_link }}
  </h1>
{% endblock %}


{% block header-aside %}
  {% frontend_admin %}
{% endblock %}


{% block content %}

  {% include "libretto/include/etat.html" with etat=profession.etat %}

  <table class="data-table">

    {% data_table_list profession.parties.all %}
    {% data_table_list profession.individus.all %}
    {% data_table_list profession.elements_de_distribution.evenements %}
    {% data_table_list profession.auteurs.oeuvres %}
    {% data_table_list profession.auteurs.sources %}
    {% data_table_attr 'parent.link' _('parent') %}

    {% if profession.get_children|has_elements:request %}
      <th>{% trans 'Contenu' %}</th>
      <td>{% jstree 'profession' %}</td>
    {% endif %}

  </table>

{% endblock %}
