{% extends 'libretto/autorite.html' %}
{% load i18n routines %}
{% load url from future %}


{% block header %}
  <h1>{{ profession.pretty_link }}</h1>
{% endblock %}


{% block content %}

  {{ block.super }}

  <table class="data-table auto-links">

    {% data_table_list profession.parties.all %}
    {% data_table_list profession.individus.all %}
    {% data_table_list profession.elements_de_distribution.evenements %}
    {% data_table_list profession.auteurs.oeuvres %}
    {% data_table_list profession.auteurs.sources %}
    {% data_table_attr 'parent.link' _('parent') %}

    {% if profession.get_children|has_elements:request %}
      <th>{% trans 'Contenu' %}</th>
      <td>{% jqtree 'profession' %}</td>
    {% endif %}

  </table>

{% endblock %}
