{% extends 'libretto/autorite.html' %}
{% load i18n extras routines %}


{% block header %}
  <h1>
    {{ source.pretty_title|removetags:'a' }}
  </h1>
  <div class="auto-links">
    <h3>
      {{ source.type|capfirst }}
    </h3>
    {% if source.legende %}
      <h4 class="modal-title">
        {{ source.legende }}
      </h4>
    {% endif %}
  </div>
{% endblock %}


{% block autorite-content %}

  {% include 'libretto/source_content.html' %}

  <table class="data-table auto-links">
    {% evenement_list_def source.evenements.all %}
    {% data_table_list source.oeuvres.all %}
    {% data_table_list source.individus.all %}
    {% data_table_list source.ensembles.all %}
    {% data_table_list source.lieux.all %}
    {% data_table_list source.parties.all %}

    {% data_table_attr 'notes_publiques' _('notes') %}
  </table>

{% endblock %}


{% block sources %}{% endblock %}
