{% load thumbnail i18n static_grouper routines static %}

{% with specific=source.specific %}
  {% if source.is_audio or source.is_video or source.is_other %}
    <ul class="list-unstyled">

      {% if source.is_audio %}
        <li>
          <audio controls preload="auto">
            {% if request.user.is_authenticated or not specific.extrait_ogg and not specific.extrait_mpeg %}
              {% include 'libretto/audio_source.html' with fichier=specific.fichier_ogg mimetype='audio/ogg' %}
              {% include 'libretto/audio_source.html' with fichier=specific.fichier_mpeg mimetype='audio/mpeg' %}
            {% else %}
              {% include 'libretto/audio_source.html' with fichier=specific.extrait_ogg mimetype='audio/ogg' %}
              {% include 'libretto/audio_source.html' with fichier=specific.extrait_mpeg mimetype='audio/mpeg' %}
            {% endif %}
          </audio>
        </li>
      {% endif %}

      {% if source.is_video %}
        <li>
          <video width="640" height="360" controls preload="auto">
            {% if request.user.is_authenticated or not specific.extrait_ogg and not specific.extrait_mpeg %}
              {% include 'libretto/video_source.html' with fichier=specific.fichier_ogg mimetype='video/ogg' width=specific.largeur height=specific.hauteur %}
              {% include 'libretto/video_source.html' with fichier=specific.fichier_mpeg mimetype='video/mp4' width=specific.largeur height=specific.hauteur %}
            {% else %}
              {% include 'libretto/video_source.html' with fichier=specific.extrait_ogg mimetype='video/ogg' width=specific.largeur_extrait height=specific.hauteur_extrait %}
              {% include 'libretto/video_source.html' with fichier=specific.extrait_mpeg mimetype='video/mp4' width=specific.largeur_extrait height=specific.hauteur_extrait %}
            {% endif %}
          </video>
        </li>
      {% endif %}

      {% addstatic js %}
        <script>
          function getModalOpener (media) {
            var modalId = $(media).parents('.modal')[0].id;
            return $('[data-target="#' + modalId + '"]');
          }
          (function ($) {
            $('audio, video').off('play').on('play', function (e) {
              $('audio, video').not(this).trigger('pause');
              getModalOpener(this).addClass('active');
              this.play();
              e.preventDefault();
            }).off('pause').on('pause', function (e) {
              this.pause();
              getModalOpener(this).removeClass('active');
              e.preventDefault();
            });
          })(jQuery);
        </script>
      {% endaddstatic %}

    </ul>
  {% elif source.is_collection %}
    <div class="row bibliotheque">
      {% for source in source.children.all %}
        {% include 'libretto/include/bibliotheque_source.html' %}
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}


<div id="react"></div>
<div class="source-view" data-id="{{ source.pk }}"></div>
{% addstatic js %}
  <script src="{% static 'js/bundle.min.js' %}"></script>
{% endaddstatic %}


{% addstatic js %}
  <script>
    tooltips_reload();
  </script>
{% endaddstatic %}
