{% load routines i18n static_grouper %}

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"
          title="{% trans 'Fermer' %}" data-placement="bottom">
    <span aria-hidden="true"><i class="fa fa-close"></i></span>
    <span class="sr-only">{% trans 'Fermer' %}</span>
  </button>
  {% frontend_admin source %}
  <h3 class="modal-title">{{ source.html }}</h3>
  <h4 class="modal-title">
    {{ source.type|capfirst }}
  </h4>
  {% if source.legende %}
    <h5 class="modal-title">
      {{ source.legende }}
    </h5>
  {% endif %}
</div>
<div class="modal-body">
  {% include 'libretto/source_content.html' %}
</div>

{% static_list js compress %}
R