{% extends 'libretto/autorite.html' %}
{% load i18n extras routines %}


{% block header %}
  <h1>
    {{ source.pretty_title|removetags:'a' }}
  </h1>
  <div class="auto-links">
    <h3>
      {{ source.type|capfirst }}
    </h3>
    {% if source.legende %}
      <h4 class="modal-title">
        {{ source.legende }}
      </h4>
    {% endif %}
  </div>
{% endblock %}


{% block autorite-content %}
  <ul class="nav nav-tabs nav-justified autorite-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#contenu" aria-controls="content" role="tab" data-toggle="tab">
        {% trans 'Consulter' %}
      </a>
    </li>
    <li role="presentation">
      <a href="#index" aria-controls="index" role="tab" data-toggle="tab">
        {% trans 'Index' %}
      </a>
    </li>
  </ul>

  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="contenu">
      {% include 'libretto/source_content.html' %}
    </div>

    <div role="tabpanel" class="tab-pane" id="index">
      <table class="data-table auto-links">
        {% data_table_attr 'parent.html' _('source parente') %}

        {% evenement_list_def source.evenements.all %}
        {% data_table_list source.oeuvres.all %}
        {% data_table_list source.individus.all %}
        {% data_table_list source.ensembles.all %}
        {% data_table_list source.lieux.all %}
        {% data_table_list source.parties.all %}

        {% data_table_attr 'notes_publiques' _('notes') %}
      </table>
    </div>

  </div>

{% endblock %}


{% block sources %}{% endblock %}
