{% extends 'libretto/autorite.html' %}
{% load i18n extras routines %}


{% block header %}
  <h1>
    {{ source.pretty_title }}
  </h1>
  <div class="auto-links">
    <h3>
      {{ source.type|capfirst }}
    </h3>
    {% if source.legende %}
      <h4 class="modal-title">
        {{ source.legende }}
      </h4>
    {% endif %}
  </div>
{% endblock %}


{% block autorite-content %}
  <ul class="nav nav-tabs nav-justified autorite-tabs" role="tablist">
    {% if source.has_presentation_tab %}
      <li role="presentation">
        <a href="#presentation" aria-controls="presentation" role="tab" data-toggle="tab">
          {% trans 'Présentation' %}
        </a>
      </li>
    {% endif %}
    <li role="presentation"{% if not request.GET %} class="active"{% endif %}>
      <a href="#contenu" aria-controls="contenu" role="tab" data-toggle="tab">
        {% trans 'Consulter' %}
      </a>
    </li>
    {% if source.has_index_tab %}
      <li role="presentation"{% if request.GET %} class="active"{% endif %}>
        <a href="#index" aria-controls="index" role="tab" data-toggle="tab">
          {% trans 'Index' %}
        </a>
      </li>
    {% endif %}
  </ul>

  <div class="tab-content">
    {% if source.has_presentation_tab %}
      <div role="tabpanel" class="tab-pane" id="presentation">
        {% trans 'Pour citer cette source' as citation_title %}
        {% include 'dossiers/include/dossierdevenements_content.html' %}
      </div>
    {% endif %}

    <div role="tabpanel" class="tab-pane{% if not request.GET %} active{% endif %}" id="contenu">
      {% include 'libretto/source_content.html' %}
    </div>

    {% if source.has_index_tab %}
      <div role="tabpanel" class="tab-pane{% if request.GET %} active{% endif %}" id="index">
        <table class="data-table auto-links">
          {% data_table_attr 'parent.html' _('source parente') %}
          {% data_table_attr 'auteurs_html' _('auteur(s)') %}

          {% data_table_list source.nested_individus %}
          {% data_table_list source.nested_oeuvres %}
          {% data_table_list source.nested_parties %}
          {% data_table_list source.nested_lieux %}
          {% evenement_list_def source.nested_evenements %}
          {% data_table_list source.nested_ensembles %}

          {% data_table_attr 'notes_publiques' _('notes') %}
        </table>
      </div>
    {% endif %}

  </div>

{% endblock %}


{% block sources %}{% endblock %}
