{% extends 'base.html' %}
{% load static_grouper %}


{% block header %}
  <h1>
    {% block title %}Formation à la transcription de source{% endblock %}
  </h1>
  {% if not success %}
    <h3>Étape {{ level }} sur {{ max_level }}</h3>
  {% endif %}
{% endblock %}


{% block content %}
  {% addstatic css %}
    {{ form.media.css }}
  {% endaddstatic %}
  {% addstatic js nocompress %}
    <script>var django = {jQuery: $};</script>
    {{ form.media.js }}
  {% endaddstatic %}

  {% if success %}
    <div class="alert alert-success">
      Félicitations ! La transcription est parfaite :)
    </div>
    <a href="{% url 'source_examen' %}" class="btn btn-primary">
      Passer à l’étape {{ level }} sur {{ max_level }}
    </a>
  {% else %}

    <div class="alert alert-info">
      <h4>Instructions</h4>
      <p>{{ help }}</p>
    </div>

    {% if errors %}
      <div class="alert alert-{% if score < 10 %}danger{% else %}warning{% endif %}" role="alert">
        <h4>
          {% if score < 5 %}
            Très insuffisant
          {% elif score < 10 %}
            Insuffisant
          {% elif score < 15 %}
            Bien ! Plus que quelques erreurs à corriger
          {% elif score < 20 %}
            Très bien ! Encore un tout petit effort
          {% endif %}
        </h4>
        Vérifiez bien les détails suivants :
        <ul>
          {% for name in errors %}
            <li>
              {{ name }}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <h3>Source à transcrire</h3>
    {% for fichier in source.fichiers.group_by_type.images %}
      <img src="{{ fichier.fichier.url }}" />
    {% endfor %}

    <br /><br />

    <h3>Transcription</h3>


    {% if request.POST %}
      <blockquote class="submitted-transcription">
        {{ diff_html }}
      </blockquote>
    {% endif %}

    <form method="POST">
      {% csrf_token %}
      {{ form.level }}
      {{ form.source }}
      {{ form.transcription }}
      <br />
      <button type="submit" class="btn btn-primary">Vérifier</button>
      {% if level > 1 %}
        <button type="submit" name="previous" value="true" class="btn btn-default">
          Retour à l’étape précédente
        </button>
      {% endif %}
    </form>
  {% endif %}
{% endblock %}
