{% extends 'base.html' %}
{% load static_grouper %}


{% block header %}
  <h1>
    {% block title %}Formation à la transcription de source{% endblock %}
  </h1>
  {% if not success %}
    <h3>Étape {{ level }} sur {{ max_level }}</h3>
  {% endif %}
{% endblock %}


{% block content %}
  {% addstatic css %}
    {{ form.media.css }}
  {% endaddstatic %}
  {% addstatic js nocompress %}
    <script>var django = {jQuery: $};</script>
    {{ form.media.js }}
  {% endaddstatic %}

  {% if success %}
    <div class="alert alert-success">
      Félicitations ! La transcription est parfaite :)
    </div>
    <a href="{% url 'source_examen' %}" class="btn btn-primary">
      Passer à l’étape {{ level }} sur {{ max_level }}
    </a>
  {% else %}

    <div class="alert alert-info">
      <h4>Instructions</h4>
      <p>{{ help }}</p>
    </div>

    {% if request.POST %}
      <h3>Transcription envoyée</h3>

      {% if errors %}
        <div class="alert alert-{% if score < 0.5 %}danger{% else %}warning{% endif %}" role="alert">
            {% if score < 0.25 %}
              Très insuffisant
            {% elif score < 0.5 %}
              Insuffisant
            {% elif score < 0.75 %}
              Bien ! Plus que quelques erreurs à corriger
            {% elif score < 1.0 %}
              Très bien ! Encore un tout petit effort
            {% endif %}
        </div>
      {% endif %}

      <blockquote class="submitted-transcription">
        {{ diff_html }}
      </blockquote>
    {% endif %}

    <h3>Source à transcrire</h3>
    {% for fichier in source.fichiers.group_by_type.images %}
      <img src="{{ fichier.fichier.url }}" />
    {% endfor %}

    <h3>Transcription</h3>

    <form method="POST">
      {% csrf_token %}
      {{ form.level }}
      {{ form.source }}
      {{ form.transcription }}
      <br />
      <button type="submit" class="btn btn-primary">Vérifier</button>
      {% if level > 1 %}
        <button type="submit" name="previous" value="true" class="btn btn-default">
          Retour à l’étape précédente
        </button>
      {% endif %}
    </form>
  {% endif %}
{% endblock %}
