{% extends 'base.html' %}
{% load static_grouper %}


{% block header %}
  <h1>
    {% block title %}Formation à la transcription de source{% endblock %}
  </h1>

  <h3>Étape {{ level.number }} sur {{ max_level_number }}</h3>
{% endblock %}


{% block content %}
  {% addstatic css %}
    {{ form.media.css }}
  {% endaddstatic %}
  {% addstatic js nocompress %}
    <script>var django = {jQuery: $};</script>
    {{ form.media.js }}
  {% endaddstatic %}

  <div class="alert alert-info">
    <h4>Instructions</h4>
    <p>{{ level.help_message }}</p>
  </div>

  {% if last_taken_level.was_sent and not last_taken_level.passed %}
    <h3>Transcription envoyée</h3>

    <div class="alert alert-{% if last_taken_level.score < 0.5 %}danger{% else %}warning{% endif %}" role="alert">
        {% if last_taken_level.score < 0.25 %}
          Très insuffisant
        {% elif last_taken_level.score < 0.5 %}
          Insuffisant
        {% elif last_taken_level.score < 0.75 %}
          Bien ! Plus que quelques erreurs à corriger
        {% elif last_taken_level.score < 1.0 %}
          Très bien ! Encore un tout petit effort
        {% endif %}
    </div>

    <blockquote class="submitted-transcription">
      {{ object.diff_html }}
    </blockquote>
  {% endif %}

  <h3>Source à transcrire</h3>
  {% for fichier in source.fichiers.group_by_type.images %}
    <img src="{{ fichier.fichier.url }}" />
  {% endfor %}

  <h3>Transcription</h3>

  <form method="POST">
    {% csrf_token %}
    {{ form.transcription }}
    <br />
    <button type="submit" class="btn btn-primary">Vérifier</button>
  </form>
{% endblock %}
