@import '../bootstrap/less/bootstrap.less';
@import '../bootstrap/less/responsive-utilities.less';

// Bootstrap variables

@icon-font-path: '../bootstrap/fonts/';

@font-size-base:    15px;
@font-family-serif: 'Gentium Basic', 'Georgia', serif;
@font-family-base:  @font-family-serif;

@brand-primary:           spin(lighten(desaturate(@body-bg, 20%), 15%), 25);
@text-color:              contrast(@main-bg);
@input-color-placeholder: @gray;

@navbar-default-link-color:        @gray;
@navbar-default-link-hover-color:  @gray-darker;
@navbar-default-link-active-color: black;

@nav-link-hover-bg:             lighten(@gray-lighter, 3%);
@nav-tabs-active-link-hover-bg: @gray-lighter;

@body-bg: hsv(0, 100%, 70%);
@well-bg: darken(@main-bg, 4%);

// Custom variables

@main-x-padding:     20px;
@main-x-padding1200: 45px;
@main-x-padding768:  10px;
@main-x-padding480:  5px;

@footer-y-padding: 15px;
@footer-height:    50px;
@footer-height480: 80px;

@main-bg: hsv(51, 17%, 100%);

@font-face {
  font-family: 'Gentium Basic';
  font-style: normal;
  font-weight: 400;
  src: local('Gentium Basic'), local('GentiumBasic'), url(fonts/GentiumBasic.woff) format('woff');
}

@font-face {
  font-family: 'Gentium Basic';
  font-style: italic;
  font-weight: 400;
  src: local('Gentium Basic Italic'), local('GentiumBasic-Italic'), url(fonts/GentiumBasic-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Gentium Basic';
  font-style: normal;
  font-weight: 700;
  src: local('Gentium Basic Bold'), local('GentiumBasic-Bold'), url(fonts/GentiumBasic-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Gentium Basic';
  font-style: italic;
  font-weight: 700;
  src: local('Gentium Basic Bold Italic'), local('GentiumBasic-BoldItalic'), url(fonts/GentiumBasic-BoldItalic.woff) format('woff');
}

html, body {
  height: 100%;
}

body {
  overflow-y: scroll;
  position: relative;
  // For TinyMCE only: #content exists in front office, but not body#content.
  &.mceContentBody, &#main {
    margin: 5px;
  }
  &.mceContentBody {
    min-height: 0;
    min-width: 0;
    padding: 15px;
  }
}

// Both for front office and TinyMCE
#main, .mceContentBody {
  position: relative;
  background: @main-bg;
  .box-shadow(0 0 15px darken(desaturate(@main-bg, 50%), 60%));
  min-height: 100%;
}

#content {
  position: relative;
  padding-top: @navbar-height;
}

section {
  padding-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
  text-shadow: 1px 2px 0 white;
}

a:not(.btn):not(.tooltip):not(.ui-slider-handle) {
  text-decoration: none;
  .transition(all 0.3s);
  &:hover {
    text-decoration: none;
  }
}

p {
  text-align: justify;
}

.sc {
  font-variant: small-caps;
  font-size: 120%;
}

sup {
  font-size: 60%;
  vertical-align: 50%;
}

cite {
  font-size: 110%;
  font-style: italic;
}

em {
  font-size: 105%;
}

.glyphicon {
  font-size: 85%;
}

blockquote {
  p {
    font-size: @font-size-base;
  }
}

.data-table {
  th, td {
    line-height: 10 * @line-height-base / 11;
    vertical-align: baseline;
  }
  th {
    white-space: nowrap;
    padding-right: 20px;
    padding-top: 10px;
  }
  th+td {
    padding-top: 10px;
  }
  td {
    text-align: justify;
  }
}

.column-count (@count) {
  -webkit-column-count: @count;
     -moz-column-count: @count;
          column-count: @count;
}

.column-gap (@gap) {
  -webkit-column-gap: @gap;
     -moz-column-gap: @gap;
          column-gap: @gap;
}

.columns2 {
  .column-count(2);
  .column-gap(0);
  .column-cell {
    display: inline-block;
    margin: 6px;
    .btn-group, .btn-group>.btn {
      position: static;
    }
  }
}

.result {
  @base-result-background: hsv(0, 25%, 97%);
  border: 1px solid darken(@base-result-background, 20%);
  border-radius: @border-radius-base;
  padding: 10px;
  margin-bottom: 10px;
  &:last-of-type {
    margin-bottom: 0;
  }
  .apply-background (@spin) {
    @resultBackground: spin(@base-result-background, @spin);
    background: @resultBackground;
    border-color: darken(@resultBackground, 10%);
  }
  &.evenement {
    .apply-background(0);
  }
  &.individu {
    .apply-background(40);
  }
  &.lieu {
    .apply-background(80);
  }
  &.oeuvre {
    .apply-background(120);
  }
  &.source {
    .apply-background(200);
  }
  &.partie {
    .apply-background(260);
  }
  &.profession {
    .apply-background(320);
  }
}

.content-part {
  @local-background: @well-bg;
  border: 1px solid darken(@local-background, 10%);
  border-radius: @border-radius-large;
  background: @local-background;
  padding: 15px;
  margin-bottom: 30px;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.source>p {
  text-align: justify;
  margin: .5em 0;
  &:first-of-type {
    margin-top: 0;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  &:lang(fr):first-child:before {
    content: "\AB\A0";
  }
  &:lang(fr):last-of-type:after {
    content: "\A0\BB";
  }
  &:lang(en):first-child:before {
    content: "\201C\A0";
  }
  &:lang(en):last-of-type:after {
    content: "\A0\201D";
  }
}

.programme_titre {
  margin: 0.75em 0 0.5em 0;
}

table.programme {
  tr+tr {
    margin-top: 5px;
  }
  tr td {
    vertical-align: baseline;
  }
  tr td:first-child {
    text-align: right;
    padding-right: 6px;
  }
}

table {
  text-align: left;
  border-collapse: collapse;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  &:focus {
    border-color: fadeout(@link-hover-color, 20%);
    .box-shadow(0 0 8px fadeout(@link-hover-color, 40%));
  }
}

#criteria {
  font-size: 14px;
  margin-top: 10px;
  cursor: default;
  .ui-button-text {
    padding: .2em .5em;
  }
}

.ui-widget * {
  font-family: 'Gentium Basic', serif;
  line-height: normal;
}

.panel-group {
  .panel {
    + .panel {
      margin-top: 2px;
    }
  }

  .panel-heading {
    padding: 6px 15px;
  }

  .panel-body {
    max-height: 300px;
    overflow: auto;
  }
}

.ui-helper-reset {
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.dropdown-submenu .dropdown-menu form {
  margin: 0;
}

.navbar {
  opacity: 0.9;
  .transition(opacity 0.3s);

  &:hover {
    opacity: 1;
  }

  .navbar-brand {
    padding: 8px 15px 6px;
  }
}

.nav.nav-tabs {
  margin-bottom: 20px;
}

.front-end_admin {
  margin: @line-height-computed 5px (@line-height-computed / 2);
}

.ui-slider {
  .ui-slider-range {
    background: @btn-primary-bg;
  }

  .ui-slider-handle {
    background: @gray-lighter
  }
}

ul.ui-autocomplete li a, .results_on_deck > div {
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid transparent;
  white-space: nowrap;
}

.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 120px;
}

form .results_on_deck {
  padding: 0;
  &>div {
    margin: 0;
  }
}

.tooltip {
  .tooltip-inner {
    font-size: @font-size-base;
    font-weight: normal;
    padding: 2px 6px;
  }
  &.left {
    margin-left: -13px;
  }
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  background: @pagination-active-bg;
  .opacity(60);
}

footer {
  @local-background: desaturate(darken(@main-bg, 5%), 20%);
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: @footer-height;
  background: @local-background;
  left: 0;
  &>* {
    vertical-align: middle;
    &>* {
      vertical-align: middle;
    }
  }
  #softwares {
    &>*+* {
      margin-left: 10px;
    }
  }
  #logos {
    a {
      margin-left: 10px;
      &:first-child {
        margin-left: 0;
      }
    }
    img {
      vertical-align: middle;
    }
  }
}

@media (min-width: 1200px) {
  #main {
    padding: 0 @main-x-padding1200;
  }

  #content {
    padding-bottom: @footer-height + @main-x-padding1200;
  }

  footer {
    padding: @footer-y-padding @main-x-padding1200;
  }

  .side {
    width: 247px;
  }

  .affix {
    top: 77px;
  }
}

@media (min-width: 980px) and (max-width: 1200px) {
  #main {
    padding: 0 @main-x-padding;
  }

  #content {
    padding-bottom: @footer-height + @footer-y-padding * 2;
  }

  footer {
    padding: @footer-y-padding @main-x-padding;
  }

  .side {
    width: 210px;
  }

  .affix {
    top: 47px;
  }
}

@media (max-width: 980px) {
  nav.navbar {
    position: relative;
  }

  #main {
    padding: 0 @main-x-padding768;
  }

  #content {
    padding-top: 0;
  }

  #content {
    padding-bottom: @footer-height + @footer-y-padding * 2;
  }

  footer {
    padding: @footer-y-padding @main-x-padding768;
  }

  .side {
    width: 286px;
  }

  .affix {
    top: 80px;
  }
}

@media (max-width: 767px) {
  #main {
    padding: 0 @main-x-padding480;
  }

  #content {
    padding-bottom: @footer-height480 + @footer-y-padding * 2;
  }

  footer {
    height: @footer-height480;
    line-height: @footer-height480 / 2;
    padding: @footer-y-padding @main-x-padding480;
  }

  .side {
    position: static;
    width: 100%;
  }

  .columns2 {
    .column-count(1);
  }
}
