@import '../bootstrap/less/bootstrap.less';
@import '../bootstrap/less/responsive-utilities.less';

// Bootstrap variables

@icon-font-path: '../bootstrap/fonts/';

@font-size-base:         15px;
@font-family-serif:      'Gentium Basic', Georgia, serif;
@font-family-sans-serif: 'Average Sans', Arial, sans-serif;
@font-family-base:       @font-family-sans-serif;
@headings-font-family:   @font-family-serif;

@brand-primary:           lighten(desaturate(@link-color, 20%), 20%);
@link-color:              darken(saturate(spin(@body-bg, -33), 100%), 53%);
@link-hover-color:        darken(@link-color, 5%);
@text-color:              black;
@input-color:             @text-color;
@input-color-placeholder: lighten(desaturate(@text-color, 100%), 45%);

@navbar-default-link-color:        @gray;
@navbar-default-link-hover-color:  @gray-darker;
@navbar-default-link-active-color: black;

@nav-link-hover-bg:             lighten(@gray-lighter, 3%);
@nav-tabs-active-link-hover-bg: @gray-lighter;

@body-bg: hsv(50, 7%, 100%);
@well-bg: darken(@body-bg, 4%);

// Custom variables

@main-padding-x:     10px;
@content-padding-bottom: 30px;

@footer-padding-y:   15px;
@footer-line-height: 50px;
@footer-height:      @footer-line-height + @footer-padding-y * 2 + @footer-border-width;
@footer-height-sm:   @footer-height + @footer-line-height;
@footer-bg:          @navbar-default-bg;
@footer-color:       darken(@footer-bg, 40%);
@footer-border-width: 1px;
@footer-border-color: @navbar-default-border;

@font-face {
  font-family: 'Gentium Basic';
  font-style: normal;
  font-weight: 400;
  src: local('Gentium Basic'), local('GentiumBasic'), url(fonts/GentiumBasic.woff) format('woff');
}

@font-face {
  font-family: 'Gentium Basic';
  font-style: italic;
  font-weight: 400;
  src: local('Gentium Basic Italic'), local('GentiumBasic-Italic'), url(fonts/GentiumBasic-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Gentium Basic';
  font-style: normal;
  font-weight: 700;
  src: local('Gentium Basic Bold'), local('GentiumBasic-Bold'), url(fonts/GentiumBasic-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Gentium Basic';
  font-style: italic;
  font-weight: 700;
  src: local('Gentium Basic Bold Italic'), local('GentiumBasic-BoldItalic'), url(fonts/GentiumBasic-BoldItalic.woff) format('woff');
}

@font-face {
  font-family: 'Average Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Average Sans'), local('AverageSans-Regular'), url(fonts/AverageSans.woff) format('woff');
}

html, body {
  height: 100%;
}

body {
  overflow-y: scroll;
  position: relative;
  // For TinyMCE only: #content exists in front office, but not body#content.
  &.mceContentBody, &#main {
    margin: 5px;
  }
  &.mceContentBody {
    min-height: 0;
    min-width: 0;
    padding: 15px;
  }
}

// Both for front office and TinyMCE
#main, .mceContentBody {
  min-height: 100%;
  height: auto !important;  // Those two lines are a min-height hack for IE.
  height: 100%;             //
  padding: 0 @main-padding-x;
  margin-bottom: -@footer-height;
}

#content {
  padding-top: @navbar-height;
  padding-bottom: @footer-height + @content-padding-bottom;
}

section {
  padding-top: 50px;
}

a:not(.btn):not(.tooltip):not(.ui-slider-handle) {
  text-decoration: none;
  .transition(all 0.3s);
  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  text-shadow: 1px 2px 0 white;
}

p {
  text-align: justify;
}

.sc {
  font-variant: small-caps;
}

sup {
  vertical-align: 50%;
}

cite {
  font-style: italic;
}

.btn.disabled {
  pointer-events: auto;
}

.glyphicon {
  font-size: 85%;
}

.glyphicon.glyphicon-checkbox {
  &:before {
    content: '\e157';
  }
  .active &:before {
    content: '\e067';
  }
}

blockquote {
  p {
    font-size: @font-size-base;
  }
}

.data-table {
  th, td {
    line-height: 10 * @line-height-base / 11;
    vertical-align: baseline;
  }
  th {
    white-space: nowrap;
    padding-right: 20px;
    padding-top: 10px;
    font-weight: normal;
  }
  th+td {
    padding-top: 10px;
  }
  td {
    text-align: justify;
  }
}

.column-count (@count) {
  -webkit-column-count: @count;
     -moz-column-count: @count;
          column-count: @count;
}

.column-gap (@gap) {
  -webkit-column-gap: @gap;
     -moz-column-gap: @gap;
          column-gap: @gap;
}

.columns2 {
  .column-count(2);
  .column-gap(@grid-gutter-width);
  .column-cell {
    display: inline-block;
    margin-bottom: @grid-gutter-width / 2;
    .btn-group, .btn-group>.btn {
      position: static;
    }
  }
}

.result {
  h4 {
    margin-top: 0;
  }
  .btn.disabled {
    @base-result-background: hsv(0, 25%, 97%);
    .apply-background (@spin) {
      background: spin(@base-result-background, @spin);
    }
    &.evenement {
      .apply-background(0);
    }
    &.individu {
      .apply-background(40);
    }
    &.lieu {
      .apply-background(80);
    }
    &.oeuvre {
      .apply-background(120);
    }
    &.source {
      .apply-background(200);
    }
    &.partie {
      .apply-background(260);
    }
    &.profession {
      .apply-background(320);
    }
  }
}

.content-part {
  @local-background: @well-bg;
  border: 1px solid darken(@local-background, 10%);
  border-radius: @border-radius-large;
  background: @local-background;
  padding: 15px;
  margin-bottom: 30px;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.source>p {
  text-align: justify;
  margin: .5em 0;
  &:first-of-type {
    margin-top: 0;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  &:lang(fr):first-child:before {
    content: "\AB\A0";
  }
  &:lang(fr):last-of-type:after {
    content: "\A0\BB";
  }
  &:lang(en):first-child:before {
    content: "\201C\A0";
  }
  &:lang(en):last-of-type:after {
    content: "\A0\201D";
  }
}

.programme_titre {
  margin: 0.75em 0 0.5em 0;
}

table.programme {
  tr+tr {
    margin-top: 5px;
  }
  tr td {
    vertical-align: baseline;
  }
  tr td:first-child {
    text-align: right;
    padding-right: 6px;
  }
}

table {
  text-align: left;
  border-collapse: collapse;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  &:focus {
    border-color: fadeout(@link-hover-color, 20%);
    .box-shadow(0 0 8px fadeout(@link-hover-color, 40%));
  }
}

#criteria {
  font-size: @font-size-base;
  margin-top: 10px;
  cursor: default;
  .ui-button-text {
    padding: .2em .5em;
  }
}

.ui-widget * {
  font-family: 'Gentium Basic', serif;
  line-height: normal;
}

.panel-group {
  .panel {
    + .panel {
      margin-top: 2px;
    }
  }

  .panel-heading {
    padding: 6px 15px;
  }

  .panel-body {
    max-height: 300px;
    overflow: auto;
  }
}

.ui-helper-reset {
  text-decoration: none;
  list-style: none;
}

.dropdown-submenu .dropdown-menu form {
  margin: 0;
}

.navbar {
  .navbar-brand {
    padding: 8px 25px 6px;
  }
}

.ui-slider {
  .ui-slider-range {
    background: @btn-primary-bg;
  }

  .ui-slider-handle {
    background: @gray-lighter
  }
}

ul.ui-autocomplete li a, .results_on_deck > div {
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid transparent;
  white-space: nowrap;
}

.affix {
  top: 77px;
}

.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 120px;
}

form .results_on_deck {
  padding: 0;
  &>div {
    margin: 0;
  }
}

.tooltip {
  .tooltip-inner {
    font-size: @font-size-base;
    font-weight: normal;
    padding: 2px 6px;
  }
  &.left {
    margin-left: -13px;
  }
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  background: @pagination-active-bg;
  .opacity(60);
}

footer {
  width: 100%;
  color: @footer-color;
  background: @footer-bg;
  border-top: @footer-border-width solid @footer-border-color;
  &>.container {
    padding: @footer-padding-y @main-padding-x;
    .row {
      &>* {
        height: @footer-line-height;
        line-height: @footer-line-height;
      }
      #softwares {
        a.btn {
          color: @footer-color;
        }
        span {
          font-size: @font-size-small;
        }
        &>* {
          vertical-align: middle;
        }
        &>*+* {
          margin-left: 10px;
        }
      }
      #logos {
        a:not(:first-child) {
          margin-left: 10px;
        }
      }
    }
  }
}

@media (max-width: @screen-xs-max) {
  .side {
    position: static;
    width: 100%;
  }

  .columns2 {
    .column-count(1);
  }
}

@media (max-width: @screen-sm-max) {
  #main {
    margin-bottom: -@footer-height-sm;
  }

  #content {
    padding-bottom: @footer-height-sm + @content-padding-bottom;
  }

  footer .container .row>* {
    height: @footer-line-height * 2;
  }
}

@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
  .side {
    width: 223px;
  }
}

@media (min-width: @screen-md) and (max-width: @screen-md-max) {
  .side {
    width: 296px;
  }
}

@media (min-width: @screen-lg) {
  .side {
    width: 265px;
  }
}
