{% extends 'base.html' %}
{% load url from future %}
{% load i18n %}

{% block title %}
  {% trans 'Accès à l’interface d’administration' %}
{% endblock %}

{% block body %}
  <h1>{% trans 'Accès à l’interface d’administration' %}</h1>
  <p>
    {% if already_staff %}
      {% blocktrans %}
        L’utilisateur « {{ object }} » fait déjà partie de l’équipe !
      {% endblocktrans %}
    {% else %}
      {% url 'admin:accounts_hierarchicuser_change' object.pk as change_user_url %}
      {% blocktrans %}
        {{ user }}, l’utilisateur « {{ object }} »
        a été autorisé à accéder à l’interface d'administration suite à votre
        accord. Si vous souhaitez annuler cela,
        <a href="{{ change_user_url }}">
          modifiez l’utilisateur {{ object.get_full_name }}</a>,
        décochez la case « statut équipe » et enregistrez.
      {% endblocktrans %}
    {% endif %}
  </p>
{% endblock %}
