{% extends 'base.html' %}

{% block body %}
  <h1>Accès à l'interface d'administration</h1>
  <p>
    {% if already_staff %}
      L'utilisateur {{ object }} fait déjà partie de l'équipe !
    {% else %}
      {{ user.get_full_name }}, l'utilisateur {{ object.get_full_name }} a été
      autorisé à accéder à l'interface d'administration suite à votre accord.
      Si vous souhaitez annuler cela,
      <a href="{% url admin:auth_user_change object.pk %}">
        modifiez l’utilisateur {{ object.get_full_name }}</a>,
      décochez la case "statut équipe" et enregistrez.
    {% endif %}
  </p>
{% endblock %}
