{% extends 'base.html' %}
{% load i18n routines sekizai_tags fb_versions %}

{% block title %}{{ object }}{% endblock %}

{% block header %}
  <h1>{{ object.html }}</h1>
{% endblock %}

{% block content %}

  <div class="row">

    <div class="col-md-8">
      {% if object.presentation %}
        <h3>{% trans 'Présentation' %}</h3>
        {{ object.presentation }}
      {% endif %}
      {% if object.fonctions %}
        <h3>{% trans 'Fonction(s) au sein de l’équipe' %}</h3>
        {{ object.fonctions }}
      {% endif %}

      {% if object.dossiersdevenements_roots|has_elements:request %}
        {% if object.presentation or object.fonctions %}
          <hr/>
        {% endif %}
        <h3>{% trans 'À consulter dans Dezède' %}</h3>
        <table class="data-table auto-links">
          {% data_table_list object.dossiersdevenements_roots|order_by:'-pk' %}
        </table>
      {% endif %}

      {% if object.literature %}
        <hr />
        <h3>{% trans 'Bibliographie' %}</h3>
        {{ object.literature }}
      {% endif %}
    </div>

    <div class="col-md-4">
      <div class="well text-center">
        {% include 'accounts/include/avatar.html' %}
        <p style="margin-top: 20px;">
          {% if object.content_object %}
            {% trans 'Autorité associée :' %} {{ object.content_object.link }}<br />
          {% endif %}
          {% if object.website %}
            {{ object.website_link }}<br />
          {% endif %}
          {% if object.show_email %}
            {{ object.email_link }}
          {% endif %}
        </p>
      </div>
    </div>

  </div>

{% endblock %}
