{% extends 'base.html' %}
{% load i18n routines sekizai_tags fb_versions %}

{% block title %}{{ object }}{% endblock %}

{% block header %}
  <h1>{{ object.html }}</h1>
{% endblock %}

{% block content %}

  <div class="row">

    <div class="col-md-8">
      {% if object.presentation %}
        <h3>{% trans 'Présentation' %}</h3>
        {{ object.presentation }}
      {% endif %}

      {% if object.literature %}
        {% if object.presentation %}<hr />{% endif %}
        <h3>{% trans 'Bibliographie' %}</h3>
        {{ object.literature }}
      {% endif %}
    </div>

    <div class="col-md-4">
      <div class="well">
        {% include 'accounts/include/avatar.html' with size='thumbnail' %}
        <dl class="auto-links" style="margin-top: 20px;">
          {% if object.content_object %}
            <dt>{% trans 'Autorité associée' %}</dt>
            <dd>{{ object.content_object.link }}</dd>
          {% endif %}
          {% if object.fonctions %}
            <dt>{% trans 'Fonction(s) au sein de l’équipe' %}</dt>
            <dd>{{ object.fonctions }}</dd>
          {% endif %}
          {% if object.dossiersdevenements_roots|has_elements:request %}
            <dt>{% trans 'À consulter dans Dezède' %}</dt>
            <dd>
              {% for dossier in object.dossiersdevenements_roots|order_by:'-pk' %}
                {{ dossier.link }}<br />
              {% endfor %}
            </dd>
          {% endif %}
          {% if object.website %}
            <dt>{% trans 'Site internet' %}</dt>
            <dd>{{ object.website_link }}</dd>
          {% endif %}
          {% if object.show_email %}
            <dt>{% trans 'Courriel' %}</dt>
            {{ object.email_link }}
          {% endif %}
        </dl>
      </div>
    </div>

  </div>

{% endblock %}
