{% extends 'base.html' %}
{% load i18n routines sekizai_tags %}


{% block header %}
  <h1>{% block title %}{{ title }}{% endblock %}</h1>
{% endblock %}


{% block content %}

  {% for object in object_list %}
    <div class="row">
      <div class="col-md-7{% cycle '' ' col-md-offset-4' %}">
        <div class="well container-fluid">
          <div class="row">
            <div class="col-md-3{% cycle '' ' pull-right' %}">
              {% include 'accounts/include/avatar.html' %}
            </div>

            <div class="col-md-9{% cycle '' ' text-right' %}" style="margin-top: 25px;">
              <h3>{{ object.link }}</h3>
              {% if object.fonctions %}
                {{ object.fonctions }}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock %}
