{% extends 'base.html' %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
  <style>
    ul.menu {
      font-size: 150%;
      margin-left: 100px;
      list-style: none;
    }
    ul.menu li {
      line-height: 150%;
    }
  </style>

  <div style="height: 135px;">
    <img src="/static/images/logo.svg" style="width: 50%;"
         alt="Dezède">
  </div>
  <div class="pull-right" style="width: 72%; height: 170px;">
    <form method="get" action="/recherche/" class="form-search text-right">
      <div class="input-append">
        <input type="text" name="q" id="id_q" placeholder="Rechercher…"
               class="search-query col-md-2">
        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
      </div>
    </form>
    <div style="border-top: 2px solid #333333; margin-top: 10px; line-height: 60px;">
      <em style="float: right; font-size: 200%; word-spacing: 6px; letter-spacing: 3px;">Le portail sur l’histoire des spectacles</em>
    </div>
  </div>
  <div style="display: table; width: 100%;"></div>
  <ul class="menu">
    <li><a href="{% url 'haystack_search' %}"><b>></b>&nbsp; Recherche</a></li>
    <li><a href="{% url 'dossierdevenements_index' %}"><b>></b>&nbsp; Dossiers</a></li>
    <li><a href=""><b>></b>&nbsp; Revue Dezède</a></li>
    <li><a href=""><b>></b>&nbsp; Expositions virtuelles</a></li>
    <li><a href=""><b>></b>&nbsp; Équipe</a></li>
    <li><a href=""><b>></b>&nbsp; Partenaires</a></li>
  </ul>
{% endblock %}
