{% extends 'base.html' %}
{% load url from future %}
{% load crispy_forms_tags i18n %}

{% block title %}
  {% trans "Connexion" %}
{% endblock %}

{% block body %}
  {% if user.is_authenticated %}
    <h1>{% trans "Déjà connecté" %}</h1>
    {% url 'auth_logout' as url %}
    {% blocktrans %}
      Vous êtes déjà connecté.
      Souhaitez-vous <a href="{{ url }}">vous déconnecter</a> ?
    {% endblocktrans %}
  {% else %}
    <form method="POST" class="well well-small form-horizontal">
      <legend>
        {% trans "Connexion" %}
        {% url 'registration_register' as url %}
        <small>
          {% blocktrans %}
            Pas de compte utilisateur ?
            Vous pouvez <a href="{{ url }}">en creer un</a>.
          {% endblocktrans %}
        </small>
      </legend>
      {% csrf_token %}
      {{ form|crispy }}
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans 'Se connecter' %}</button>
      </div>
    </form>
  {% endif %}
{% endblock %}
