{% extends 'base.html' %}
{% load crispy_forms_tags i18n %}

{% block title %}
  {% trans "Connexion" %}
{% endblock %}

{% block body %}
  <h1>{% trans "Connexion" %}</h1>
  {% if user.is_authenticated %}
    {% url auth_logout as url %}
    {% blocktrans %}
      Vous êtes déjà connecté.  Souhaitez-vous <a href="{{ url }}">vous déconnecter</a> ?
    {% endblocktrans %}
  {% else %}
    <form method="POST" class="well">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" value="{% trans 'Se connecter' %}" class="btn" />
    </form>
    <p>
      {% url registration_register as url %}
      {% blocktrans %}
        Pas de compte utilisateur ?
        Vous pouvez <a href="{{ url }}">en creer un.</a>
      {% endblocktrans %}
    </p>
  {% endif %}
{% endblock %}
