@CHARSET "UTF-8";

@font-face {
  font-family: 'Gentium Basic';
  font-style: normal;
  font-weight: 400;
  src: local('Gentium Basic'), local('GentiumBasic'), url(fonts/GentiumBasic.woff) format('woff');
}

@font-face {
  font-family: 'Gentium Basic';
  font-style: italic;
  font-weight: 400;
  src: local('Gentium Basic Italic'), local('GentiumBasic-Italic'), url(fonts/GentiumBasic-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Gentium Basic';
  font-style: normal;
  font-weight: 700;
  src: local('Gentium Basic Bold'), local('GentiumBasic-Bold'), url(fonts/GentiumBasic-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Gentium Basic';
  font-style: italic;
  font-weight: 700;
  src: local('Gentium Basic Bold Italic'), local('GentiumBasic-BoldItalic'), url(fonts/GentiumBasic-BoldItalic.woff) format('woff');
}

body {
  font-family: 'Gentium Basic', 'Georgia', serif;
  font-size: 16px;
  line-height: 22px;
}

body:not(.mceContentBody) {
  background: #B82819 url(images/damasse.png) fixed;
  overflow-y: scroll;
  position: relative;
  margin: 60px 0;
}

#content, .mceContentBody {
  background-color: #FFF9D9;
  box-shadow: 0 5px 30px black;
  border: 2px solid #CCC7AF;
  border-radius: 5px;
}

section {
  padding-top: 50px;
}

footer {
  margin-top: 50px;
  padding: 10px;
}

footer table {
  width: 100%;
}

footer #softwares {
  width: 50%;
}

footer #softwares span+span {
  margin-left: 10px;
}

footer #softwares span {

}

footer #logos {
  width: 50%;
  text-align: right;
}

footer #logos a:first-child {
  margin-left: 0;
}

footer #logos a {
  display: inline-block;
  margin-left: 10px;
}

footer #logos img {
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 2px 2px;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}

a:hover {
  color: red;
  text-decoration: none;
  text-shadow: white 0 0 0;
}

p {
  text-align: justify;
}

.sc {
  font-variant: small-caps;
  font-size: 120%;
}

sup {
  font-size: 60%;
  vertical-align: 50%;
}

cite {
  font-size: 110%;
  font-style: italic;
}

em {
  font-size: 105%;
}

dt, dd {
  line-height: 22px;
}

dd {
  text-align: justify;
}

dl.dl-horizontal dd+dt, dl.dl-horizontal dd+dt+dd {
  padding-top: 5px;
}

.liste th {
  border-bottom: 1px solid black;
  font-weight: bold;
}

.liste td, .liste th {
  padding: 2px 10px 2px 5px;
}

.liste tbody tr:hover {
  cursor: pointer;
  background-color: lightGrey;
}

.warning {
  background-color: #FF6666;
  border: 1px solid black;
}

.columns2 {
  -webkit-column-count: 2;
  -webkit-column-gap: 0;
  -webkit-column-fill: auto;
  -moz-column-count: 2;
  -moz-column-gap: 0;
  -moz-column-fill: auto;
  column-count: 2;
  column-gap: 0;
  column-fill: auto;
}

.column-cell {
  display: inline-block;
  margin: 6px;
}


.result {
  border: 1.5px solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.result:last-of-type {
  margin-bottom: 0;
}

.result.evenement {
  background-color: #FFB894;
}

.result.individu {
  background-color: #FFD040;
}

.result.lieu {
  background-color: #9DBDFF;
}

.result.oeuvre {
  background-color: #FFBDFF;
}

.result.source {
  background-color: #9BF09B;
}

.result.partie {
  background-color: #ff6e6b;
}

.content_part {
  border: 1.5px solid #fff2b3;
  border-radius: 6px;
  background-color: #fff6cc;
  padding: 15px;
  margin-bottom: 30px;
}

.content_part:last-of-type {
  margin-bottom: 0;
}

.source>p {
  text-align: justify;
  margin: .5em 0;
}

.source>p:first-of-type {
  margin-top: 0;
}

.source>p:last-of-type {
  margin-bottom: 0;
}

.source>p:lang(fr):first-child:before {
  content: "« ";
}

.source>p:lang(fr):last-of-type:after {
  content: " »";
}

.source>p:lang(en):first-child:before {
  content: "“ ";
}

.source>p:lang(en):last-of-type:after {
  content: " ”";
}

.programme_titre {
  margin: 0.75em 0 0.5em 0;
}

table.programme tr+tr {
  margin-top: 5px;
}

table.programme tr td {
  vertical-align: baseline;
}

table.programme tr td:first-child {
  text-align: right;
  padding-right: 6px;
}

.right {
  text-align: right;
}

table {
  text-align: left;
  border-collapse: collapse;
}

#criteria {
  font-size: 14px;
  margin-top: 10px;
  cursor: default;
}

#criteria .ui-button-text {
  padding: .2em .5em;
}

.ui-widget * {
  font-family: 'Gentium Basic', serif;
  line-height: normal;
}

.accordion-group {
  background-color: whiteSmoke;
}

.accordion-inner {
  max-height: 300px;
  overflow: auto;
  background-color: white;
}

.ui-helper-reset {
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

body.mceContentBody {
  min-height: 0;
  min-width: 0;
  padding: 15px;
}

input, button {
  margin: 0;
}

.nav li {
  line-height: 22px;
}

.nav form {
  margin: 0;
}

.navbar .brand {
  padding: 5px 20px 5px;
}

.front-end_admin {
  margin: 0 5px;
}

ul.ui-autocomplete li a, .results_on_deck > div {
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid transparent;
  white-space: nowrap;
}

.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 120px;
}

form .results_on_deck {
  padding: 0;
}

form .results_on_deck>div {
  margin: 0;
}

.tooltip-inner {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
}

@media (min-width: 1200px) {
  #content {
    padding: 15px;
  }

  .side {
    width: 258px;
  }

  .affix {
    top: 77px;
  }
}

@media (min-width: 980px) and (max-width: 1200px) {
  #content {
    padding: 10px;
  }

  .side {
    width: 210px;
  }

  .affix {
    top: 47px;
  }
}

@media (min-width: 768px) and (max-width: 980px) {
  body:not(.mceContentBody) {
    margin: 0;
    padding: 0;
  }

  #content {
    padding: 5px;
  }

  .side {
    width: 166px;
    margin-top: 20px;
  }

  .affix {
    top: 80px;
  }
}

@media (max-width: 767px) {
  body:not(.mceContentBody) {
    margin: 0;
    padding: 0;
  }

  #content {
    margin: 0;
    padding: 5px;
    border: none;
    border-radius: 0;
  }

  .side {
    position: static;
  }

  .columns2 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
