[Unit]
Description=Elasticsearch
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker stop %N
ExecStartPre=-/usr/bin/docker rm %N
ExecStart=/usr/bin/docker run -p 9200:9200 --name %N --rm -v elasticsearch_data:/usr/share/elasticsearch/data elasticsearch:1.7.6
TimeoutStartSec=0
Restart=always
RestartSec=10s
NotifyAccess=all

[Install]
WantedBy=multi-user.target
