{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {{ profile.user.get_full_name|default:profile.user }}
{% endblock %}

{% block body %}
  <h1>{% trans "Profil de" %} {{ profile.user.get_full_name|default:profile.user }}</h1>
  <dl>
    <dt>{% trans "Professeur référent" %}</dt>
    <dd>
      {% with professor=profile.professor %}
        {{ professor.get_full_name|default:professor }}
      {% endwith %}
    </dd>
    <dt>{% trans "Sources transcrites" %}</dt>
    <dd>{{ profile.user.source_set.count }}</dd>
  </dl>
  <a href="{% url profiles_edit_profile %}">[{% trans "Modifier" %}]</a>
{% endblock %}
