{% extends 'base.html' %}
{% load static humanize %}


{% block header %}
  <h1>
    <a href="{% url 'bibliographie' %}">
      {% block title %}Bibliographie{% endblock %}
    </a>
  </h1>
{% endblock %}


{% block content %}
  <div class="static-page">
    <p>
      Dezède s’appuie sur des tables d’autorités d’individus, d’œuvres,
      d’ensembles, de lieux, de rôles, d’instruments et de professions.
      Elles sont présentées sous la forme de fiches consultables par le menu des index,
      le moteur de recherche, le filtre, les événements, les sources ou les dossiers.
      Chaque autorité peut être intégrée dans un ensemble de données récursives
      (dynasties de musiciens, adaptations et révisions d’œuvres,
      attachements des lieux aux territoires et des salles aux institutions, etc.)
      Les normes utilisées pour leur constitution sont définies dans la méthode
      générale qui sera prochainement accessible sur le site.
      Les autorités font l’objet d’un contrôle permanent placé
      sous la responsabilité scientifique de Joann Élart.
      Actuellement, la base de données contient {{ oeuvres.count|intcomma }} œuvres,
      {{ individus.count|intcomma }} individus et {{ lieux.count|intcomma }} lieux.
    </p>

    <ul class="nav nav-tabs" style="margin: 30px 0 20px;">
      <li class="active"><a href="#origines" data-toggle="tab">Origines</a></li>
      <li><a href="#references" data-toggle="tab">Références bibliographiques</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="origines">
        <p>
          Cet ensemble enrichi chaque jour par des chercheurs associés et des étudiants
          trouve ses origines dans des travaux antérieurs.
          Ils ont été transférés dans Dezède par Bertrand Bordage à partir de fichiers extérieurs :
        </p>
        <ul class="list-unstyled">
          <li>
            <p>
              une première importation a permis d’intégrer les index d’individus et d’œuvres contenus
              dans l’ouvrage de Joann Élart intitulé <em>Catalogue des fonds musicaux conservés en Haute-Normandie.
              Tome I : Bibliothèque municipale de Rouen. Volume 1 : Fonds du Théâtre des Arts
              (<span class="sc">xviii</span><sup>e</sup> et <span class="sc">xix</span><sup>e</sup> siècles)</em>,
              coll. « Patrimoine musical régional » (Rouen, Presses universitaires de Rouen et du Havre, 2004, 538 p.)
              Issues, pour l’essentiel, du répertoire de l’Opéra-Comique,
              ces données ont été associées à celles réalisées dans le cadre
              de deux missions financées par les <abbr title="Grands Réseaux de Recherche">GRR</abbr> haut-normands
              et placées sous la direction de Joann Élart.
              La première a été confiée à Anne Touverey, doctorante en musicologie
              de l’université de Rouen qui a créé des autorités à partir de l’index de Castil-Blaze,
              <em>Histoire de l’opéra-comique</em>,
              publication coordonnée par Alexandre Dratwicki
              et Patrick Taïeb (Lyon, Symétrie, 2012, 352 p.) ;
              la seconde à Claire Malandin, étudiante en musicologie de l’université de Rouen,
              qui a établi un ensemble d’autorités nouvelles dans les genres de la comédie, de la tragédie ou du vaudeville.
            </p>
            <div class="row">
              <div class="col-xs-2 col-xs-offset-3 text-right">
                <a href="http://www.univ-rouen.fr/" target="_blank">
                  <img src="{% static 'images/univ_rouen.png' %}"
                       style="width: 58px; height: 21px;"
                       title="Université de Rouen" />
                </a>
              </div>
              <div class="col-xs-2 text-center">
                <a href="http://www.univ-rouen.fr/version-francaise/bienvenue-a-l-irihs-institut-de-recherche-interdisciplinaire-homme-et-societe-fed-4137-272624.kjsp" target="_blank">
                  <img src="{% static 'images/irihs.png' %}"
                       style="width: 35px; height: 35px;"
                       title="Institut de Recherche Inter-disciplinaire Homme Société" />
                </a>
              </div>
              <div class="col-xs-2 text-left">
                <a href="http://www.hautenormandie.fr/" target="_blank">
                  <img src="{% static 'images/region_h-n.png' %}"
                       style="width: 26px; height: 45px;"
                       title="Région Haute-Normandie" />
                </a>
              </div>
            </div>
          </li>

          <li>
            <p>
              la deuxième importation a concerné un ensemble de données relatives au répertoire du concert.
              Réalisé dans le cadre du projet de recherche sur l’histoire du concert
              dirigé par Patrick Taïeb et Hervé Lacombe
              (« Répertoire des programmes de concerts en France »),
              il comporte deux parties : les concerts parisiens de la Révolution à l’Empire,
              sous la direction scientifique d’Étienne Jardin et de Patrick Taïeb ;
              les Concerts populaires de musique classique (concerts Pasdeloup) réalisés par Yannick Simon.
              L’intégration dans Dezède de ces deux ensembles de données réalisées entre 2009 et 2010 par Étienne Jardin
              a fait l’objet d’une convention entre l’université de Rouen
              et les deux autres partenaires qui en ont permis la réalisation,
              le Palazzetto Bru Zane et les éditions Symétrie.
            </p>
            <div class="row text-center">
              <div class="col-xs-2 col-xs-offset-4">
                <a href="http://symetrie.com/" target="_blank">
                  <img src="{% static 'images/symetrie.png' %}"
                       style="width: 35px; height: 35px;"
                       title="Éditions Symétrie" />
                </a>
              </div>
              <div class="col-xs-2">
                <a href="http://www.bru-zane.com/" target="_blank">
                  <img src="{% static 'images/bru_zane.png' %}"
                       style="width: 25px; height: 48px;"
                       title="Palazzetto Bru Zane" />
                </a>
              </div>
            </div>
          </li>

          <li>
            <p>
              la troisième importation a permis d’ajouter aux données existantes
              celles mises à disposition par l’<abbr title="Association Française des Orchestres">AFO</abbr>
              dans le cadre d’une convention signée avec l’université de Rouen.
              Fournies par les orchestres membres de cette association, elles sont corrigées,
              complétées et relues par Claire Morvannou,
              étudiante du département de musicologie de l’université de Rouen,
              placée sous la direction de Yannick Simon.
              Un premier versement est en cours (2014) pour les saisons 2010-2011, 2011-2012 et 2012-2013.
              Il sera complété par celui des saisons postérieures à 2012-2013 et, progressivement,
              des saisons antérieures à celle de 2010-2011.
            </p>
            <p class="text-center">
              <a href="http://www.france-orchestres.com/">
                <img src="{% static 'images/afo.png' %}"
                     style="width: 50px; height: 48px;"
                     title="Association Française des Orchestres" />
              </a>
            </p>
          </li>

    {#      <li>#}
    {#        <p>#}
    {#          la quatrième importation a porté sur les données publiées en 2006#}
    {#          dans la base Philidor du Centre de musique baroque de Versailles.#}
    {#          Elles ont aussi vu le jour dans le cadre du projet de recherche#}
    {#          « Répertoire des programmes de concerts en France »#}
    {#          dirigé par Patrick Taïeb et Hervé Lacombe.#}
    {#          Le premier répertoire réunit les 340 concerts de l’Académie des Beaux-Arts de Lyon (1759-1772)#}
    {#          édités par Michel Hild sous la direction de Patrick Taïeb, et le second,#}
    {#          le répertoire des 455 concerts de l’Association artistique d’Angers (1877-1893)#}
    {#          et les images numériques des programmes conservés à la Bibliothèque municipale d’Angers.#}
    {#          Ce répertoire a par ailleurs été publié en annexe de l’ouvrage de Yannick Simon,#}
    {#          L’Association artistique d’Angers (1877-1893).#}
    {#          Histoire d’une société de concerts populaires suivie du répertoire des programmes des concerts#}
    {#          (Paris, Société française de Musicologie, 2006, 415 p.)#}
    {#        </p>#}
    {#        <p class="text-center">[Logos CMBV + BmA + liens vers les institutions]</p>#}
    {#      </li>#}
    {##}
    {#      <li>#}
    {#        <p>#}
    {#          la cinquième importation a concerné les données versées par l’Opéra-Comique,#}
    {#          dans le cadre d’une convention signée avec l’université de Rouen :#}
    {#          25 000 images numériques issues des archives conservées aux Archives nationales de France et à l’Opéra-Comique.#}
    {#          Elles seront publiées en novembre 2014 dans le cadre du tricentenaire de l’Opéra-Comique.#}
    {#        </p>#}
    {#        <p class="text-center">[Logos OC + ANF + liens vers les institutions]</p>#}
    {#      </li>#}

        </ul>
      </div>
      <div class="tab-pane" id="references">
        <p>
          Les autorités sont produites ou vérifiées à partir d’une ou plusieurs
          des références bibliographiques mentionnées ci-dessous.
          Toutes références à des sources ou à des ouvrages différents sont signalées
          directement dans les notes des données concernées.
        </p>

        <table class="table table-condensed table-responsive">
          <thead>
            <tr>
              <th style="width: 150px;">Référence</th>
              <th>Ouvrage</th>
            </tr>
          </thead>
          <tr>
            <td>Benoit</td>
            <td>
              <p>
                <em>Dictionnaire de la musique en France aux <span class="sc">xvii</span><sup>e</sup>
                et <span class="sc">xviii</span><sup>e</sup> siècles</em>,
                dir. Marcelle <span class="sc">Benoit</span>, Paris, Fayard, 1992.
              </p>
            </td>
          </tr>
          <tr>
            <td>Cat. BnF</td>
            <td>
              <p>
                <em>Catalogue général de la Bibliothèque nationale de France</em> [en ligne].
                {{ 'http://catalogue.bnf.fr'|urlize }}
              </p>
            </td>
          </tr>
          <tr>
            <td>Diccionario</td>
            <td>
              <p>
                <em>Diccionario de la Música española e hispanoamericana</em>,
                éd. Emilio <span class="sc">Casares Rodicio</span>, Madrid,
                Sociedad general de autores y editores, 1999-2002, 10 vol.
              </p>
            </td>
          </tr>
          <tr>
            <td>Élart</td>
            <td>
              <p>
                Joann <span class="sc">Élart</span>, <em>Catalogue des fonds musicaux conservés en Haute-Normandie.
                Tome I : Bibliothèque municipale de Rouen. Volume 1 : Fonds du Théâtre des Arts
                (<span class="sc">xviii</span><sup>e</sup> et <span class="sc">xix</span><sup>e</sup> siècles)</em>,
                coll. « Patrimoine musical régional », Rouen, Presses universitaires de Rouen et du Havre, 2004, 538 p.
              </p>
            </td>
          </tr>
          <tr>
            <td>Fauquet</td>
            <td>
              <p>
                Dictionnaire de la musique en France au <span class="sc">xix</span><sup>e</sup> siècle,
                dir. Joël-Marie <span class="sc">Fauquet</span>, Paris, Fayard, 2003.
              </p>
            </td>
          </tr>
          <tr>
            <td>Fétis</td>
            <td>
              <p>
                François-Jospeh <span class="sc">Fétis</span>,
                <em>Biographie universelle des musiciens et bibliographie générale de la musique.
                  Deuxième édition, entièrement refondue et augmentée de plus de moitié</em>,
                Paris, Firmin-Didot, <sup>2</sup>/1866-1867, 8 vol. ;
                Supplément et complément, dir. Arthur <span class="sc">Pougin</span>,
                Paris, Firmin-Didot, 1878-1880, 2 vol.
              </p>
            </td>
          </tr>
          <tr>
            <td>Gourret 1</td>
            <td>
              <p>
                Jean <span class="sc">Gourret</span>,
                <em>Dictionnaire des cantatrices de l’Opéra de Paris</em>,
                Paris, Albatros, 1987, 319 p.
              </p>
            </td>
          </tr>
          <tr>
            <td>Gourret 2</td>
            <td>
              <p>
                Jean <span class="sc">Gourret</span>,
                <em>Nouveau dictionnaire des chanteurs de l’Opéra de Paris</em>,
                Paris, Albatros, 1989, 402p.
              </p>
            </td>
          </tr>
          <tr>
            <td>Kutsch</td>
            <td>
              <p>
                Karl Josef <span class="sc">Kutsch</span> und Leo <span class="sc">Riemens</span>,
                <em>Großes Sängerlexikon</em>, München/Bern, K. G. Saur, 2003, 7 vol.
              </p>
            </td>
          </tr>
          <tr>
            <td>MGG</td>
            <td>
              <p>
                <em>Die Musik in Geschichte und Gegenwart</em>,
                éd. Friedrich <span class="sc">Blume</span> et Ludwig <span class="sc">Finscher</span>,
                Kassel/Basel/London, Bärenreiter, 1994-2008, 29 vol.
              </p>
            </td>
          </tr>
          <tr>
            <td>Musick Sack</td>
            <td>
              <p>
                Frank <span class="sc">Greene</span> (dir.), <em>The Music Sack</em> [en ligne].
                {{ 'http://musicsack.com'|urlize }}
              </p>
            </td>
          </tr>
          <tr>
            <td>NG5</td>
            <td>
              <p>
                <em>The New Grove Dictionary of Music and Musicians</em>,
                éd. Stanley <span class="sc">Sadie</span>, London, Macmillan, 1980, 20 vol.
              </p>
            </td>
          </tr>
          <tr>
            <td>NG6</td>
            <td>
              <p>
                <em>The New Grove Dictionary of Music and Musicians</em>,
                éd. Stanley <span class="sc">Sadie</span>, London, Macmillan, 2001, 29 vol.
              </p>
            </td>
          </tr>
          <tr>
            <td>NGo</td>
            <td>
              <p>
                <em>The New Grove Dictionary of Opera</em>, éd. Stanley <span class="sc">Sadie</span>,
                London, Macmillan press ; New York, Grove’s dictionaries of music, 1992, 4 vol.
              </p>
            </td>
          </tr>
          <tr>
            <td>NGol</td>
            <td>
              <p>
                <em>Oxford Music Online</em> [en ligne].
                {{ 'http://www.oxfordmusiconline.com'|urlize }}
              </p>
            </td>
          </tr>
          <tr>
            <td>Stieger</td>
            <td>
              <p>
                Franz <span class="sc">Stieger</span>, <em>Opernlexikon</em>,
                Tutzing, Herbert Schneider, 1975-1983, 11 vol.
              </p>
            </td>
          </tr>
          <tr>
            <td>Wild-Charlton</td>
            <td>
              <p>
                Nicole <span class="sc">Wild</span> et David <span class="sc">Charlton</span>,
                <em>Théâtre de l’Opéra-Comique, Paris : répertoire 1762-1972</em>,
                Sprimont, Mardaga, 2005.
              </p>
            </td>
          </tr>
        </table>
      </div>
    </div>

  </div>
{% endblock %}
