{% extends 'base.html' %}
{% load static i18n %}


{% block header %}
  <h1>
    <a href="{% url 'presentation' %}">
      {% block title %}{% trans 'Présentation' %}{% endblock %}
    </a>
  </h1>
{% endblock %}


{% block content %}
  <div class="static-page">

    <ul class="nav nav-tabs" style="margin: 0 0 20px;">
      <li class="active">
        <a href="#presentation" data-toggle="tab">
          {% trans 'Présentation' %}
        </a>
      </li>
      <li>
        <a href="#contenus" data-toggle="tab">
          {% trans 'Contenus' %}
        </a>
      </li>
      <li>
        <a href="#utilisateurs" data-toggle="tab">
          {% trans 'Utilisateurs' %}
        </a>
      </li>
      <li>
        <a href="#identite" data-toggle="tab">
          {% trans 'Identité' %}
        </a>
      </li>
      <li>
        <a href="#historique" data-toggle="tab">
          {% trans 'Historique' %}
        </a>
      </li>
      <li>
        <a href="#developpement" data-toggle="tab">
          {% trans 'Développement' %}
        </a>
      </li>
    </ul>

    <div class="tab-content">

      <div class="tab-pane active" id="presentation">

        <h3>{% trans 'Ses principes' %}</h3>
        <p>
          {% blocktrans %}
            <span class="lead">Une ressource numérique <em>open source</em>.</span>
            Dezède est une application web qui offre aux contributeurs et lecteurs
            un accès gratuit et dématérialisé aux données publiées.
            Elle est <em>responsive</em> et s’adapte à différents supports.
            Dezède est également un portail de valorisation :
            tout en secondant les chercheurs dans leurs travaux,
            il facilite l’édition des résultats et les place
            dans une perspective contributive plus large.
          {% endblocktrans %}
        </p>

        <h3>{% trans 'Ses fonctions' %}</h3>
        <p>
          {% blocktrans %}
            <span class="lead">Un outil de recherche et de valorisation dédié à l’archivage et à la chronologie des spectacles.</span>
            Dezède permet de reconstituer et d’organiser des corpus documentaires de programmes de spectacle,
            consacrés à des villes, des institutions, des artistes ou des œuvres.
            Pour ce faire, il utilise une méthode scientifique originale structurant
            la publication en ligne : traitement et analyse des sources,
            édition critique des programmes et classement des événements.
            Le cœur de l’application est une base relationnelle
            qui lie les événements à un ensemble d’autorités interrogeables séparément
            (œuvres, individus, ensembles, lieux de diffusion, rôles, emplois, etc.)
            Application unique dans le domaine des humanités numériques, Dezède a vocation à favoriser
            le développement de recherches sur la circulation des œuvres et des interprètes,
            en mettant à la disposition des chercheurs et du public
            une masse importante de données historiques.
          {% endblocktrans %}
        </p>
        {#  TODO: Lien vers le mode d’emploi #}
        {# TODO: Lien vers la méthode scientifique #}

        <h3>{% trans 'Son comité éditorial' %}</h3>
        <p>
          {% blocktrans %}
            <span class="lead">Dezède est une ressource en ligne identifiée par le numéro d’ISSN 2269-9473</span>,
            mettant à la disposition des chercheurs les outils nécessaires
            à l’édition de dossiers. Chaque projet est soumis, expertisé,
            validé et suivi par le comité éditorial,
            qui a aussi pour fonction de structurer la publication
            et d’en contrôler l’évolution méthodologique et technologique.
          {% endblocktrans %}
        </p>
        <p>{% trans 'Le comité éditorial est composé de trois membres :' %}</p>
        <p>
          <a href="{% url 'user_profile' 'joann_elart' %}">Joann <span class="sc">Élart</span></a>,
          {% trans 'Maître de conférences en musicologie, université de Rouen Normandie (fondateur de Dezède)' %}
        </p>
        <p>
          <a href="{% url 'user_profile' 'yannick_simon' %}">Yannick <span class="sc">Simon</span></a>,
          {% trans 'Professeur des Universités en musicologie, université Toulouse – Jean Jaurès (fondateur de Dezède)' %}
        </p>
        <p>
          <a href="{% url 'user_profile' 'patrick_taieb' %}">Patrick <span class="sc">Taïeb</span></a>,
          {% trans 'Professeur des Universités en musicologie, université Paul-Valéry Montpellier 3 (fondateur de Dezède)' %}
        </p>

        <h3>{% trans 'Ses propriétaires' %}</h3>
        <p>
          {% blocktrans %}
            <span class="lead">
              L’invention de trois enseignants-chercheurs :
              Joann Élart, Yannick Simon
              et Patrick Taïeb</span>,
            musicologues aux universités de Rouen, Toulouse Jean Jaurès et Paul-Valéry Montpellier 3.
            Ils partagent un accord de co-propriété avec leur laboratoire
            – le <abbr title="Groupe de Recherche d’Histoire">GRHis</abbr> (<abbr title="Équipe d’accueil">EA</abbr> 3831),
            le <abbr title="Centre d’Études et de Recherche Éditer/Interpréter">CÉRÉdI</abbr> (EA 3229)
            et l’<abbr title="Institut de Recherche sur la Renaissance, l’Age Classique et les Lumières">IRCL</abbr>
            (<abbr title="Unité Mixte de Recherche">UMR</abbr> 5186 du CNRS) –
            et leur université de rattachement.
            Hébergé sur les serveurs de l’<abbr title="Infrastructure de Recherche">IR*</abbr> Huma-Num,
            Dezède est une ressource numérique <em>open source</em>
            référencée par le numéro d’ISSN 2269-9473.
            La première phase du développement a été rendue possible
            grâce au soutien financier des universités de Rouen et Paul-Valéry Montpellier 3,
            des laboratoires associés et de la Région Normandie
            via les <abbr title="Grands Réseaux de Recherche">GRR</abbr>.
          {% endblocktrans %}
        </p>

        <p>
          <a href="{% url 'user_profile' 'joann_elart' %}">Joann <span class="sc">Élart</span></a> −
          <a href="{% url 'user_profile' 'yannick_simon' %}">Yannick <span class="sc">Simon</span></a> −
          <a href="{% url 'user_profile' 'patrick_taieb' %}">Patrick <span class="sc">Taïeb</span></a><br />
          <a href="http://www.univ-rouen.fr/">université de Rouen Normandie</a> −
          <a href="http://www.univ-montp3.fr/">université Paul-Valéry Montpellier 3</a><br />
          <a href="http://grhis.univ-rouen.fr/">GRHis</a> −
          <a href="http://ceredi.labos.univ-rouen.fr/">CÉRÉdI</a> −
          <a href="http://www.ircl.cnrs.fr/">IRCL</a>
        </p>

        <a href="{% url 'contribuer' %}"
           class="btn btn-primary btn-lg btn-block sc no-padding"
           style="margin-top: 20px;">{% trans 'Contribuer' %}</a>

      </div>

      <div class="tab-pane" id="contenus">

        <h3>{% trans 'Les dossiers' %}</h3>
        <p>
          {% blocktrans %}
            <span class="lead">
              Réalisez votre chronologie de spectacles sur un territoire,
              une institution, une carrière ou une œuvre.
            </span>
            Le dossier est la forme aboutie d’une publication dans Dezède :
            il s’agit d’un corpus d’événements ou d’images, créé et rassemblé
            par un ou plusieurs éditeurs scientifiques qui en assure(nt) la présentation.
            Le dossier d’événements a pour objectif de reconstituer des programmes de spectacles
            dans un espace géographique et temporel, d’établir la programmation d’une institution,
            d’accompagner la carrière d’un interprète, ou de suivre la diffusion et la réception d’une œuvre.
            Les événements sont présentés de manière chronologique.
            Soumis à l’expertise du comité éditorial,
            les dossiers sont classés entre eux selon un ordre établi
            par une table générale qui évolue en fonction des nouvelles contributions ;
            Un ensemble d’outils de visualisation est proposé en marge de
            la chronologie événementielle (cartographie, diffusion, frise chronologique, diagramme de cordes).
            Les dossiers réalisés dans Dezède peuvent être exportés intégralement
            en format PDF avec mise en page générée automatiquement,
            pour constituer une archive ou une annexe de mémoire universitaire.
          {% endblocktrans %}
        </p>
        <p><a href="{% url 'dossierdevenements_index' %}">{% trans 'Liste des dossiers' %}</a></p>
        <p><a href="{% url 'contribuer' %}">{% trans 'Soumettre un projet' %}</a></p>
        {# TODO: Lien vers la fiche comité éditorial (voir ci-dessus) #}

    {#    <h3>Les classeurs</h3>#}
    {#    <p>#}
    {#      <span class="lead">Archivez vos spectacles (à l’étude).</span>#}
    {#      Vous souhaitez conserver une archive de vos spectacles ?#}
    {#      Rien de plus simple grâce aux classeurs Dezède !#}
    {#      Cette application disponible gratuitement permet de créer un compte personnel#}
    {#      – que l’on soit utilisateur ou simple lecteur – et de constituer#}
    {#      un panier de spectacles à partir des événements déjà mis en ligne.#}
    {#    </p>#}
        {# TODO: Lien vers le formulaire de création de classeur #}

    {#    <h3>La revue</h3>#}
    {#    <p>#}
    {#      <span class="lead">Publiez des études scientifiques (à l’étude).</span>#}
    {#      La revue en ligne permettra d’associer un article à un dossier d’événements,#}
    {#      de constituer des numéros spéciaux sur une thématique donnée#}
    {#      ou encore de rassembler les actes des journées d’étude et des colloques#}
    {#      consacrés à des chronologies en ligne.#}
    {#      Elle sera le support des études critiques que les dossiers ont vocation à générer.#}
    {#      Toutes les propositions sont soumises à l’avis du comité éditorial.#}
    {#    </p>#}
        {# TODO: Lien vers la revue #}
    {#    <p><a href="{% url 'contribuer' %}">Soumettre un projet</a></p>#}
        {# TODO: Lien vers la fiche comité éditorial (voir ci-dessus) #}

    {#    <h3>Les expositions</h3>#}
    {#    <p>#}
    {#      <span class="lead">Exposez (à l’étude).</span>#}
    {#      Les expositions virtuelles pourront mettre en relief par l’image#}
    {#      certains contenus des dossiers et de la revue,#}
    {#      ou valoriser des collections publiques déposées dans Dezède.#}
    {#    </p>#}
        {# TODO: Lien vers les expositions #}
        {# TODO: Lien vers la fiche comité éditorial (voir ci-dessus) #}

        <h3>{% trans 'Les autorités' %}</h3>
        <p>
          {% blocktrans %}
            <span class="lead">Au cœur de Dezède, des milliers d’autorités mises à la disposition de tous !</span>
            La souplesse de l’application et l’homogénéisation de l’édition
            résultent de la mise en commun d’autorités liées entre elles
            par un système de gestion relationnelle et récursive :
            événements, œuvres, individus, ensembles, lieux, rôles, instruments,
            professions, etc.
            Elles font l’objet d’un contrôle scientifique basé sur différents
            ouvrages de référence disponibles en ligne et référentiels internationaux.
          {% endblocktrans %}
        </p>
        <p><a href="{% url 'bibliographie' %}">{% trans 'Bibliographie des autorités' %}</a></p>

        <h3>{% trans 'Les sources' %}</h3>
        <p>
          {% blocktrans %}
            <span class="lead">La règle : au moins une source par événement.</span>
            L’édition d’une chronologie dans Dezède suit un principe cher à l’historien :
            la transparence critique.
            C’est pourquoi le programme impose une condition <em>sine qua none</em>
            à l’utilisateur : la création d’un événement n’est possible que
            si elle est associée <em>a minima</em> à une source.
            La procédure éditoriale suggère d’ailleurs de démarrer le travail
            par la création d’une source qu’il faut ensuite associer
            à un événement.
            Les sources sont de différentes natures : périodiques, archives,
            correspondances, mémoires, éphémères, images, sons, vidéos.
            Elles se présentent de différentes manières :
            de la simple référence bibliographique (notamment pour les archives)
            à la transcription diplomatique partielle ou intégrale
            (interrogeable en plein texte via le moteur de recherche),
            du lien hypertexte vers des ressources électroniques permanentes
            à la publication d’images numériques consultables sur un feuilleteur.
          {% endblocktrans %}
        </p>
        {# TODO: Lien vers les rubriques « sources » et « événements » dans le mode d’emploi. #}

        <h3>{% trans 'Le filtre et les événements' %}</h3>
        <p>
          {% blocktrans %}
            <span class="lead">Rechercher des événements dans Dezède.</span>
            Il suffit de se rendre dans le menu « événements » et d’utiliser le filtre.
            Celui-ci permet de croiser différentes requêtes de tri :
            recherche libre, période, tri par année civile ou par saison, lieu, œuvre, individu, ensemble.
          {% endblocktrans %}
        </p>
        <p><a href="{% url 'evenements' %}">{% trans 'Chercher et filter des événements' %}</a></p>

        <h3>{% trans 'Le moteur de recherche' %}</h3>
        <p>
          {% blocktrans %}
            <span class="lead">Rechercher dans l’ensemble des contenus.</span>
            Le moteur de recherche est affiché en permanence dans la barre des menus
            et permet à tout moment d’interroger les contenus de Dezède :
            dossiers d’événements, événements, individus, ensembles, œuvres,
            lieux et institutions, sources, événements,
            rôles et instruments, professions.
            L’interrogation se fait de deux manières différentes :
            par une recherche libre en tapant
            un ou plusieurs mots caractéristiques ;
            par une recherche avancée en sélectionnant un ou plusieurs filtres.
          {% endblocktrans %}
        </p>
        <p><a href="{% url 'haystack_search' %}">{% trans 'Rechercher dans Dezède' %}</a></p>

      </div>

      <div class="tab-pane" id="utilisateurs">

        <h3>{% trans 'Des chercheurs aux étudiants' %}</h3>
        <p>
          {% blocktrans %}
            <span class="lead">Dezède est mis à la disposition des chercheurs et des étudiants</span>
            qui souhaitent publier des corpus documentaires sur un artiste,
            une œuvre, un lieu de spectacle, un phénomène musical ou théâtral.
            Modélisé dans un esprit de pluridisciplinarité, Dezède s’adresse aux chercheurs
            inscrits dans différents champs disciplinaires :
            musicologie, lettres modernes, histoire culturelle moderne et contemporaine,
            arts du spectacle, histoire de l’art, histoire de la danse, etc.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
            Dezède propose aux jeunes chercheurs inscrits en master
            ou en thèse de doctorat une aide à l’édition
            (mise à disposition des autorités, module d’exportation des annexes
            avec mise en page automatique, outil statistique, outils de
            visualisation) et à la valorisation des travaux universitaires
            (confidentialité des données personnelles, possibilité de différer
            la publication en ligne).
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
            Tourné vers le développement de pratiques pédagogiques innovantes
            en partie financées par une dotation obtenue en 2014 à
            l’université de Rouen Normandie, Dezède est également
            un support pour l’enseignement universitaire, en particulier dans
            les domaines de la méthodologie de la recherche et des humanités
            numériques.
            Les comptes personnels des étudiants sont liés à un groupe placé
            sous la responsabilité d’un enseignant.
          {% endblocktrans %}
        </p>
        {# TODO: Lien vers l’équipe #}
        <p><a href="{% url 'contribuer' %}">{% trans 'Soumettre un projet' %}</a></p>
        <p><a href="{% url 'source_examen' %}">{% trans 'Découvrir l’outil de formation à la transcription' %}</a></p>
        {# TODO: Lien vers le formulaire « Mes premiers pas sur Dezède » #}

        <h3>{% trans 'Des partenaires' %}</h3>
        <p>
          {% url 'dossierdevenements_permanent_detail' 24 as royaumont_url %}
          {% url 'dossierdevenements_permanent_detail' 38 as afo_url %}
          {% url 'dossier_opera_comique_presentation' as oc_url %}
          {% blocktrans %}
            <span class="lead">Dezède est une solution d’archivage et de
              promotion du spectacle vivant pour les institutions</span>
            en quête d’un portail sécurisé pour la valorisation de leur
            patrimoine et de leur histoire.

            Entre 2013 et 2015, trois partenariats ont été initiés.
            Depuis 2013, les étudiants du master de musicologie de
            l’université de Rouen Normandie travaillent à la réalisation du
            <a href="{{ royaumont_url }}">dossier des programmes des concerts donnés à l’abbaye de Royaumont</a>.
            Depuis 2014, <a href="{{ afo_url }}">les saisons de concerts et les archives audiovisuelles des orchestres
            membres de l’<abbr title="Association Française des Orchestres">AFO</abbr></a> sont
            publiés et accessibles gratuitement dans Dezède.
            Depuis le 13 novembre 2014, <a href="{{ oc_url }}">les archives de l’Opéra Comique</a>
            sont consultables dans Dezède, publication rendue possible
            dans le cadre d’une délégation au CNRS (IRCL, UMR 5186).
          {% endblocktrans %}
        </p>
        <p>
          <a href="{{ royaumont_url }}">{% trans 'Concerts à l’abbaye de Royaumont' %}</a>
          –
          <a href="{{ afo_url }}">{% trans 'Association Française des Orchestres' %}</a>
          –
          <a href="{{ oc_url }}">{% trans 'Archives de l’Opéra Comique' %}</a>
        </p>
        {# TODO: Lien vers les partenaires #}
        {# TODO: Lien vers la « page des logos » #}
        <p>{% trans 'Pour devenir partenaire :' %} {{ 'contact@dezede.org'|urlize }}</p>

        <h3>{% trans 'Des auteurs' %}</h3>
        <p>
          {% blocktrans %}
            <span class="lead">Chaque utilisateur est propriétaire de ses données.</span>
            En les produisant à partir de son compte,
            l’utilisateur (chercheur, étudiant, institution, etc.) en devient automatiquement
            l’auteur et le propriétaire.
            Cet affichage offre une transparence totale sur l’appartenance
            et la provenance des données. Celles-ci sont alors mutualisées
            entre les utilisateurs et modérées par le comité éditorial.
          {% endblocktrans %}
        </p>

      </div>

      <div class="tab-pane" id="identite">

        <h3>{% trans 'Le choix du nom' %}</h3>
        <div class="row">
          <div class="col-md-8">
            <p>
              {% blocktrans %}
                <span class="lead">« Dezède » est le nom d’un compositeur qui ne connaissait pas ses géniteurs.</span>
                <em>Les Trois fermiers</em> (1777),
                <em>Blaise et Babet</em> (1783) et <em>Alexis et Justine</em> (1785)
                figurent parmi les plus grands succès de Nicolas Dezède (1740/5-1792)
                et du répertoire de l’Opéra-Comique entre la fin de l’Ancien Régime
                et la Restauration.
                L’un de ses vingt opéras, <em>Julie</em> (1772) a également été rendu célèbre
                par les variations que Mozart composa sur l’air
                « Lison dormait dans un bocage » (K. 264).
                Fétis écrivait en 1837 qu’« on ignore quelle fut sa patrie »
                (<em>Biographie générale de la musique</em>, Bruxelles, Méline,
                Cans et compagnie, 1837, t. III, p. 302) :
                était-il le fils illégitime d’un prince allemand
                – de Frédéric II de Prusse, comme on peut le lire parfois –
                ou était-il né à Lyon ?
                Lui-même signait ses partitions « De Z. », « D. Z. », « Desaides » ou encore « Dezède ».
                Fétis publie d’ailleurs cette anecdote :
                à son arrivée à Paris, « il jouissait […] d’une pension de vingt-cinq mille francs,
                qui fut doublée à sa majorité.
                Désirant connaître les auteurs de ses jours, il s’adressa à son notaire ;
                mais celui-ci le prévint que ses démarches seraient inutiles,
                et qu’en les continuant il s’exposerait à perdre son revenu.
                Il ne tint compte de cet avis, continua ses recherches,
                ne découvrit rien, et fut privé de sa pension.
                Ce fut alors qu’il songea à tirer parti de ses talents
                pour assurer son existence. » (<em>op. cit.</em>)
              {% endblocktrans %}
            </p>
            <p>
              {% blocktrans %}
                Ce choix s’est imposé pendant le déjeuner du 23 février 2012,
                quand Joann Élart, Étienne Jardin, Yannick Simon, Patrick Taïeb
                et Bertrand Bordage ont abordé la question du nom
                à donner au portail. Il fallait un mot qui puisse incarner le projet :
                la séduisante Carmen et l’emblématique Boieldieu furent évoqués avant de laisser place à Dezède,
                proposition de Patrick Taïeb apparue évidente à tous :
                le nom est une énigme en soi…
                Et il fallait inventer un outil informatique pour parvenir, peut-être un jour, à la résoudre !
              {% endblocktrans %}
            </p>
            <p>
              <a href="{% url 'individu_permanent_detail' 23 %}">
                {% trans 'En savoir plus sur <span class="sc">Dezède</span> dans Dezède' %}
              </a>
            </p>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <img src="{% static 'images/dezede-portrait.png' %}" />
              <div class="caption">
                {% trans 'Jean-Baptiste <span class="sc">Greuze</span>, <em>Nicolas Dezède</em>, huile sur toile, Galerie Saphir.' %}
              </div>
            </div>
          </div>
        </div>

        <h3>{% trans 'Le logo' %}</h3>
        <p>
          {% blocktrans %}
            <span class="lead">Le logo est inspiré d’un manuscrit conservé à Rouen.</span>
            Il reproduit la mention d’auteur figurant sur la page de titre d’<em>Auguste et Théodore</em>,
            plus particulièrement de l’exemplaire conservé à la Bibliothèque municipale de Rouen
            en copie manuscrite sous la cote [Théâtre 52.
            Il s’agissait de rendre hommage à cette bibliothèque théâtrale
            qui a joué un rôle fondateur dans l’émergence du projet Dezède.
            Le logo n’est pas une reproduction à proprement parler,
            mais une réalisation de Bertrand Bordage en dessin vectoriel
            inspirée de cette mention.
          {% endblocktrans %}
        </p>
        <p>
          <a href="{% static 'images/logo-source.jpg' %}" target="_blank">{% trans 'Source du logo' %}</a>
        </p>
        <p>
          {% blocktrans with contact_link='contact@dezede.org'|urlize %}
            Pour utiliser le logo, contactez {{ contact_link }}. Il est décliné en quatre versions :
          {% endblocktrans %}
        </p>
        <div class="row text-center">
          <div class="col-md-2 text-right" style="padding-top: 12px;">
            {% trans 'Complet' %}
          </div>
          <div class="col-md-3">
            <img src="{% static 'images/logo.png' %}" style="padding-top: 5px;" />
          </div>
          <div class="col-md-3" style="background-color: black; border-radius: 5px 5px 0 0; padding-top: 5px;">
            <img src="{% static 'images/logo-light.png' %}" />
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-2 text-right" style="padding-top: 6px;">
            {% trans 'Réduit' %}
          </div>
          <div class="col-md-3">
            <img src="{% static 'images/logo-mini.png' %}" />
          </div>
          <div class="col-md-3" style="background-color: black; padding-bottom: 5px;">
            <img src="{% static 'images/logo-mini-light.png' %}" />
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-3 col-md-offset-2">
            {% trans 'Supports clairs' %}
          </div>
          <div class="col-md-3" style="background-color: black; color: #fffbe6; border-radius: 0 0 5px 5px; padding-bottom: 2px;">
            {% trans 'Supports sombres' %}
          </div>
        </div>

        <h3>{% trans 'La marque' %}</h3>
        <p>
          {% blocktrans %}
            <span class="lead">
              Dezède est une marque déposée à
              l’<abbr title="Institut national de la propriété industrielle">INPI</abbr>
            </span>
            depuis le 12 décembre 2013 sous le numéro national 13 4 056 592.
          {% endblocktrans %}
        </p>

      </div>

      <div class="tab-pane" id="historique">

        <h3>{% trans 'Origines' %}</h3>
        <p>
          {% blocktrans %}
            <span class="lead">
              Dezède puise ses origines dans un programme de recherche sur
              <em>l’histoire du concert en France</em>
            </span>
            dirigé par Patrick Taïeb et Hervé Lacombe,
            et dans la méthode d’investigation historique fondée sur
            la reconstitution de programmes de concerts à partir de la presse et des archives.
            Constitué autour du détachement de Patrick Taïeb à
            l’<abbr title="Institut universitaire de France">IUF</abbr> entre 2000 et 2005,
            puis autour du programme 06-BLAN-03448 de
            l’<abbr title="Agence nationale de la recherche">ANR</abbr>
            entre 2006 et 2009, ce projet de recherche a été partagé
            par plusieurs dizaines de chercheurs du monde entier pendant une décennie,
            parmi lesquels Joann Élart et Yannick Simon ont été parmi les plus actifs.
            Si les efforts menés pour concevoir un outil informatique n’ont pas abouti à cette époque,
            les expériences acquises ont permis toutefois d’établir un cahier des charges pour le réaliser :
            la solution attendue devait être pérenne, gratuite, sécurisée, souple, illimitée, contributive et dématérialisée.
            Partant de cet acquis et souhaitant élargir la méthode à l’ensemble des spectacles,
            Joann Élart a pu annoncer à ses partenaires le lancement du projet
            Dezède en octobre 2011, suite aux premiers contacts pris avec Bertrand Bordage,
            le concepteur du programme informatique.
          {% endblocktrans %}
        </p>

        <h3>{% trans 'Dezède en quelques dates' %}</h3>

        <table class="table table-condensed">
          <thead>
            <tr><th style="width: 130px;">2011</th><th></th></tr>
          </thead>
          <tbody>
            <tr>
              <td>{% trans 'Juin' %}</td>
              <td>
                <p>
                  {% trans 'Première rencontre entre Joann Élart et Bertrand Bordage au Conservatoire de Rouen' %}
                </p>
              </td>
            </tr>
            <tr>
              <td>{% trans 'Août' %}</td>
              <td>
                <p>{% trans 'Première évocation du projet à Arques-la-Bataille' %}</p>
              </td>
            </tr>
            <tr>
              <td>{% trans 'Septembre' %}</td>
              <td>
                <p>{% trans 'Premier déjeuner de travail à Rouen' %}</p>
              </td>
            </tr>
            <tr>
              <td>{% trans 'Octobre' %}</td>
              <td>
                <p>{% trans 'Début de l’aventure' %}</p>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table table-condensed">
          <thead>
            <tr><th style="width: 130px;">2012</th><th></th></tr>
          </thead>
          <tbody>
            <tr>
              <td>{% trans '23 février' %}</td>
              <td>
                <p>
                  {% blocktrans %}
                    Journée d’étude à l’Opéra de Rouen Haute-Normandie :
                    <em>Rendez-vous au Théâtre des Arts de Rouen !</em><br />
                    Présentation publique du prototype, baptisé Dezède le jour même<br />
                    Première rencontre avec
                    l’<abbr title="Association Française des Orchestres">AFO</abbr>
                  {% endblocktrans %}
                </p>
              </td>
            </tr>
            <tr>
              <td>{% trans '28 septembre' %}</td>
              <td>
                <p>
                  {% blocktrans %}
                    Mise en ligne en version alpha sur un serveur Webfaction
                    à l’adresse alpha.dezede.org
                  {% endblocktrans %}
                </p>
              </td>
            </tr>
            <tr>
              <td>{% trans '25 octobre' %}</td>
              <td>
                <p>{% trans '1 000<sup>e</sup> événement' %}</p>
              </td>
            </tr>
            <tr>
              <td>{% trans '21 novembre' %}</td>
              <td>
                <p>
                  {% blocktrans %}
                    Journée d’étude à l’université du Havre :
                    <em>Quand la politique s’invite au spectacle</em><br />
                    Inauguration de la version bêta et passage à l’adresse beta.dezede.org
                  {% endblocktrans %}
                </p>
              </td>
            </tr>
            <tr>
              <td>{% trans '5 décembre' %}</td>
              <td>
                <p>
                  {% blocktrans %}
                    Premiers échanges avec la <abbr title="Direction de la Recherche et de la Valorisation">DRV</abbr>
                    de l’université de Rouen Normandie pour la mise en place d’un accord de copropriété
                    entre les universités de Rouen et de Montpellier 3,
                    les laboratoires
                    <abbr title="Centre d’Études et de Recherche Éditer/Interpréter">CÉRÉdI</abbr>,
                    <abbr title="Groupe de Recherche d’Histoire">GRHis</abbr>
                    et <abbr title="Institut de Recherche sur la Renaissance, l’Age Classique et les Lumières">IRCL</abbr>,
                    les trois enseignants-chercheurs inventeurs Joann Élart,
                    Yannick Simon et Patrick Taïeb
                  {% endblocktrans %}
                </p>
              </td>
            </tr>
            <tr>
              <td>{% trans '20 décembre' %}</td>
              <td>
                <p>{% trans '2 000<sup>e</sup> événement' %}</p>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table table-condensed">
          <thead>
            <tr><th style="width: 130px;">2013</th><th></th></tr>
          </thead>
          <tbody>
            <tr>
              <td>{% trans '21 février' %}</td>
              <td>
                <p>
                  {% blocktrans %}
                    Colloque à l’Opéra-Comique :
                    <em>Les emplois dans l’art lyrique français</em><br />
                    Inauguration de la version 1.0 sur l’adresse définitive dezede.org
                  {% endblocktrans %}
                </p>
              </td>
            </tr>
            <tr>
              <td>{% trans '14 mars' %}</td>
              <td>
                <p>{% trans '3 000<sup>e</sup> événement' %}</p>
              </td>
            </tr>
            <tr>
              <td>{% trans '3 juin' %}</td>
              <td>
                <p>
                  {% blocktrans %}
                    Dezède est hébergé par
                    l’<abbr title="Infrastructure de Recherche">IR*</abbr> Huma-Num
                  {% endblocktrans %}
                </p>
              </td>
            </tr>
            <tr>
              <td>{% trans '24 juin' %}</td>
              <td>
                <p>{% trans '4 000<sup>e</sup> événement' %}</p>
              </td>
            </tr>
            <tr>
              <td>{% trans '2 juillet' %}</td>
              <td>
                <p>
                  {% blocktrans %}
                    Présentation publique aux journées annuelles du groupe Francophone Music Criticism
                    à la <abbr title="Bibliothèque Historique de la Ville de Paris">BHVP</abbr>
                  {% endblocktrans %}
                </p>
              </td>
            </tr>
            <tr>
              <td>{% trans '16 juillet' %}</td>
              <td>
                <p>{% trans '5 000<sup>e</sup> événement' %}</p>
              </td>
            </tr>
            <tr>
              <td>{% trans '21 octobre' %}</td>
              <td>
                <p>{% trans 'La <abbr title="Bibliothèque nationale de France">BnF</abbr> attribue à Dezède l’ISSN 2269-9473' %}</p>
              </td>
            </tr>
            <tr>
              <td>{% trans '26 octobre' %}</td>
              <td>
                <p>{% trans '6 000<sup>e</sup> événement' %}</p>
              </td>
            </tr>
            <tr>
              <td>{% trans '1<sup>er</sup> décembre' %}</td>
              <td>
                <p>{% trans '7 000<sup>e</sup> événement' %}</p>
              </td>
            </tr>
            <tr>
              <td>{% trans '9 décembre' %}</td>
              <td>
                <p>
                  {% blocktrans %}
                    Présentation publique aux journées professionnelles du groupe français
                    de l’<abbr title="Association Internationale des Bibliothèques Musicales">AIBM</abbr>
                    au Centre de documentation de la musique contemporaine
                  {% endblocktrans %}
                </p>
              </td>
            </tr>
            <tr>
              <td>{% trans '12 décembre' %}</td>
              <td>
                <p>
                  {% blocktrans %}
                    Dezède est une marque déposée à
                    l’<abbr title="Institut national de la propriété industrielle">INPI</abbr> − Île-de-France
                    sous le numéro national 13 4 056 592
                  {% endblocktrans %}
                </p>
              </td>
            </tr>
            <tr>
              <td>{% trans '18 décembre' %}</td>
              <td>
                <p>
                  {% blocktrans %}
                    Signature d’un contrat de licence
                    avec l’<abbr title="Association Française des Orchestres">AFO</abbr> au Sénat
                    et création du dossier <a href="{{ afo_url }}">Association Française des Orchestres</a>
                  {% endblocktrans %}
                </p>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table table-condensed">
          <thead>
            <tr><th style="width: 130px;">2014</th><th></th></tr>
          </thead>
          <tbody>
            <tr>
              <td>{% trans '31 janvier' %}</td>
              <td>
                <p>{% trans '8 000<sup>e</sup> événement' %}</p>
              </td>
            </tr>
            <tr>
              <td>{% trans '17 mars' %}</td>
              <td>
                <p>{% trans '9 000<sup>e</sup> événement' %}</p>
              </td>
            </tr>
            <tr>
              <td>{% trans '7 avril' %}</td>
              <td>
                <p>{% trans '10 000<sup>e</sup> événement' %}</p>
              </td>
            </tr>
            <tr>
              <td>{% trans '21 mai' %}</td>
              <td>
                <p>
                  {% blocktrans %}
                    Colloque à l’Opéra-Comique : <em>Le répertoire en question</em><br />
                    Inauguration de la version 2.0
                  {% endblocktrans %}
                </p>
              </td>
            </tr>
            <tr>
              <td>{% trans '23 novembre' %}</td>
              <td>
                <p>
                  {% blocktrans %}
                    Signature de la convention avec la Fondation Royaumont
                    pour l’accueil d’étudiants de master du département
                    de musicologie de l’université de Rouen Normandie
                    (réalisation du dossier
                    <a href="{{ royaumont_url }}">Concerts à l’Abbaye de Royaumont</a>)
                  {% endblocktrans %}
                </p>
              </td>
            </tr>
            <tr>
              <td>{% trans '12 août' %}</td>
              <td>
                <p>{% trans '15 000<sup>e</sup> événement' %}</p>
              </td>
            </tr>
            <tr>
              <td>{% trans '13 novembre' %}</td>
              <td>
                <p>
                  {% blocktrans %}
                    Inauguration du dossier <a href="{{ oc_url }}">Archives de l’Opéra Comique</a>
                  {% endblocktrans %}
                </p>
              </td>
            </tr>
            <tr>
              <td>{% trans '18 décembre' %}</td>
              <td>
                <p>{% trans 'Signature d’un contrat de licence avec l’Opéra Comique' %}</p>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table table-condensed">
          <thead>
            <tr><th style="width: 130px;">2015</th><th></th></tr>
          </thead>
          <tbody>
            <tr>
              <td>{% trans '12 février' %}</td>
              <td>
                <p>{% trans '20 000<sup>e</sup> événement' %}</p>
              </td>
            </tr>
            <tr>
              <td>{% trans '21-22 mai' %}</td>
              <td>
                <p>{% trans 'Colloque à Montpellier : <em>Nicolas Dezède et son œuvre. Un compositeur au temps des lumières</em>' %}</p>
              </td>
            </tr>
            <tr>
              <td>{% trans '30 septembre' %}</td>
              <td>
                <p>
                  {% blocktrans %}
                    Inauguration des outils pédagogiques financés par une
                    dotation de l’université de Rouen Normandie en 2014
                  {% endblocktrans %}
                </p>
              </td>
            </tr>
            <tr>
              <td>{% trans '2 décembre' %}</td>
              <td>
                <p>{% trans 'Inauguration du <a href="http://dezede.hypotheses.org/">carnet de recherche Dezède</a> (ISSN 2492-9204)' %}</p>
              </td>
            </tr>
            <tr>
              <td>{% trans '16 décembre' %}</td>
              <td>
                <p>
                  {% blocktrans %}
                    Dezède rencontre la Comédie-Française : tables rondes et hackathon
                    dans le cadre du colloque <em>Remettre en jeu le passé</em>
                  {% endblocktrans %}
                </p>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table table-condensed">
          <thead>
            <tr><th style="width: 130px;">2016</th><th></th></tr>
          </thead>
          <tbody>
            <tr>
              <td>{% trans '21 janvier' %}</td>
              <td>
                <p>
                  {% trans 'Présentation de Dezède à l’<abbr title="Institut Mémoires de l’Édition Contemporaine">IMEC</abbr>' %}
                </p>
              </td>
            </tr>
            <tr>
              <td>{% trans '24 mars' %}</td>
              <td>
                <p>
                  {% blocktrans %}
                    Dezède rejoint le <a href="https://musica.hypotheses.org/">Consortium Musica1</a>
                    labellisé par l’<abbr title="Infrastructure de Recherche">IR*</abbr> Huma-Num
                  {% endblocktrans %}
                </p>
              </td>
            </tr>
            <tr>
              <td>{% trans '9-10 mai' %}</td>
              <td>
                <p>
                  {% blocktrans %}
                    Colloque à l’École nationale des chartes à Paris :
                    <em>Nicolas Dezède. Un compositeur des Lumières à Paris</em>
                  {% endblocktrans %}
                </p>
              </td>
            </tr>
            <tr>
              <td>{% trans '16 juin' %}</td>
              <td>
                <p>{% trans '30 000<sup>e</sup> événement' %}</p>
              </td>
            </tr>
            <tr>
              <td>{% trans '1<sup>er</sup> octobre' %}</td>
              <td>
                <p>
                  {% blocktrans %}
                    Internationalisation de Dezède en quatre langues
                    (allemand, anglais, espagnol, italien)
                    grâce au soutien de <a href="http://irihs.univ-rouen.fr/">l’IRIHS</a>
                    et la Région Normandie
                  {% endblocktrans %}
                </p>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table table-condensed">
          <thead>
            <tr><th style="width: 130px;">2017</th><th></th></tr>
          </thead>
          <tbody>
            <tr>
              <td>{% trans '30 avril' %}</td>
              <td>
                <p>{% trans 'Rapprochement avec la Maîtrise de Radio France' %}</p>
              </td>
            </tr>
            <tr>
              <td>{% trans '23 et 24 octobre' %}</td>
              <td>
                <p>
                  {% blocktrans %}
                    Présentation de Dezède à Dresde dans le cadre de
                    <em>Music Performance Ephemera</em>
                  {% endblocktrans %}
                </p>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table table-condensed">
          <thead>
            <tr><th style="width: 130px;">2018</th><th></th></tr>
          </thead>
          <tbody>
            <tr>
              <td>{% trans '30 mai' %}</td>
              <td><p>{% trans 'Dezède est sur Facebook' %}</p></td>
            </tr>
            <tr>
              <td>{% trans '9 juin' %}</td>
              <td><p>{% trans 'Atelier Dezède #1 à l’Abbaye de Royaumont' %}</p></td>
            </tr>
          </tbody>
        </table>

        <table class="table table-condensed">
          <thead>
            <tr><th style="width: 130px;">2019</th><th></th></tr>
          </thead>
          <tbody>
            <tr>
              <td>{% trans '25 février' %}</td>
              <td>
                <p>
                  {% blocktrans %}
                    Lancement du projet SpectaNum (2019-2021), partie intégrante du
                    <abbr title="Réseau d’Intérêts Normands">RIN</abbr>
                    <abbr title="Contenus et cORpus NUMérisés">CorNum</abbr>
                    dédié aux humanités numériques et financé par la région Normandie<br />
                    Prise de fonction de Marion Blanc, ingénieure d’études dédiée au projet
                  {% endblocktrans %}
                </p>
              </td>
            </tr>
            <tr>
              <td>{% trans '7 juin' %}</td>
              <td>
                <p>
                  {% blocktrans %}
                    Journée <abbr title="Contenus et cORpus NUMérisés">CorNum</abbr>
                    à l’université de Rouen Normandie
                  {% endblocktrans %}
                </p>
              </td>
            </tr>
            <tr>
              <td>{% trans '15 juin' %}</td>
              <td><p>{% trans 'Atelier Dezède #2 à l’Abbaye de Royaumont' %}</p></td>
            </tr>
          </tbody>
        </table>

        <table class="table table-condensed">
          <thead>
            <tr><th style="width: 130px;">2020</th><th></th></tr>
          </thead>
          <tbody>
            <tr>
              <td>{% trans '7 avril' %}</td>
              <td><p>{% trans '40 000<sup>e</sup> événement' %}</p></td>
            </tr>
            <tr>
              <td>{% trans '1<sup>er</sup> juin' %}</td>
              <td>
                <p>
                  {% blocktrans %}
                    Publication de l’article de Joann Élart et Yannick Simon,
                    « Du spectacle vivant aux humanités numériques : le projet Dezède »,
                    <em>Humanités numériques</em>, n° 2, 2020
                    <a href="https://journals.openedition.org/revuehn/408">[en ligne]</a>
                  {% endblocktrans %}
                </p>
              </td>
            </tr>
            <tr>
              <td>{% trans '2 août' %}</td>
              <td><p>{% trans '50 000<sup>e</sup> événement' %}</p></td>
            </tr>
            <tr>
              <td>{% trans '19 décembre' %}</td>
              <td>
                <p>
                  {% trans 'Ajout du <a href="https://dezede.org/rss.xml">flux RSS</a>' %}
                </p>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table table-condensed">
          <thead>
            <tr><th style="width: 130px;">2021</th><th></th></tr>
          </thead>
          <tbody>
            <tr>
              <td>{% trans '30 avril' %}</td>
              <td>
                <p>
                  {% blocktrans %}
                    Ouverture du menu Bibliothèque et de la Bibliothèque numérique
                    des spectacles (SpectaNum /
                    <abbr title="Réseau d’Intérêts Normands">RIN</abbr>
                    <abbr title="Contenus et cORpus NUMérisés">CorNum</abbr>)
                  {% endblocktrans %}
                </p>
              </td>
            </tr>
            <tr>
              <td>{% trans '7 mai' %}</td>
              <td>
                <p>
                  {% blocktrans %}
                    Inauguration de l’outil statistiques (SpectaNum /
                    <abbr title="Réseau d’Intérêts Normands">RIN</abbr>
                    <abbr title="Contenus et cORpus NUMérisés">CorNum</abbr>)
                  {% endblocktrans %}
                </p>
              </td>
            </tr>
            <tr>
              <td>{% trans '19 juin' %}</td>
              <td><p>{% trans 'Atelier Dezède #3' %}</p></td>
            </tr>
          </tbody>
        </table>

        <table class="table table-condensed">
          <thead>
            <tr><th style="width: 130px;">2022</th><th></th></tr>
          </thead>
          <tbody>
            <tr>
              <td>{% trans '26 janvier' %}</td>
              <td><p>{% trans 'Dezède sur Instagram' %}</p></td>
            </tr>
            <tr>
              <td>{% trans '23 février' %}</td>
              <td><p>{% trans 'Dezède souffle ses dix bougies' %}</p></td>
            </tr>
            <tr>
              <td>{% trans '18 juin' %}</td>
              <td><p>{% trans 'Atelier Dezède #4 (en ligne)' %}</p></td>
            </tr>
            <tr>
              <td>{% trans '23 juin' %}</td>
              <td>
                <p>
                  {% blocktrans %}
                    Dezède rejoint le <a href="https://musica.hypotheses.org/">
                    Consortium Musica2</a> labellisé par
                    l’<abbr title="Infrastructure de Recherche">IR*</abbr>
                    Huma-Num (lancement du Consortium à Tours)
                  {% endblocktrans %}
                </p>
              </td>
            </tr>
            <tr>
              <td>{% trans '15 et 16 décembre' %}</td>
              <td>
                <p>
                  {% blocktrans %}
                    Dezède co-organise les premières rencontres de la
                    musicologie numérique avec le soutien deMusica2,
                    <em>Quel avenir pour la musicologie numérique ?</em>
                    à la BLGF à Paris
                  {% endblocktrans %}
                </p>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

      <div class="tab-pane" id="developpement">

        <p>
          {% url 'user_profile' 'joann_elart' as elart_url %}
          {% blocktrans %}
            Jusqu’à présent, Dezède a été exclusivement développé par
            <a href="https://noripyt.com/">NoriPyt</a>, suivant les consignes scientifiques de
            <a href="{{ elart_url }}">Joann <span class="sc">Élart</span></a>.
            Le design a été réalisé par Bertrand Bordage et Joann Élart.
          {% endblocktrans %}
        </p>
        <p>{% trans 'La conception de Dezède repose sur quatre idées fondatrices :' %}</p>
        <ul>
          <li>
            <p>
              {% blocktrans %}
                la volonté de rendre l’outil très ergonomique,
                tant pour le lecteur que pour le contributeur ;
              {% endblocktrans %}
            </p>
          </li>
          <li>
            <p>
              {% blocktrans %}
                le recours à des solutions 100 % <em>open source</em> (le code est accessible
                <a href="https://github.com/dezede/dezede">dans notre dépôt GitHub</a>) ;
              {% endblocktrans %}
            </p>
          </li>
          <li>
            <p>
              {% blocktrans %}
                le choix des solutions techniques les plus pérennes,
                notamment le langage de programmation <a href="https://www.python.org/">Python</a>
                qui permet d’écrire du code extrêmement lisible et simplifie nettement la maintenance ;
              {% endblocktrans %}
            </p>
          </li>
          <li>
            <p>
              {% blocktrans %}
                la recherche d’une grande stabilité par la mise en place
                d’une suite de tests automatiques couvrant la majeure partie de ses fonctionnalités.
              {% endblocktrans %}
            </p>
          </li>
        </ul>

        <h3>{% trans 'Solutions techniques' %}</h3>

        <p>
          {% trans 'Les principales solutions techniques sont :' %}
        </p>

        <ul>
          <li>{% trans 'Langage de programmation' %} : <a href="https://www.python.org/">Python</a></li>
          <li>{% trans 'Boîte à outils web' %} : <a href="https://www.djangoproject.com/">Django</a></li>
          <li>{% trans 'Base de données' %} : <a href="http://www.postgresql.org/">PostgreSQL</a> ; <a href="http://redis.io/">Redis</a></li>
          <li>{% trans 'Moteur de recherche' %} : <a href="http://www.elasticsearch.org/">Elasticsearch</a></li>
          <li>{% trans 'Design' %} : <a href="http://getbootstrap.com/">Bootstrap</a> ; <a href="http://lesscss.org/">Less</a></li>
        </ul>

        <p>{% trans 'Voir <a href="https://github.com/dezede/dezede">notre dépôt GitHub</a> pour plus de détails.' %}</p>

      </div>

    </div>

  </div>
{% endblock %}
