{% load i18n highlight endless extras %}

{% paginate 10 object_list %} {# FIXME: Utiliser HAYSTACK_SEARCH_RESULTS_PER_PAGE #}

{% show_pages %}

{% for result in object_list %}
  {% if result %}
    <div class="result {{ result.model.class_name.lower }}">
      <h3>{{ result.verbose_name|capfirst }}</h3>
      {% if result.object.link %}
        {{ result.object.link }}<br />
      {% else %}
        {{ result.object.html }}<br />
      {% endif %}
      <small>
        {% if result.object.contenu %}
          {% with result.object.contenu|stripchars as contenu %}
            {% highlight contenu with query html_tag 'mark' %}
          {% endwith %}
        {% else %}
          {% with result.object.html|stripchars as contenu %}
            {% highlight contenu with query html_tag 'mark' %}
          {% endwith %}
        {% endif %}
      </small>
    </div>
  {% endif %}
{% endfor %}

{% show_pages %}
