{% extends 'base.html' %}
{% load i18n highlight humanize sekizai_tags %}

{% block header %}
  <h1>{% block title %}{% trans "Recherche" %}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="get" action=".">
    <div class="input-group col-xs-5">
      <input type="text" name="q" value="{{ form.q.data|default:""|escape }}"
             id="id_q" autofocus="autofocus" placeholder="Tapez ici"
             class="form-control" />
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
    <div class="form-group">
      <div class="btn-group btn-group-sm" data-toggle="buttons-checkbox">
        {% for choice in form.models.field.choices %}
          <button type="button"
                  class="btn btn-default{% if choice.0 in form.models.data %}
                         active{% endif %}">
            <input type="hidden" name="models"
                   {% if choice.0 not in form.models.data %}
                   disabled="disabled"{% endif %}
                   value="{{ choice.0 }}"
                   id="id_models_{{ forloop.counter0 }}" />
            {{ choice.1 }}</button>
        {% endfor %}
      </div>
    </div>
    {% addtoblock 'js' %}
      <script>
        var handles_checkboxes = function() {
          var self = $(this);
          var prev = self.children();
          if(self.hasClass('active')) {
            prev.attr('disabled', 'disabled');
            self.addClass('active');
          } else {
            prev.removeAttr('disabled');
          }
        };
        var buttons = $('.btn-group button');
        buttons.ready(handles_checkboxes);
        buttons.click(handles_checkboxes);
      </script>
    {% endaddtoblock %}
  </form>

  {% if query %}
    <hr />

    <h3>
      {{ paginator.object_list.count|apnumber|capfirst }}
      {% blocktrans count counter=paginator.object_list|length %}résultat{% plural %}résultats{% endblocktrans %}
    </h3>

    {% if suggestion %}
      <p>
        {% trans "Essayez aussi :" %}
        <a href="?q={{ suggestion|escape }}">{{ suggestion }}</a>
      </p>
    {% endif %}

    {% include 'search/search_page.html' with object_list=paginator.object_list %}

  {% else %}
    <p>{% trans "Tapez par exemple « chanteuse », « Molière », « opéra » ou encore « théâtre »." %}</p>
  {% endif %}
{% endblock %}
