{% extends 'base.html' %}
{% load static_grouper static i18n %}


{% block header %}
  <h1>
    {% block title %}
      {{ model.meta.verbose_name_plural|capfirst }}
    {% endblock %}
  </h1>
{% endblock %}


{% block content %}
  <div id="table">
    <header class="row">
      <form class="col-sm-3">
        <div class="input-group">
          <input type="text" placeholder="{% trans 'Search' %}" class="form-control" />
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
      <div id="count" class="col-sm-2 btn disabled center-block"></div>
      <nav class="col-sm-7">
        <ul class="pagination pagination-sm pull-right"></ul>
      </nav>
    </header>

    <table class="table table-condensed table-striped">
      <thead></thead>
      <tbody></tbody>
    </table>

  </div>

  {% addstatic css %}
    <style>
      #table header {
        margin-bottom: 20px;
      }
      #table .pagination {
        margin: 0;
      }
      #table table {
        table-layout: fixed;
      }
      #table th {
        cursor: default;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
      }
      #table th.sortable {
        cursor: pointer;
      }
    </style>
  {% endaddstatic %}

  {% addstatic js %}
    <script src="{% static 'js/tablature.js' %}"></script>
  {% endaddstatic %}

  {% addstatic js %}
    <script>
      $(function () {
        new Table(
          $('#table'), ['{{ columns|join:"','" }}'],
          [{{ sortables|join:',' }}], {{ results_per_page }},
          '{% trans 'results' %}');
      });
    </script>
  {% endaddstatic %}

{% endblock %}
