{% load i18n %}
<!DOCTYPE HTML>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
  </head>
  <body>
    <div id="navbar">
      <a href="/lieux/">Lieux</a>
      <a href="/evenements/">Événements</a>
      <a href="/individus/">Individus</a>
      <a href="/saisie/source">Saisie de source</a>
      <a href="/admin/">Administration</a>
    </div>
    <div style="width: 50%; margin-left: 25%;">
      {% block body %} {% endblock %}
    </div>
  </body>
</html>
