{% extends "base.html" %}
{% load i18n %}
{% load extras %}

{% block title %}
  {% for element in datalist %}
    {% with element|first as evenement %}
      {{ evenement.lieu }}, {{ evenement.date }}{% if not forloop.last %} &ndash;{% endif %}
    {% endwith %}
  {% endfor %}
{% endblock %}

{% block body %}
  {% for element in datalist %}
    {% with element|first as evenement %}{% with element|last as types %}
      <div style="border: 1.5px solid; border-radius: 15px; padding: 20px; margin-bottom: 30px;">
        <h3 style="text-align: center;">{{ evenement.date|date|capfirst }}</h3>
        {% if evenement.lieu.parent %}{{ evenement.lieu.parent.nom }},{% endif %}
        <a href="/{% trans "lieux" %}/{{ evenement.lieu.slug }}">
          {{ evenement.lieu.nom }}</a><br />
        {% if evenement.circonstance %}Circonstance : {{ evenement.circonstance }}<br />
        <ol>
          {% for oeuvre in evenement.programme.oeuvres.all %}
            <li>
            {% for auteur in oeuvre.auteurs.all %}
              {% blocktrans with auteur.slug as slug and auteur.nom as nom and auteur.prenoms|abbreviate:0 as prenoms and auteur.profession|abbreviate:1 as profession %}
                <a href="/individus/{{ slug }}/">
                <span style="font-variant: small-caps;">{{ nom }}</span> ({{ prenoms }})</a> [{{ profession }}],
              {% endblocktrans %}
            {% endfor %}<i>{{ oeuvre }}</i>, {{ oeuvre.genre }}</li>
          {% endfor %}
        </ol>
        <br />
        {% for type in types %}
          <h4 style="text-align: center; font-style: italic;">{{ type.pluriel|capfirst }}</h4>
          {% for source in evenement.sources.all %}
            {% if source.type == type %}
              <div style="text-align: justify;">
                {{ source.contenu|replace|safe }}<br />
                (<em>{{ source.nom }}</em> n° {{ source.numero }} du {{ source.date|date }}, p. {{ source.page }})
              </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    {% endwith %}{% endwith %}
  {% empty %}
    <div style="text-align: center;">{% trans "Aucune source n'a été trouvée selon ces critères." %}</div>
  {% endfor %}
{% endblock %}
