{% extends "base.html" %}
{% load i18n %}
{% load extras %}
{% load url from future %}

{% block title %}
  {% for evenement in datadict %}
    {{ evenement.ancrage_debut }}{% if not forloop.last %} &ndash;{% endif %}
  {% endfor %}
{% endblock %}

{% block body %}
  {% for evenement, sources_list in datadict.items %}
    <div style="border: 1.5px solid; border-radius: 15px; padding: 20px; margin-bottom: 30px;">
      <h3 style="text-align: center;">{{ evenement.ancrage_debut.calc_date|capfirst }}</h3>
      {{ evenement.ancrage_debut.lieu.html|safe }}<br />
      {% if evenement.circonstance %}Circonstance : {{ evenement.circonstance }}<br />{% endif %}
      {% if evenement.ancrage_debut.heure %}Horaire : {{ evenement.ancrage_debut.calc_heure }}<br />{% endif %}
      {% for element in evenement.programme.all %}
        {% if forloop.first %}
          <h4>Programme</h4>
          <ol>
        {% endif %}
        <li>
          {{ element.html|replace|safe }}
        </li>
        {% if forloop.last %}
          </ol>
        {% endif %}
      {% endfor %}
      <br />
      {% for type, sources in sources_list.items %}
        <h4 style="text-align: center; font-style: italic;">
          {% if sources|length > 1 %}
            {{ type.pluriel|capfirst }}
          {% else %}
            {{ type|capfirst }}
          {% endif %}
        </h4>
        {% for source in sources %}
          <div class="source">
            {{ source.contenu|replace|safe }}
            <div class="source-ref">
              (<em>{{ source.nom }}</em>
              {% if source.numero %}n° {{ source.numero }}{% endif %}
              du {{ source.date|date }}{% if source.page %}, p. {{ source.page }}{% endif %})
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  {% empty %}
    <div style="text-align: center;">
      {% trans "Aucune source n'a été trouvée selon ces critères." %}
    </div>
  {% endfor %}
{% endblock %}

