{% extends "base.html" %}
{% load i18n %}
{% load extras %}
{% load url from future %}

{% block title %}
  {{ individu }}
{% endblock %}

{% block body %}

  {% with individu.etat as etat %}
    {% include 'etat.html' %}
  {% endwith %}

  <h2>
    {{ individu.nom_complet }}
  </h2>
  <h3>
    {% if not individu.naissance and not individu.deces %}
      <span title="ancrage spatio-temporel">
        {{ individu.ancrage|default:'Époque inconnue' }}
      </span>
    {% else %}
      <span title="{% trans "naissance" %}">
        {{ individu.naissance|default:'?' }}
      </span>
      &ndash;
      <span title="{% trans "décès" %}">
        {{ individu.deces|default:'?' }}
      </span>
    {% endif %}
  </h3>
  <h4 title="profession{{ individu.professions.all|pluralize }}">
    {{ individu.calc_professions|capfirst|default:'Profession inconnue' }}
  </h4>
  <br />
  <table>
    <thead>
      <tr class="dt">
        <th>{% trans "prénom"|capfirst %}{{ individu.prenoms.all|pluralize }}</th>
        <th class="right">{% trans "nom"|capfirst %}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ individu.calc_prenoms|default:'?' }}</td>
        <td class="right">{{ individu.nom|default:'?' }}</td>
      </tr>
    </tbody>
  </table>
  <dl>
    {% if individu.nom_naissance %}
      <dt>{% trans "nom de naissance"|capfirst %}</dt>
      <dd>{{ individu.nom_naissance }}</dd>
    {% endif %}
    {% if individu.pseudonyme %}
      <dt>{% trans "pseudonyme"|capfirst %}</dt>
      <dd>{{ individu.pseudonyme }}</dd>
    {% endif %}
    <dt>{% trans "titre"|capfirst %}</dt>
    <dd>{{ individu.calc_titre|default:'?' }}</dd>
    {% for parent in individu.parents.all %}
      {% if forloop.first %}
        <dt>{% trans "parents"|capfirst %}</dt>
      {% endif %}
      <dd>{{ parent.link }}</dd>
    {% endfor %}
    {% if individu.biographie %}
      <dt>{% trans "biographie"|capfirst %}</dt>
      <dd>{{ individu.biographie }}</dd>
    {% endif %}

    {% for enfant in individu.enfants.all %}
      {% if forloop.first %}
        <dt>Enfant{{ individu.enfants.all|pluralize }}</dt>
      {% endif %}
        <dd>{{ enfant.link }}</dd>
    {% endfor %}
    {% for oeuvre in individu.oeuvres.all %}
      {% if forloop.first %}
        <dt>{% trans "œuvre"|capfirst %}{{ individu.oeuvres.all|pluralize }}</dt>
      {% endif %}
      <dd>{{ oeuvre.link }}</dd>
    {% endfor %}
    {% for evenement in individu.apparitions.all %}
      {% if forloop.first %}
        <dt>Apparition{{ individu.apparitions.all|pluralize }}</dt>
      {% endif %}
      <dd>{{ evenement.link }}</dd>
    {% endfor %}
  </dl>
  <br />
  <a href="{% url 'admin:catalogue_individu_change' individu.pk %}">
    {% trans "[Modifier]" %}
  </a>
{% endblock %}

