{% extends "base.html" %}
{% load i18n %}
{% load extras %}
{% load url from future %}

{% block title %}
  {% trans "individus"|capfirst %}
{% endblock %}

{% block body %}
  {% for individu in individus %}
    {% if forloop.first %}
      <table class="liste">
        <thead>
          <td>Nom</td>
          <td>Prénom(s)</td>
          <td>Pseudonyme</td>
          <td>Naissance</td>
          <td>Décès</td>
          <td>Professions</td>
        </thead>
        <tbody>
    {% endif %}
    <tr onclick="document.location = '{% url 'catalogue.views.index_individus' %}{{ individu.slug }}';" title="Ouvrir l'autorité">
      <td>{{ individu.nom }}</td>
      <td>{{ individu.calc_prenoms }}</td>
      <td>{{ individu.calc_pseudonyme }}</td>
      <td>{{ individu.naissance }}</td>
      <td>{{ individu.deces }}</td>
      <td>
        {{ individu.calc_professions }}</td>
    </tr>
    {% if forloop.last %}
      </tbody>
      </table>
    {% endif %}
  {% empty %}
    {% trans "Aucun individu ne figure dans la base de données." %}
  {% endfor %}
{% endblock %}

