{% extends "base.html" %}
{% load i18n %}
{% load extras %}
{% load url from future %}

{% block title %}
  {{ individu }}
{% endblock %}

{% block body %}

  {% with individu.etat as etat %}
    {% include 'etat.html' %}
  {% endwith %}

  <h3>
    {{ individu }}
  </h3>
  Nom : {{ individu.nom|default:'?' }}<br />
  {% if individu.nom_naissance %}
    Nom de naissance : {{ individu.nom_naissance }}<br />
  {% endif %}
  Prénom{{ individu.prenoms.all|pluralize }} : {{ individu.calc_prenoms|default:'?' }}<br />
  {% if individu.pseudonyme %}
    Pseudonyme : {{ individu.pseudonyme }}<br />
  {% endif %}
  {% if not individu.naissance and not individu.deces %}
    Ancrage spatio-temporel : {{ individu.ancrage|default:'?' }}<br />
  {% else %}
    Naissance : {{ individu.naissance|default:'?' }}<br />
    Décès : {{ individu.deces|default:'?' }}<br />
  {% endif %}
  Sexe : {{ individu.get_sexe_display|default:'?' }}<br />
  {% for parent in individu.parents.all %}{% if forloop.first %}Parents : {% endif %}<a href="{% url 'catalogue.views.index_individus' %}{{ parent.slug }}">{{ parent }}</a>{% if not forloop.last %},{% else %}<br />{% endif %}{% endfor %}
  Profession{{ individu.professions.all|pluralize }} : {{ individu.calc_professions|default:'?' }}<br />

  {% for enfant in individu.enfants.all %}
    {% if forloop.first %}
      <h4>Enfants :</h4>
      <ul>
    {% endif %}
      <li><a href="{% url 'catalogue.views.index_individus' %}{{ enfant.slug }}">{{ enfant }}</a></li>
    {% if forloop.last %}
      </ul>
    {% endif %}
  {% endfor %}
  {% for auteur in individu.auteurs.all %}
    {% if forloop.first %}
      <hr />
      <h4>Oeuvres :</h4>
      <ul>
    {% endif %}
    {% for oeuvre in auteur.oeuvres.all %}
      <li>
        {{ oeuvre }}
      </li>
    {% endfor %}
    {% if forloop.last %}
      </ul>
    {% endif %}
  {% endfor %}
{% endblock %}

