{% extends "base.html" %}
{% load i18n %}
{% load extras %}
{% load url from future %}

{% block title %}
  {{ individu }}
{% endblock %}

{% block body %}

  {% with individu.etat as etat %}
    {% include 'etat.html' %}
  {% endwith %}

  <h2>
    {{ individu.nom_complet }}
  </h2>
  <table>
    <thead>
      <tr class="dt">
        <th>Prénom{{ individu.prenoms.all|pluralize }}</th>
        <th class="right">Nom</th>
      </tr>
    </thead>
    <tr>
      <td>{{ individu.calc_prenoms|default:'?' }}</td>
      <td class="right">{{ individu.nom|default:'?' }}</td>
    </tr>
  </table>
  <dl>
    {% if individu.nom_naissance %}
      <dt>Nom de naissance</dt>
      <dd>{{ individu.nom_naissance }}</dd>
    {% endif %}
    {% if individu.pseudonyme %}
      <dt>Pseudonyme</dt>
      <dd>{{ individu.pseudonyme }}</dd>
    {% endif %}
    {% if not individu.naissance and not individu.deces %}
      <dt>Ancrage spatio-temporel</dt>
      <dd>{{ individu.ancrage|default:'?' }}</dd>
    {% else %}
      <dt>Naissance</dt>
      <dd>{{ individu.naissance|default:'?' }}</dd>
      <dt>Décès</dt>
      <dd>{{ individu.deces|default:'?' }}</dd>
    {% endif %}
    <dt>Sexe</dt>
    <dd>{{ individu.get_sexe_display|default:'?' }}</dd>
    {% for parent in individu.parents.all %}
      {% if forloop.first %}
        <dt>Parents</dt>
      {% endif %}
      <dd>{{ parent.link }}</dd>
    {% endfor %}
    <dt>Profession{{ individu.professions.all|pluralize }}</dt>
    <dd>{{ individu.calc_professions|default:'?' }}</dd>
  </dl>
  {{ individu.biographie }}

  {% for enfant in individu.enfants.all %}
    {% if forloop.first %}
      <h4>Enfants :</h4>
      <ul>
    {% endif %}
      <li><a href="{% url 'catalogue.views.index_individus' %}{{ enfant.slug }}">{{ enfant }}</a></li>
    {% if forloop.last %}
      </ul>
    {% endif %}
  {% endfor %}
  {% for auteur in individu.auteurs.all %}
    {% if forloop.first %}
      <hr />
      <h4>Oeuvres :</h4>
      <ul>
    {% endif %}
    {% for oeuvre in auteur.oeuvres.all %}
      <li>
        {{ oeuvre.link }}
      </li>
    {% endfor %}
    {% if forloop.last %}
      </ul>
    {% endif %}
  {% endfor %}
  <a href="{% url 'admin:catalogue_individu_change' individu.pk %}">
    [Modifier]
  </a>
{% endblock %}

