{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {{ lieu }}
{% endblock %}

{% block body %}
  <h3>
    {{ lieu.nom }}{% if lieu.parent %}, <a href="../{{ lieu.parent.slug }}">{{ lieu.parent.nom }}</a>{% endif %}
  </h3>
  <ul>
    {% for enfant in lieu.enfants.all %}
      <li><a href="/{% trans "lieux" %}/{{ enfant.slug }}">{{ enfant.nom }}</a></li>
    {% endfor %}
  </ul>
  {% for evenement in lieu.evenements.all %}
    {% if forloop.first %}
      <a href="/evenements/{{ lieu.slug }}">Sources :</a>
      <ul>
    {% endif %}
    <li>
      <a href="/evenements/{{ lieu.slug }}/{{ evenement.date.year }}/{{ evenement.date.month }}/{{ evenement.date.day }}">
        {{ evenement.date }} :
        <ul>
          {% for oeuvre in evenement.programme.oeuvres.all %}<li>{{ oeuvre }}</li>{% endfor %}
        </ul>
      </a>
    </li>
    {% if forloop.last %}
      </ul>
    {% endif %}
  {% empty %}
    {% if not lieu.enfants.all %}
      Aucun événement référencé pour ce lieu.
    {% endif %}
  {% endfor %}
{% endblock %}

