{% extends "base.html" %}
{% load i18n %}
{% load extras %}
{% load url from future %}

{% block title %}
  {{ lieu }}
{% endblock %}

{% block body %}
  <h2>
    {{ lieu.nom }}{% if lieu.parent %}, <a href="{{ lieu.parent.get_absolute_url }}">{{ lieu.parent.nom }}</a>{% endif %}
  </h2>
  <h3 title="{% trans "nature" %}">
    {{ lieu.nature|capfirst }}
  </h3>
  <br />
  <dl>
    {% if lieu.historique %}
      <dt>{% trans "historique"|capfirst %}</dt>
      <dd>{{ lieu.historique }}</dd>
    {% endif %}
    {% with lieu.enfants.all as enfants %}
      {% for enfant in enfants %}
        {% if forloop.first %}
          <dt>
            {% blocktrans with parent=lieu.nom count counter=enfants|length %}Lieu contenu dans {{ parent }}{% plural %}Lieux contenus dans {{ parent }}{% endblocktrans %}
          </dt>
        {% endif %}
        <dd>{{ enfant.short_link }}</dd>
      {% endfor %}
    {% endwith %}
    {% include "evenements-def.html" with evenements=lieu.evenements.all %}
    {% with lieu.individus_nes.all as individus %}
      {% for individu in individus %}
        {% if forloop.first %}
          <dt>
            {% blocktrans count counter=individus|length %}Individu né ici{% plural %}Individus nés ici{% endblocktrans %}
          </dt>
        {% endif %}
        <dd>{{ individu.link }}</dd>
      {% endfor %}
    {% endwith %}
    {% with lieu.individus_decedes.all as individus %}
      {% for individu in individus %}
        {% if forloop.first %}
          <dt>
            {% blocktrans count counter=individus|length %}Individu décédé ici{% plural %}Individus décédés ici{% endblocktrans %}
          </dt>
        {% endif %}
        <dd>{{ individu.link }}</dd>
      {% endfor %}
    {% endwith %}
    {% with lieu.oeuvres_composees.all as oeuvres %}
      {% for oeuvre in oeuvres %}
        {% if forloop.first %}
          <dt>
            {% blocktrans count counter=oeuvres %}Œuvre composée ici{% plural %}Œuvres composées ici{% endblocktrans %}
          </dt>
        {% endif %}
        <dd>{{ oeuvre.link }}</dd>
      {% endfor %}
    {% endwith %}
    {% include "notes-def.html" with notes=lieu.notes %}
  </dl>
  <br />
  <a href="{% url 'admin:catalogue_lieu_change' lieu.pk %}">
    {% trans "[Modifier]" %}
  </a>
{% endblock %}

