{% extends "base.html" %}
{% load i18n %}
{% load extras %}
{% load url from future %}

{% block title %}
  {{ lieu }}
{% endblock %}

{% block body %}
  <h3>
    {{ lieu.nom }}{% if lieu.parent %}, <a href="{% url 'catalogue.views.index_lieux' %}{{ lieu.parent.slug }}">{{ lieu.parent.nom }}</a>{% endif %}
  </h3>
  {% for enfant in lieu.enfants.all %}
    {% if forloop.first %}Lieux contenus dans {{ lieu.nom }} :<ul>{% endif %}
    <li><a href="{% url 'catalogue.views.index_lieux' %}{{ enfant.slug }}">{{ enfant.nom }}</a></li>
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
  {% for evenement in lieu.evenements.all %}
    {% if forloop.first %}
      <a href="{% url 'catalogue.views.index_evenements' %}{{ lieu.slug }}">Sources :</a>
      <ul>
    {% endif %}
    <li>
      <a href="{% url 'catalogue.views.index_evenements' %}{{ lieu.slug }}/{{ evenement.date_debut.year }}/{{ evenement.date_debut.month }}/{{ evenement.date_debut.day }}">
        {{ evenement.date_debut }} :
        <ul>
          {% for element in evenement.programme.all %}
            <li>{{ element }}</li>
          {% endfor %}
        </ul>
      </a>
    </li>
    {% if forloop.last %}
      </ul>
    {% endif %}
  {% empty %}
    {% if not lieu.enfants.all %}
      Aucun événement référencé pour ce lieu.<br />
    {% endif %}
  {% endfor %}
  <br />
  {% if lieu.historique %}
    <h4>Historique :</h4>
    {{ lieu.historique|replace|safe }}
  {% endif %}
{% endblock %}

