{% extends "base.html" %}
{% load i18n %}
{% load extras %}
{% load url from future %}

{% block title %}
  {{ oeuvre }}
{% endblock %}

{% block body %}
  <h2>
    {{ oeuvre.titre_html }}
  </h2>
  <h3>
    {{ oeuvre.description_html }}
  </h3>
  <br />
  <dl>
    {% with oeuvre.individus_auteurs.all as auteurs %}
      {% if auteurs %}
        <dt>
          {% blocktrans count counter=auteurs|length %}Auteur{% plural %}Auteurs{% endblocktrans %}
        </dt>
        <dd>{{ oeuvre.calc_auteurs }}</dd>
      {% endif %}
    {% endwith %}
    {% if oeuvre.ancrage_composition %}
      <dt>{% trans "composition"|capfirst %}</dt>
      <dd>{{ oeuvre.ancrage_composition }}</dd>
    {% endif %}

    {% for enfance in oeuvre.enfances_cibles.all %}
      {% if forloop.first %}
        <dt>
          {% blocktrans count counter=oeuvre.enfants.all|length %}Enfant{% plural %}Enfants{% endblocktrans %}
        </dt>
      {% endif %}
      <dd>{{ enfance.type }}&nbsp;: {% for enfant in enfance.oeuvres.all %}{{ enfant.link }}&nbsp;; {% endfor %}</dd>
    {% endfor %}
    {% include "evenements-def.html" with evenements=oeuvre.evenements.all %}
    {% include "notes-def.html" with notes=oeuvre.notes %}
  </dl>
  <br />
  <a href="{% url 'admin:catalogue_oeuvre_change' oeuvre.pk %}">
    {% trans "[Modifier]" %}
  </a>
{% endblock %}

