{% extends "base.html" %}
{% load i18n %}
{% load extras %}
{% load url from future %}

{% block title %}
  {{ oeuvre }}
{% endblock %}

{% block body %}
  <h2>
    {{ oeuvre.titre_html }}
  </h2>
  <h3>
    {{ oeuvre.description_html }}
  </h3>
  <dl>
    {% if oeuvre.calc_auteurs %}
      <dt>Auteur(s)</dt>
      <dd>{{ oeuvre.calc_auteurs }}</dd>
    {% endif %}
    {% if oeuvre.ancrage_composition %}
      <dt>Composition</dt>
      <dd>{{ oeuvre.ancrage_composition }}</dd>
    {% endif %}

    {% for element in oeuvre.elements_de_programme.all %}
      {% if forloop.first %}
        <dt>Événement(s)</dt>
      {% endif %}
      {% for evenement in element.evenements.all %}
        <dd>{{ evenement.link }}</dd>
      {% endfor %}
    {% endfor %}
  </dl>
  <a href="{% url 'admin:catalogue_oeuvre_change' oeuvre.pk %}">
    [Modifier]
  </a>
{% endblock %}
