{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% for source in sources %}
    {{ source.lieu }}, {{ source.date }}{% if not forloop.last %} &ndash;{% endif %}
  {% endfor %}
{% endblock %}

{% block body %}
{% for source in sources %}
  <div style="border: 1.5px solid; border-radius: 15px; padding: 20px; margin-bottom: 30px;">
    <h3 style="text-align: center;">{{ source.date|date|capfirst }}</h3>
    {{ source.lieu.parent }}, <a href="/{% trans "lieux" %}/{{ source.lieu.slug }}">{{ source.lieu }}</a><br />
    <ul>
      {% for oeuvre in source.programme.oeuvres.all %}
        <li>{% for auteur in oeuvre.auteurs.all %}{% blocktrans with auteur.prenoms as prenoms and auteur.profession as profession %}<span style="font-variant: small-caps;">{{ auteur }}</span> ({{ prenoms }}) [{{ profession }}], {% endblocktrans %}{% endfor %}<i>{{ oeuvre }}</i>, {{ oeuvre.type }}</li>
      {% endfor %}
    </ul>
    <br />
    <h4 style="text-align: center; font-style: italic;">{% trans "Compte rendu :" %}</h4>
    <div style="text-align: justify;">
      {{ source.contenu }}
    </div>
  </div>
{% empty %}
  <div style="text-align: center;">{% trans "Aucune source n'a été trouvée selon ces critères." %}</div>
{% endfor %}
{% endblock %}
