{% load i18n %}
{% load url from future %}

{% with owner=object.owner %}
  {% if owner %}
    Transcripteur : {{ owner.get_full_name|default:owner }}
  {% endif %}
{% endwith%}

<a href="{{ object.permalien }}">
  [{% trans "permalien"|capfirst %}]
</a>

{% if has_change_perm %}
  <a href="{% url admin_change object.pk %}">
    [{% trans "modifier"|capfirst %}]
  </a>
{% endif %}

{% if has_delete_perm %}
  <a href="{% url admin_delete object.pk %}">
    [{% trans "supprimer"|capfirst %}]
  </a>
{% endif %}
