{% extends "base.html" %}
{% load i18n %}

{% block header %}
  <h1>{% block title %}{% trans "Erreur 403" %}{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% trans 'Vous n’avez pas l’autorisation d’accéder à cette page.' %}
  <br />
  {% if not user.is_authenticated %}
    {% url 'account_login' as login_url %}
    {% with path=request.path %}
      {% blocktrans %}
        Souhaitez-vous
        <a href="{{ login_url }}?next={{ path }}">vous connecter</a> ?
      {% endblocktrans %}
    {% endwith %}
  {% endif %}
  {% if not request.user.is_authenticated %}
    <p>
      <small>
        {% trans 'Il est possible que votre pays ait été bloqué par notre serveur, connectez-vous pour contourner ce blocage.' %}
      </small>
    </p>
  {% endif %}
{% endblock %}
