{% extends "base.html" %}
{% load i18n %}

{% block header %}
  <h1>{% block title %}{% trans "Erreur 429" %}{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% trans 'Le serveur reçoit trop de demandes depuis votre région du monde.' %}
  {% if not request.user.is_authenticated %}
    {% trans 'Vous pouvez vous connecter pour contourner ce problème.' %}
  {% endif %}
  <br />
  {% if not user.is_authenticated %}
    {% url 'account_login' as login_url %}
    {% with path=request.path %}
      {% blocktrans %}
        Souhaitez-vous
        <a href="{{ login_url }}?next={{ path }}">vous connecter</a> ?
      {% endblocktrans %}
    {% endwith %}
  {% endif %}
{% endblock %}
