{% load i18n static compress sekizai_tags %}
<!DOCTYPE HTML>
<html lang="{{ LANGUAGE_CODE }}">

  <head>

    <meta charset="UTF-8" />
    <meta name="application-name" content="Dezède" />
    <meta name="keywords"
          content="Dezède, {% trans "musicologie, base de données" %}" />
    <meta name="author" content="Bertrand Bordage" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}{% endblock %} | Dezède
    </title>

    <link rel="shortcut icon" type="image/x-icon"
          href="/static/images/favicon.ico">
    {% compress css %}
      <link rel="stylesheet" type="text/css"
            href="{% static 'css/custom-theme/jquery-ui-1.8.16.custom.css' %}">
      <link rel="stylesheet" type="text/less"
            href="{% static 'css/styles.less' %}"/>
    {% endcompress %}

    {% render_block 'css' postprocessor 'compressor.contrib.sekizai.compress' %}

    {% compress js %}
      <script src="{% static 'js/jquery-1.7.1.min.js' %}"></script>
      <script src="{% static 'js/jquery-ui-1.8.16.custom.min.js' %}"></script>
      {# Attention, l'ordre des JS de bootstrap importe ! #}
      <script src="{% static 'bootstrap/js/bootstrap-transition.js' %}"></script>
      <script src="{% static 'bootstrap/js/bootstrap-alert.js' %}"></script>
      <script src="{% static 'bootstrap/js/bootstrap-button.js' %}"></script>
      <script src="{% static 'bootstrap/js/bootstrap-carousel.js' %}"></script>
      <script src="{% static 'bootstrap/js/bootstrap-collapse.js' %}"></script>
      <script src="{% static 'bootstrap/js/bootstrap-dropdown.js' %}"></script>
      <script src="{% static 'bootstrap/js/bootstrap-modal.js' %}"></script>
      <script src="{% static 'bootstrap/js/bootstrap-tooltip.js' %}"></script>
      <script src="{% static 'bootstrap/js/bootstrap-popover.js' %}"></script>
      <script src="{% static 'bootstrap/js/bootstrap-scrollspy.js' %}"></script>
      <script src="{% static 'bootstrap/js/bootstrap-tab.js' %}"></script>
      <script src="{% static 'bootstrap/js/bootstrap-typeahead.js' %}"></script>
      <script src="{% static 'bootstrap/js/bootstrap-affix.js' %}"></script>
      <script src="{% static 'js/jquery.query.js' %}"></script>
      <script src="{% static 'js/jquery.cookie.js' %}"></script>
      <script>
        {% include 'libretto/main.js' %}
      </script>
    {% endcompress %}
    {# À part à cause d'une importation de CSS dans ce JS #}
    <script src="{% static 'js/jquery.jstree.js' %}"></script>
    <script>
      {% include 'base.definitions.js' %}
    </script>

  </head>


  <body data-spy="scroll" data-target="#sidebar">

    <header>
      {% block navbar %}
        {% include 'navbar.html' %}
      {% endblock %}
    </header>

    <div id="main" class="container">

      <div id="content">

        {% autoescape off %}

          <noscript>
            <div class="alert alert-danger">
              <button type="button" class="close" data-dismiss="alert">×</button>
              {% blocktrans %}
                Votre navigateur ne peut pas lancer javascript.
                Attendez-vous à des défauts de fonctionnement.
              {% endblocktrans %}
            </div>
          </noscript>

          {% block body %}{% endblock %}{# FIXME: À remplacer progressivement par content. #}
          {% block content %}{% endblock %}

        {% endautoescape %}
      </div>

      <footer class="container">
        {% include 'footer.html' %}
      </footer>

    </div>

    <script>
      {% include 'base.execution.js' %}
    </script>
    {% render_block 'js' postprocessor 'compressor.contrib.sekizai.compress' %}

  </body>

</html>
