{% load i18n static compress sekizai_tags %}
<!DOCTYPE HTML>
<html lang="{{ LANGUAGE_CODE }}">

  <head>

    <meta charset="UTF-8" />
    <meta name="application-name" content="Dezède" />
    <meta name="keywords"
          content="Dezède, {% trans "musicologie, base de données" %}" />
    <meta name="author" content="Bertrand Bordage" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{% block title %}{% endblock %} | Dezède</title>

    <link rel="shortcut icon" type="image/x-icon"
          href="{% static 'images/favicon.ico' %}">
    {% compress css %}
      <link rel="stylesheet" type="text/css"
            href="{% static 'css/custom-theme/jquery-ui-1.9.2.min.css' %}" />
      <link rel="stylesheet" type="text/css"
            href="{% static 'css/jqtree.css' %}" />
      <link rel="stylesheet" type="text/less"
            href="{% static 'css/styles.less' %}"/>
    {% endcompress %}

    {% render_block 'css' postprocessor 'compressor.contrib.sekizai.compress' %}

    {% compress js %}
      <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
      <script src="{% static 'js/jquery-ui-1.9.2.min.js' %}"></script>
      {# Attention, l'ordre des JS de bootstrap importe ! #}
      <script src="{% static 'bootstrap/js/transition.js' %}"></script>
      <script src="{% static 'bootstrap/js/alert.js' %}"></script>
      <script src="{% static 'bootstrap/js/button.js' %}"></script>
      <script src="{% static 'bootstrap/js/carousel.js' %}"></script>
      <script src="{% static 'bootstrap/js/collapse.js' %}"></script>
      <script src="{% static 'bootstrap/js/dropdown.js' %}"></script>
      <script src="{% static 'bootstrap/js/modal.js' %}"></script>
      <script src="{% static 'bootstrap/js/tooltip.js' %}"></script>
      <script src="{% static 'bootstrap/js/popover.js' %}"></script>
      <script src="{% static 'bootstrap/js/scrollspy.js' %}"></script>
      <script src="{% static 'bootstrap/js/tab.js' %}"></script>
      <script src="{% static 'bootstrap/js/affix.js' %}"></script>
      <script src="{% static 'js/jquery.query.js' %}"></script>
      <script src="{% static 'js/jquery.cookie.js' %}"></script>
      <script src="{% static 'js/tree.jquery.js' %}"></script>
      <script>
        {% include 'base.definitions.js' %}
        {% include 'libretto/main.js' %}
      </script>
    {% endcompress %}

  </head>


  <body data-spy="scroll" data-target="#sidebar">

    {% block navbar %}
      {% include 'navbar.html' %}
    {% endblock %}

    <div id="main" class="container">

      <div id="content">

        {% autoescape off %}

          <noscript>
            <div class="alert alert-danger">
              <button type="button" class="close" data-dismiss="alert">×</button>
              {% blocktrans %}
                Votre navigateur ne peut pas lancer javascript.
                Attendez-vous à des défauts de fonctionnement.
              {% endblocktrans %}
            </div>
          </noscript>

          <div class="page-header">
            <div class="row">
              <header class="col-xs-8 col-sm-9 col-md-10">
                {% block header %}{% endblock %}
              </header>
              <div class="col-xs-4 col-sm-3 col-md-2">
                {% block header-aside %}{% endblock %}
              </div>
            </div>
            {% block tabs %}{% endblock %}
          </div>

          {% block content %}{% endblock %}

        {% endautoescape %}
      </div>

    </div>

    <footer>
      {% include 'footer.html' %}
    </footer>

    {% compress js %}
      <script>
        {% include 'base.execution.js' %}
      </script>
    {% endcompress %}
    {% render_block 'js' postprocessor 'compressor.contrib.sekizai.compress' %}

  </body>

</html>
