{% load static dezede_extras i18n %}

<nav id="footer" class="navbar navbar-default navbar-fixed-bottom" role="navigation">

  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#footer-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="footer-collapse">
      {# La surface de chaque logo est de 1200 px² #}
      <ul class="nav navbar-nav">
        <li><p class="navbar-text"><span>ISSN 2269-9473</span></p></li>
        <li><p class="navbar-text"><span>{% dezede_version %}</span></p></li>
        <li>
          <a href="http://noripyt.com/" target="_blank">
            <img src="{% static 'images/noripyt.png' %}"
                 style="width: 82px; height: 15px;"
                 title="{% trans 'Réalisé par NoriPyt' %}" />
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="http://www.univ-rouen.fr/" target="_blank">
            <img src="{% static 'images/université-rouen-normandie.png' %}"
                 style="width: 58px; height: 21px;"
                 title="Université de Rouen Normandie" />
          </a>
        </li>
        <li>
          <a href="http://grhis.univ-rouen.fr/" target="_blank">
            <img src="{% static 'images/grhis.png' %}"
                 style="width: 51px; height: 23px;"
                 title="Groupe de Recherche d’HIStoire" />
          </a>
        </li>
        <li>
          <a href="http://ceredi.labos.univ-rouen.fr/" target="_blank">
            <img src="{% static 'images/ceredi.png' %}"
                 style="width: 35px; height: 33px;"
                 title="Centre d’Études et de Recherche Éditer/Interpréter" />
          </a>
        </li>
        <li>
          <a href="http://irihs.univ-rouen.fr/" target="_blank">
            <img src="{% static 'images/irihs.png' %}"
                 style="width: 60px; height: 20px;"
                 title="Institut de Recherche Inter-disciplinaire Homme Société" />
          </a>
        </li>
        <li>
          <a href="https://www.normandie.fr/" target="_blank">
            <img src="{% static 'images/normandie.png' %}"
                 style="width: 38px; height: 32px;"
                 title="Région Normandie" />
          </a>
        </li>
        <li>
          <a href="http://www.univ-montp3.fr/" target="_blank">
            <img src="{% static 'images/upv_montpellier.png' %}"
                 style="width: 47px; height: 26px;"
                 title="Université Paul-Valéry - Montpellier 3" />
          </a>
        </li>
        <li>
          <a href="http://www.ircl.cnrs.fr/" target="_blank">
            <img src="{% static 'images/ircl.png' %}"
                 style="width: 35px; height: 35px;"
                 title="Institut de Recherche sur la Renaissance, l’âge Classique et les Lumières" />
          </a>
        </li>
        <li>
          <a href="https://mshs.univ-toulouse.fr/" target="_blank">
            <img src="{% static 'images/mshst.png' %}"
                 style="width: 56px; height: 22px;"
                 title="Maison des Sciences de l’Homme et de la Société de Toulouse" />
          </a>
        </li>
        <li>
          <a href="http://www.cnrs.fr/" target="_blank">
            <img src="{% static 'images/cnrs.png' %}"
                 style="width: 35px; height: 35px;"
                 title="Centre national de la recherche scientifique" />
          </a>
        </li>
        <li>
          <a href="http://www.huma-num.fr/" target="_blank">
            <img src="{% static 'images/humanum.png' %}"
                 style="width: 41px; height: 29px;"
                 title="TGIR Huma-Num" />
          </a>
        </li>
      </ul>
    </div>

  </div>

</nav>
