{% extends 'base.html' %}
{% load static facts thumbnail i18n sekizai_tags %}


{% block full_title %}
  Dezède
{% endblock %}

{% block header_extra_class %}no-separator title-header{% endblock %}

{% block full_header %}
  <div class="row">
    <div class="col-xs-12 col-md-5 col-lg-6 above-text">
      <div class="row">
        <img id="logo" class="col-xs-10 col-xs-offset-1
                              col-md-12 col-md-offset-0 col-lg-10"
             src="{% static 'images/logo.svg' %}" alt="Dezède" />
      </div>
      {% addtoblock 'js' %}
        <script>
          {# Empêche l'utilisateur de faire un cliquer-glisser par erreur #}
          {# sur le logo pendant qu'il utilise le carousel #}
          $('#logo').on('dragstart', function(e) { e.preventDefault(); });
        </script>
      {% endaddtoblock %}
    </div>
    <div class="col-xs-12 col-md-7 col-lg-6">
      <div id="slogan">
        Histoire et chronologie des spectacles
{#        <a href="" class="btn btn-primary btn-xs"#}
{#           title="{% trans 'Présentation de Dezède' %}">#}
{#          <i class="fa fa-question"></i>#}
{#        </a>#}
      </div>
    </div>
  </div>
{% endblock %}


{% block content %}

  {% if object_list %}
    <div id="carousel-home" class="carousel slide"
         data-ride="carousel" data-interval="8000">
      {% if object_list|length > 1 %}
        <ol class="carousel-indicators">
          {% for object in object_list %}
            <li data-target="#carousel-home"
                data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %}
                class="active"{% endif %}></li>
          {% endfor %}
        </ol>
      {% endif %}

      <div class="carousel-inner">
        {% for object in object_list %}
          <div class="item{% if forloop.first %} active{% endif %}">
            {% language 'en' %}
              <div class="carousel-background"
                   style="opacity: {{ object.opacity }};">
                <div class="{{ object.image_align }} visible-lg">
                  <img src="{% thumbnail object.image object.size_lg box=object.box_lg crop detail %}" />
                </div>
                <div class="{{ object.image_align }} visible-md">
                  <img src="{% thumbnail object.image object.size_md box=object.box_md crop detail %}" />
                </div>
                <div class="{{ object.image_align }} visible-sm visible-xs">
                  <img src="{% thumbnail object.image object.size_sm box=object.box_sm crop detail %}" />
                </div>
              </div>
            {% endlanguage %}
            <div class="{{ object.text_align }}">
              <div class="carousel-caption{% if object.text_background %} text-background{% endif %}">
                <header>
                  <h2>{{ object.title }}</h2>
                </header><br />
                <article>
                  <p>{{ object.subtitle }}</p>
                </article>
                <div class="read-more">
                  <a class="btn btn-primary btn-lg"
                     href="{{ object.content_object.get_absolute_url }}">
                    {% trans 'Lire' %}
                  </a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      {% if object_list|length > 1 %}
        <a class="left carousel-control" href="#carousel-home"
           data-slide="prev">
          <span class="fa fa-angle-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-home"
           data-slide="next">
          <span class="fa fa-angle-right"></span>
        </a>
      {% endif %}
    </div>
  {% endif %}

  <div class="row facts">
    <div class="col-xs-6 col-xs-offset-1 col-md-4 col-md-offset-0">
      <div class="well well-sm">
        {% random_fact %}
      </div>
    </div>
    <div class="col-xs-6 col-xs-offset-5 col-md-4 col-md-offset-0">
      <div class="well well-sm">
        {% random_fact %}
      </div>
    </div>
    <div class="col-xs-6 col-xs-offset-2 col-md-4 col-md-offset-0">
      <div class="well well-sm">
        {% random_fact %}
      </div>
    </div>
  </div>
{% endblock %}
