{% extends 'base.html' %}
{% load i18n routines %}

{% block title %}
  {{ profile.user.get_full_name|default:profile.user }}
{% endblock %}

{% block body %}
  {% with profile_user=profile.user %}
    <h1>{% trans "Profil de" %} {{ profile_user.get_full_name|default:profile_user }}</h1>
    <table class="data-table">
      {% data_table_attr 'professor_name' _('professeur référent') profile %}
      {% data_table_list profile_user.groups.all '__str__' %}
      <th>{% trans "Sources transcrites" %}</th>
      <td>{{ profile_user.source_set.count }}</td>
    </table>
    {% frontend_admin profile %}
  {% endwith %}
{% endblock %}
