{% extends 'base.html' %}
{% load i18n routines %}

{% block title %}
  {{ profile.user.get_full_name|default:profile.user }}
{% endblock %}

{% block body %}
  {% with profile_user=profile.user %}
    <h1>{% trans "Profil de" %} {{ profile_user.get_full_name|default:profile_user }}</h1>
    <dl>
      {% attr_in_dl 'professor_name' _('professeur référent') profile %}
      {% list_in_dl profile_user.groups.all '__str__' %}
      <dt>{% trans "Sources transcrites" %}</dt>
      <dd>{{ profile_user.source_set.count }}</dd>
    </dl>
    {% frontend_admin profile %}
  {% endwith %}
{% endblock %}
