{% load static compress i18n %}

<div class="date-range-widget"
     data-min-year="{{ min_year }}" data-max-year="{{ max_year }}">
  <div class="row">
    <div class="input-group form-group col-xs-10 col-xs-offset-1"
         title="{% trans 'Période chronologique' %}">
      <input type="text" name="{{ name }}_0" id="id_{{ name }}_0"
             value="{{ start }}" class="start form-control text-center" />
      <span class="input-group-addon">-</span>
      <input type="text" name="{{ name }}_1" id="id_{{ name }}_1"
             value="{{ end }}" class="end form-control text-center" />
    </div>
  </div>

  <div class="row">
    <div class="slider col-xs-10 col-xs-offset-1"></div>
  </div>
</div>
