{% extends 'base.html' %}
{% load i18n routines %}


{% block header %}
  <h1>{% block title %}{% trans 'dossiers'|capfirst %}{% endblock %}</h1>
{% endblock %}


{% block content %}
  <div class="row">
    <div class="col-md-8">
      {% for object in object_list %}
        <h4>{{ object }}</h4>
        <div style="margin-left: 20px;">
          {% with index_str=forloop.counter|stringformat:'d' %}
            {% jqtree 'dossiers.categoriededossiers' attr='short_link' id='dossiers-tree-'|add:index_str %}
          {% endwith %}
        </div>
      {% endfor %}
    </div>
    <div class="col-md-4">
      <div class="well">
        <h3>{% trans 'Qu’est-ce qu’un dossier ?' %}</h3>
        <p>
          {% url 'comite_editorial' as comite_url %}
          {% blocktrans %}
            Le dossier est la forme aboutie d’une publication dans Dezède :
            il s’agit d’un corpus d’événements ou d’images, créé et rassemblé
            par des éditeurs scientifiques ou des partenaires qui en assurent la présentation.
            Le dossier d’événements a pour objectif de reconstituer des programmes de spectacles
            dans un espace géographique et temporel circonscrit, d’établir la programmation d’une institution,
            de retracer la carrière d’un interprète, ou d’étudier la diffusion et la réception d’une œuvre.
            Les événements sont présentés de manière chronologique.
            Les dossiers sont classés selon un ordre établi
            par une table générale qui évolue en fonction des nouvelles contributions ;
            leur publication est soumise à l’expertise
            du <a href="{{ comite_url }}">comité éditorial</a>.
          {% endblocktrans %}
        </p>
      </div>
    </div>
  </div>
{% endblock %}
