{% extends 'dossiers/base.html' %}
{% load dezede_extras i18n routines static static_grouper thumbnail %}


{% block title %}
  {{ object|striptags }} | {% trans 'Présentation' %}
{% endblock %}

{% block content %}
  {{ block.super }}

  <div class="row">
    <div class="col-xs-12 col-md-offset-4 col-md-8">
      <nav id="dossier-switcher">
        <div class="btn-group btn-group-justified">
          {% prev_sibling object as prev %}
          <a href="{{ prev.get_absolute_url|default:'#' }}" role="button"
             {% if not prev %}disabled="disabled"{% endif %}
             class="btn btn-primary">
            <i class="fa fa-angle-left"></i>
            {% trans 'Dossier précédent' %}
          </a>
          <a href="#" class="btn btn-default" role="button">
            <i class="fa fa-angle-double-up"></i>
            {% trans 'Retourner en haut' %}
            <i class="fa fa-angle-double-up"></i>
          </a>
          {% next_sibling object as next %}
          <a href="{{ next.get_absolute_url|default:'#' }}" role="button"
             {% if not next %}disabled="disabled"{% endif %}
             class="btn btn-primary">
            {% trans 'Dossier suivant' %}
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </nav>
    </div>
  </div>

{% endblock %}
