{% load i18n %}

<div class="side affix affix-top well" data-spy="affix"
      data-offset-top="105" data-offset-bottom="160"
      style="padding: 8px 0;">
  <ul class="nav nav-list">
    {% if object.parent %}
      <li>
        <a href="{{ object.parent.get_absolute_url }}">
          <i class="icon-step-backward"></i>
          Revenir à « {{ object.parent }} »
        </a>
      </li>
    {% endif %}
    <li{% if request.path == object.get_absolute_url %} class="active"{% endif %}>
      <a href="{{ object.get_absolute_url }}">
        {% trans 'Présentation' %}
      </a>
    </li>
    <li{% if request.path == object.get_data_absolute_url %} class="active"{% endif %}>
      <a href="{{ object.get_data_absolute_url }}">
        {% trans 'Accès aux données' %}
      </a>
    </li>
    <li>
      <a href="#cite">
        <i class="icon-book"></i>
        {% trans 'Citer ce corpus' %}
      </a>
    </li>
    {% if object.children.exists %}
      <li class="nav-header">
        {% trans 'Sous-dossiers' %}
      </li>
      {% for sous_dossier in object.children.all %}
        <li>
          <a href="{{ sous_dossier.get_absolute_url }}">
            {{ sous_dossier }}
          </a>
        </li>
      {% endfor %}
    {% endif %}
  </ul>
</div>
