{% extends 'base.html' %}
{% load url from future %}
{% load i18n routines endless sekizai_tags %}

{% block title %}
  {{ object|striptags }} | {% trans 'Présentation' %}
{% endblock %}


{% block content %}

  {% include 'dossiers/dossierdevenements_detail_head.html' %}

  <div class="container-fluid">

    <div class="row-fluid">

      <div class="span3">
        {% include 'dossiers/dossierdevenements_detail_affix.html' %}
      </div>

      <div class="span9">

        <h2>{% trans 'Présentation' %}</h2>
        {{ object.contenu }}

        {% include 'dossiers/dossierdevenements_detail_cite.html' %}

      </div>

    </div>

  </div>

{% endblock %}
