{% extends 'base.html' %}
{% load url from future %}
{% load i18n %}


{% block title %}
  {% trans 'dossiers'|capfirst %}
{% endblock %}


{% block content %}
  <div class="page-header">
    <h1>{% trans 'dossiers'|capfirst %}</h1>
  </div>

  <div class="container-fluid">
    {% for dossier in object_list %}
      {% cycle '<div class="row-fluid">' '' %}
      <div class="span6">
        <h2>{{ dossier }}</h2>
        {{ dossier.contenu|truncatewords_html:50 }}
        <a href="{{ dossier.get_absolute_url }}" class="btn">
          Lire le dossier »
        </a>
      </div>
      {% cycle '' '</div>' %}
    {% empty %}
      {% trans 'Aucun dossier pour l’instant.' %}
    {% endfor %}
  </div>
{% endblock %}
