{% load i18n sekizai_tags static extras %}

<aside id="sidebar">

  <div class="well">
    <dl class="auto-links">
      <dt>
        {% blocktrans count counter=object.editeurs_scientifiques.count %}
          Éditeur scientifique
        {% plural %}
          Éditeurs scientifiques
        {% endblocktrans %}
      </dt>{# Auteur(s) pour revue #}
      <dd>{{ object.editeurs_scientifiques.html }}</dd>
    </dl>
    {% with children=object.children.all %}
      {% if children %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{% trans 'Dans ce dossier' %}</h3>
          </div>
          <div class="list-group">
            {% for child in children %}
              <a class="list-group-item" href="{{ child.get_absolute_url }}">
                {{ child }}
              </a>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endwith %}
    <dl class="auto-links">
      {% with n_contributors=object.get_contributors.count %}
        {% if n_contributors %}
          <dt>
            {% blocktrans count counter=n_contributors %}
              Contributeur
            {% plural %}
              Contributeurs
            {% endblocktrans %}
          </dt>{# Supprimé dans revue #}
          <dd>{{ object.get_contributors.html }}</dd>
        {% endif %}
      {% endwith %}
      <dt>{% trans 'Date de mise en ligne' %}</dt>
      <dd>{{ object.date_publication|date_html:True }}</dd>
      {# FIXME: Revoir cette condition quand le "voir aussi sera implémenté #}
      {% if object.publications or object.developpements %}
        <hr />
      {% endif %}
      {% if object.publications %}
        <dt>{% trans 'Publication(s) associée(s)' %}</dt>
        <dd>{{ object.publications }}</dd>
      {% endif %}
      {# TODO: Implémenter cette fonctionnalité #}
{#      <dt>{% trans 'Voir aussi' %}</dt>#}
      {% if object.developpements %}
        <dt>{% trans 'Développements envisagés' %}</dt>{# Supprimé dans revue #}
        <dd>{{ object.developpements }}</dd>
      {% endif %}
    </dl>

    {% if user.is_authenticated %}
      <a id="export"
         href="{% url 'dossierdevenements_detail_xelatex' object.slug %}"
         class="btn btn-default btn-block">
        <i class="fa fa-book"></i> {% trans 'Exporter en PDF' %}
      </a>
    {% endif %}

  </div>

</aside>
