{% load i18n static extras static_grouper crispy_forms_tags static_grouper %}

<aside id="sidebar">

  <div class="well">
    {% with editeurs_scientifiques=object.editeurs_scientifiques.all %}
      {% if editeurs_scientifiques %}
        <dl class="auto-links">
          <dt>
            {% if editeurs_scientifiques|length < 2 %}
              {% trans 'Éditeur scientifique' %}
            {% else %}
              {% trans 'Éditeurs scientifiques' %}
            {% endif %}
          </dt>{# Auteur(s) pour revue #}
          <dd>{{ editeurs_scientifiques.html }}</dd>
        </dl>
      {% endif %}
    {% endwith %}
    {% if children %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans 'Dans ce dossier' %}</h3>
        </div>
        <div class="list-group">
          {% for child in children %}
            <a class="list-group-item" href="{{ child.get_absolute_url }}">
              {{ child }}
            </a>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <dl class="auto-links">
      {% with contributors=object.contributors %}
        {% if contributors %}
          <dt>
            {% if contributors|length < 2 %}
              {% trans 'Contributeur' %}
            {% else %}
              {% trans 'Contributeurs' %}
            {% endif %}
          </dt>{# Supprimé dans revue #}
          <dd>{{ contributors.html }}</dd>
        {% endif %}
      {% endwith %}
      <dt>{% trans 'Date de mise en ligne' %}</dt>
      <dd>{{ object.date_publication|date_html:True }}</dd>
      {# FIXME: Revoir cette condition quand le "voir aussi sera implémenté #}
      {% if object.publications or object.developpements %}
        <hr />
      {% endif %}
      {% if object.publications %}
        <dt>{% trans 'Publication(s) associée(s)' %}</dt>
        <dd>{{ object.publications }}</dd>
      {% endif %}
      {# TODO: Implémenter cette fonctionnalité #}
{#      <dt>{% trans 'Voir aussi' %}</dt>#}
      {% if object.developpements %}
        <dt>{% trans 'Développements envisagés' %}</dt>{# Supprimé dans revue #}
        <dd>{{ object.developpements }}</dd>
      {% endif %}
    </dl>

    {% if user.is_authenticated and export_pdf %}
      <a id="export"
         href="{% url 'dossierdevenements_detail_xelatex' object.slug %}"
         class="btn btn-default btn-block">
        <i class="fa fa-book"></i> {% trans 'Exporter en PDF' %}
      </a>
      {% if user.is_superuser %}
        <a href="#"
          data-toggle="modal"
          data-target="#scenarios"
          class="btn btn-default btn-block">
          <i class="fa fa-folder-open-o"></i> {% trans "Exporter les statistiques" %}</a>

        <div id="scenarios" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans "Exporter les statistiques" %}</h4>
              </div>
              <form id="id_{{ formset.prefix }}" action="{% url 'dossierdevenement_export_scenario' object.slug %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                  {{ formset.management_form }}
                  {% for form in formset.forms %}
                    <table class="table">
                      <thead>
                        <tr>
                          <th>{% trans "Exports" %}</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr class="formset_row">
                            {% for field in form.visible_fields %}
                              <td>{{ field }}</td>
                            {% endfor %}
                          </tr>
                      </tbody>
                    </table>
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                  {% endfor %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Fermer" %}</button>
                  <button type="submit" class="btn btn-primary">{% trans "Exporter" %}</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      {% endif %}
    {% endif %}
  </div>
</aside>

{% addstatic js %}
<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
<script>
  $('.formset_row').formset({
    addText: '{% trans "Ajouter" %}',
    addCssClass: 'btn btn-primary btn-sm',
    deleteText: '{% trans "Supprimer" %}',
  });
</script>
{% endaddstatic %}
