{% load i18n %}

<div class="row">

  <div class="col-xs-12 col-sm-6 col-md-4">
    {% include 'dossiers/dossierdevenements_detail_sidebar.html' %}
  </div>

  <div class="col-xs-12 col-sm-6 col-md-8">
    <div class="dossier">
      <div class="presentation">
      {{ object.presentation }}
      </div>
      {% if object.contexte %}
        <h2>{% trans 'Contexte historique' %}</h2>
        {{ object.contexte }}
      {% endif %}
      {% if object.sources_et_protocole %}
        <h2>{% trans 'Sources et protocole' %}</h2>
        {{ object.sources_et_protocole }}
      {% endif %}
      {% if object.bibliographie %}
        <h2>{% trans 'Bibliographie indicative' %}</h2>
        {{ object.bibliographie }}
      {% endif %}
    </div>

    <div id="reference-dossier" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ citation_title }}</h3>
      </div>
      <div class="panel-body">
        {{ object.editeurs_scientifiques.html }}{% if object.get_contributors.count > object.editeurs_scientifiques.count %} {% trans '(dir.)' %}{% endif %},
        {% now 'DATE_FORMAT' as now %}
        {% blocktrans with permalien=object.permalien %}
          « {{ object }} »,
          <em>Dezède</em> [en ligne].
          {{ SITE }}{{ permalien }}
          (consulté le {{ now }}).
        {% endblocktrans %}
      </div>
    </div>
  </div>

</div>
