{% extends 'base.html' %}
{% load i18n routines el_pagination_tags %}


{% block title %}
  {{ object|striptags }} | {% trans 'Présentation' %}
{% endblock %}


{% block breadcrumb %}
  {% include 'dossiers/dossierdevenements_breadcrumb.html' %}
{% endblock %}


{% block header_extra_class %}no-separator{% endblock %}


{% block header %}
  <h1>{{ object.titre|safe }}</h1>
{% endblock %}


{% block header-aside %}{% frontend_admin %}{% endblock %}


{% block tabs %}{% include 'dossiers/tabs.html' %}{% endblock %}


{% block content %}

  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-4">
      {% include 'dossiers/dossierdevenements_detail_sidebar.html' %}
    </div>

    <div class="col-xs-12 col-sm-6 col-md-8">
      <div class="dossier">
        <div class="presentation">
        {{ object.presentation }}
        </div>
        {% if object.contexte %}
          <h2>{% trans 'Contexte historique' %}</h2>
          {{ object.contexte }}
        {% endif %}
        {% if object.sources_et_protocole %}
          <h2>{% trans 'Sources et protocole' %}</h2>
          {{ object.sources_et_protocole }}
        {% endif %}
        {% if object.bibliographie %}
          <h2>{% trans 'Bibliographie indicative' %}</h2>
          {{ object.bibliographie }}
        {% endif %}
      </div>

      <div id="reference-dossier" class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans 'Pour citer ce dossier' %}</h3>
        </div>
        <div class="panel-body">
          {{ object.editeurs_scientifiques.html }}{% if object.get_contributors.count > object.editeurs_scientifiques.count %} {% trans '(dir.)' %}{% endif %},
          {% now 'DATE_FORMAT' as now %}
          {% blocktrans with permalien=object.permalien %}
            « {{ object }} »,
            <em>Dezède</em> [en ligne].
            {{ SITE }}{{ permalien }}
            (consulté le {{ now }}).
          {% endblocktrans %}
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12 col-md-offset-4 col-md-8">
      <nav id="dossier-switcher">
        <div class="btn-group btn-group-justified">
          {% previous_sibling object as prev %}
          <a href="{{ prev.get_absolute_url|default:'#' }}" role="button"
             {% if not prev %}disabled="disabled"{% endif %}
             class="btn btn-primary">
            <i class="fa fa-angle-left"></i>
            {% trans 'Dossier précédent' %}
          </a>
          <a href="#" class="btn btn-default" role="button">
            <i class="fa fa-angle-double-up"></i>
            {% trans 'Retourner en haut' %}
            <i class="fa fa-angle-double-up"></i>
          </a>
          {% next_sibling object as next %}
          <a href="{{ next.get_absolute_url|default:'#' }}" role="button"
             {% if not next %}disabled="disabled"{% endif %}
             class="btn btn-primary">
            {% trans 'Dossier suivant' %}
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </nav>
    </div>
  </div>

{% endblock %}
