{% extends 'base.html' %}
{% load url from future %}
{% load i18n %}


{% block header %}
  <h1>{% block title %}{% trans 'dossiers'|capfirst %}{% endblock %}</h1>
{% endblock %}


{% block content %}
  <div class="columns2">
    {% for object in object_list %}
      <div class="well column-cell">
        <div>
          <h2>{{ object|safe }}</h2>
          {{ object.presentation|truncatewords_html:50 }}
        </div>
        <hr />
        <div class="btn-group">
          <a href="{{ object.get_absolute_url }}" class="btn btn-primary"
              role="button">
            {% trans 'Présentation' %}
          </a>
          <a href="{{ object.get_data_absolute_url }}" class="btn btn-default"
              role="button">
            {% trans 'Accès aux données »' %}
          </a>
        </div>
        <span class="btn-group pull-right">
          {% include 'routines/ownership.html' %}
        </span>
      </div>
    {% empty %}
      {% trans 'Aucun dossier pour l’instant.' %}
    {% endfor %}
  </div>
{% endblock %}
