{% extends 'base.html' %}
{% load static routines el_pagination_tags i18n %}

{% block title %}
  {{ object|striptags }} | {% trans 'oeuvres'|capfirst %}
{% endblock %}


{% block breadcrumb %}
  {% include 'dossiers/include/breadcrumb.html' %}
{% endblock %}


{% block header_extra_class %}no-separator{% endblock %}


{% block header %}
  <h1>{{ object.titre|safe }}</h1>
{% endblock %}


{% block header-aside %}{% frontend_admin %}{% endblock %}


{% block tabs %}{% include 'dossiers/include/dossierdoeuvres_tabs.html' %}{% endblock %}


{% block content %}
  <div class="btn-group btn-group-justified" role="group">
    <a class="btn btn-default{% if request.GET.order_by != 'creation_date' %} active{% endif %}"
       href="{{ dossier.get_data_absolute_url }}">
      {% trans 'Ordonner par nom d’œuvre' %}
    </a>
    <a class="btn btn-default{% if request.GET.order_by == 'creation_date' %} active{% endif %}"
       href="{{ dossier.get_data_absolute_url }}?order_by=creation_date">
      {% trans 'Ordonner par date de création mondiale' %}
    </a>
  </div>

  {% paginate oeuvres %}
  {% show_pages %}

  {% for oeuvre in oeuvres %}
    <h3>{{ oeuvre.titre_html }}</h3>
    <div class="auto-links" style="margin-bottom: 20px;">
      <h4>{{ oeuvre.description_html }}</h4>
      {% with auteurs_html=oeuvre.auteurs_html %}
        {% if auteurs_html %}
          <h5>
            {{ auteurs_html }}
          </h5>
        {% endif %}
      {% endwith %}
      {% if oeuvre.creation %}
        <h5>
          {% trans 'Création mondiale :' %}
          {{ oeuvre.creation.html }}
        </h5>
      {% endif %}
    </div>
    {% with sources=oeuvre.sources.all %}
      {% include 'libretto/include/sources.html' %}
    {% endwith %}
    {% if not forloop.last %}<hr />{% endif %}
  {% endfor %}

  {% show_pages %}
{% endblock %}
