{% extends 'dossiers/opera_comique_base.html' %}
{% load el_pagination_tags i18n %}


{% block content %}
  <div class="btn-group btn-group-justified" role="group">
    <a class="btn btn-default{% if request.GET.order_by != 'creation_date' %} active{% endif %}"
       href="{% url 'dossier_opera_comique' %}">
      Ordonner par nom d’œuvre
    </a>
    <a class="btn btn-default{% if request.GET.order_by == 'creation_date' %} active{% endif %}"
       href="{% url 'dossier_opera_comique' %}?order_by=creation_date">
      Ordonner par date de création mondiale
    </a>
  </div>

  {% paginate oeuvres %}
  {% show_pages %}

  {% for oeuvre in oeuvres %}
    <h3>{{ oeuvre.titre_html }}</h3>
    <div class="auto-links" style="margin-bottom: 20px;">
      <h4>{{ oeuvre.description_html }}</h4>
      {% with auteurs_html=oeuvre.auteurs_html %}
        {% if auteurs_html %}
          <h5>
            {{ auteurs_html }}
          </h5>
        {% endif %}
      {% endwith %}
      {% if oeuvre.creation %}
        <h5>
          {% trans 'Création mondiale :' %}
          {{ oeuvre.creation.html }}
        </h5>
      {% endif %}
    </div>
    {% with sources=oeuvre.sources.all %}
      {% include 'libretto/include/sources.html' %}
    {% endwith %}
    {% if not forloop.last %}<hr />{% endif %}
  {% endfor %}

  {% show_pages %}
{% endblock %}
