{% extends 'base.html' %}
{% load static endless i18n %}


{% block header %}
  <img class="pull-right" src="{% static 'images/opera-comique.png' %}" style="height: 50px;" />
  <h1>
    {% block title %}
      Archives de l’Opéra Comique
    {% endblock %}
  </h1>
{% endblock %}


{% block content %}
  <div class="alert alert-info" role="alert">
    Travail en cours de réalisation. Les données,
    la navigation à travers les archives ainsi que les URLs vont changer
    dans les semaines à venir.
  </div>

  <div class="btn-group btn-group-justified" role="group">
    <a class="btn btn-default{% if request.GET.order_by != 'creation_date' %} active{% endif %}"
       href="{% url 'dossier_opera_comique' %}">
      Ordonner par nom d’œuvre
    </a>
    <a class="btn btn-default{% if request.GET.order_by == 'creation_date' %} active{% endif %}"
       href="{% url 'dossier_opera_comique' %}?order_by=creation_date">
      Ordonner par date de création mondiale
    </a>
  </div>

  {% paginate oeuvres %}
  {% show_pages %}

  {% for oeuvre in oeuvres %}
    <h3>{{ oeuvre.titre_html }}</h3>
    <div class="auto-links" style="margin-bottom: 20px;">
      <h4>{{ oeuvre.description_html }}</h4>
      {% with auteurs_html=oeuvre.auteurs_html %}
        {% if auteurs_html %}
          <h5>
            {{ auteurs_html }}
          </h5>
        {% endif %}
      {% endwith %}
      {% if oeuvre.creation %}
        <h5>
          {% trans 'Création mondiale :' %}
          {{ oeuvre.creation.html }}
        </h5>
      {% endif %}
    </div>
    {% with sources=oeuvre.sources.all %}
      {% include 'libretto/include/sources.html' %}
    {% endwith %}
    {% if not forloop.last %}<hr />{% endif %}
  {% endfor %}

  {% show_pages %}
{% endblock %}
