{% load url from future %}
{% load i18n routines %}

<ul class="nav nav-tabs nav-justified">
  {% with presentation_url=object.get_absolute_url data_url=object.get_data_absolute_url %}
    <li{% if request.path == presentation_url %} class="active"{% endif %}>
      <a href="{{ presentation_url }}">
        {% trans 'Présentation' %}
      </a>
    </li>
    {% url 'dossierdevenements_stats_detail' object.slug as stats_url %}
    <li{% if request.path == stats_url %} class="active"{% endif %}>
      <a href="{{ stats_url }}">
        {% trans 'Visualisations' %}
      </a>
    </li>
    <li{% if request.path == data_url %} class="active"{% endif %}>
      <a href="{{ data_url }}">
        {% trans 'Événements' %}
        {% published object.get_queryset as evenements %}
        <span class="badge">{{ evenements.count }}</span>
      </a>
    </li>
  {% endwith %}
</ul>
