{% load endless routines i18n %}

{% paginate per_page object_list using page_variable %}
{% get_pages %}

{% for object in object_list %}

  <tr>

    {% if forloop.first %}
      <th rowspan="{{ object_list|length }}">
        {% data_table_list_header %}
      </th>
    {% endif %}


    <td>
      {{ object|get_property:attr }}
      {% if is_published_queryset and not object.is_public %}
        <i class="fa fa-lock" title="{% trans 'Privé' %}"></i>
      {% endif %}
    </td>

  </tr>

{% endfor %}

{% if pages.paginated %}
  <tr>
    <td></td>
    <td>{{ pages }}</td>
  </tr>
{% endif %}
