{% load endless routines i18n %}

{% paginate per_page object_list using page_variable %}
{% for object in object_list %}

  <tr>

    {% if forloop.first %}
      <th rowspan="{{ object_list|length }}">
        {% if count != 1 or number_if_one %}
          {{ count }}
        {% endif %}
        {% if count == 1 %}
          {% if number_if_one %}
            {{ verbose_name }}
          {% else %}
            {{ verbose_name|capfirst }}
          {% endif %}
        {% else %}
          {{ verbose_name_plural }}
        {% endif %}
      </th>
    {% endif %}


    <td>
      {{ object|get_property:attr }}
      {% if is_published_queryset and not object.is_public %}
        <i class="glyphicon glyphicon-lock" title="{% trans 'Privé' %}"></i>
      {% endif %}
    </td>

  </tr>

{% endfor %}

{% get_pages %}
{% if pages.paginated %}
  <tr>
    <td></td>
    <td>{{ pages }}</td>
  </tr>
{% endif %}
