{% load endless cache %}

{% paginate display_list using page_variable %}
{% for display in display_list %}

  <tr>

    {% if forloop.first %}
      <th rowspan="{{ display_list|length }}">
        {{ count }}
        {% if count == 1 %}
          {{ verbose_name }}
        {% else %}
          {{ verbose_name_plural }}
        {% endif %}
      </th>
    {% endif %}


    <td>{{ display|safe }}</td>

  </tr>

{% endfor %}

{% get_pages %}
{% if pages.paginated %}
  <tr>
    <td></td>
    <td>{{ pages }}</td>
  </tr>
{% endif %}
