{% load i18n extras routines el_pagination_tags %}

{% if counter %}
  <tr>
    <th>
      {{ counter }}
      {{ name }}
    </th>
    <td>
      <a href="{% url 'evenements' %}?{{ object.class_name|lower }}=|{{ object.pk }}|">
        <strong>{% trans 'Afficher tous les événements' %}</strong>
      </a>
    </td>
  </tr>
{% endif %}

{% paginate 10 evenements.yearly_counts using 'events' as yearly_counts %}
{% for yearly_count in yearly_counts %}
  <tr>

    <td></td>

    <td>
      {% with year=yearly_count.year.year count=yearly_count.count %}
        <a href="{% url 'evenements' %}?{{ object.class_name|lower }}=|{{ object.pk }}|&dates_0={{ year }}&dates_1={{ year }}">
          {{ year }} ({{ count }}
          {% filter abbreviate:4 %}{% trans 'événements' %}{% endfilter %})
        </a>
      {% endwith %}
    </td>

  </tr>
{% endfor %}

<tr>
  <td></td>
  <td>{% show_pages %}</td>
</tr>
