{% load i18n static static_grouper %}

<div id="{% if id %}{{ id }}{% else %}{{ model_name }}-tree{% endif %}"
     data-url="{% url 'tree_node' app_label model_name attr object.pk %}">
</div>

{% addstatic js %}
  <script>
    $(function () {
      $('#{% if id %}{{ id }}{% else %}{{ model_name }}-tree{% endif %}').tree({
        selectable: false,
        autoEscape: false,
        useContextMenu: false,
        keyboardSupport: false,
        openedIcon: $('<span class="fa fa-minus-square"></span>'),
        closedIcon: $('<span class="fa fa-plus-square"></span>')
      }).on('tree.open', function (event) {
        var elements = $.map(event.node.children,
                             function (node) { return node.element; });
        tooltips_create($(elements))
      });
    });
  </script>
{% endaddstatic %}
