{% load url from future %}
{% load i18n %}

<div id="{{ model_name }}-tree">
</div>

<script>
  $(function () {
    $('#{{ model_name }}-tree').jstree({
      core: {
        html_titles: true,
        strings: {loading: "{% trans 'Chargement…' %}"}
      },
      plugins: ['themes', 'json_data'],
      themes: {
        theme: 'classic',
        icons: false,
        dots: true
      },
      json_data: {
        ajax: {
          type: 'GET',
          url: function (node) {
            if (node == -1) {
              return '{% url 'tree_node' model_name object.pk %}';
            }
            else {
              var nodeId = node.attr('id');
              return '{% url 'tree_node' model_name %}' + nodeId;
            }
          },
          data: {
            attr: '{{ attr }}'
          },
          success: function (new_data) {
            return new_data;
          }
        }
      }
    });
  });
</script>
