{% extends "base.html" %}
{% load i18n %}
{% load extras routines %}
{% load url from future %}

{% block title %}
  {% trans "événement"|capfirst %}
{% endblock %}

{% block head %}
  <script>
    $(function() {
      $(".accordion").accordion({
        autoHeight: false,
        navigation: true,
        collapsible: true,
      });
    });
  </script>
{% endblock %}

{% block body %}
  <div class="content_part">
    {% include "catalogue/evenement_item.html" %}
  </div>

  {% frontend_admin %}
{% endblock %}
