{% extends 'base.html' %}
{% load i18n static sekizai_tags crispy_forms_tags humanize %}
{% load url from future %}


{% block title %}
  {% trans 'événements'|capfirst %}
{% endblock %}


{% block body %}

  <div class="page-header">
    <h1>
      {% trans 'événements'|capfirst %}
      {% if evenements.exists %}
        {% with count=evenements.count %}
          ({{ count|apnumber }}
          {% blocktrans count counter=count %}résultat{% plural %}résultats{% endblocktrans %})
        {% endwith %}
      {% endif %}
    </h1>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">

      <div class="span3">
        <div class="nav affix-top side" data-spy="affix"
             data-offset-top="105" data-offset-bottom="160">
          {% crispy form %}
        </div>
      </div>

      <div class="span9" style="min-height: 423px;">{% include page_template %}</div>

    </div>
  </div>

  {% addtoblock 'js' %}
    <script src="{% static 'endless_pagination/js/endless.js' %}" charset="utf-8"></script>
  {% endaddtoblock %}
  {% addtoblock 'js' %}
    <script src="{% static 'endless_pagination/js/endless_on_scroll.js' %}" charset="utf-8"></script>
  {% endaddtoblock %}
  {% addtoblock 'js' %}
    <script>
      var endless_on_scroll_margin = 200;
    </script>
  {% endaddtoblock %}
{% endblock %}
