{% load i18n %}

{% include "catalogue/etat.html" with etat=evenement.etat %}

<h2 style="text-align: center;">
  {{ evenement.ancrage_debut.calc_date|capfirst|safe }}
</h2>
<br />
{{ evenement.html|safe }}
<br />
{% for element in evenement.programme.iterator %}
  {% if forloop.first %}
    <h3 class="programme_titre">{% trans "programme"|capfirst %}</h3>
    <ol>
  {% endif %}
  <li>
    {{ element.html|safe }}
  </li>
  {% if forloop.last %}
    </ol>
  {% endif %}
{% endfor %}
{% for type, sources in evenement.sources_dict.iteritems %}
  <br />
  <h3 style="text-align: center; font-style: italic;">
    {% if sources|length > 1 %}
      {{ type.pluriel|capfirst }}
    {% else %}
      {{ type|capfirst }}
    {% endif %}
  </h3>
  {% for source in sources %}
    {% if forloop.first %}
      <div class="accordion">
    {% endif %}
    <h4>{{ source.html|safe }}</h4>
    <div class="source">
      {{ source.contenu|safe }}
      {{ source.calc_auteurs|safe }}<br />
      <a href="{{ source.permalien }}">
        [{% trans "permalien"|capfirst %}]
      </a>
    </div>
    {% if forloop.last %}
      </div>
    {% endif %}
  {% endfor %}
{% endfor %}
