{% extends "base.html" %}
{% load i18n %}
{% load extras %}
{% load url from future %}

{% block title %}
  {% trans "événement"|capfirst %}
{% endblock %}

{% block head %}
  <script>
    $(function() {
      $(".accordion").accordion({
        autoHeight: false,
        navigation: true,
        collapsible: true,
      });
    });
  </script>
{% endblock %}

{% block body %}
  <div class="content_part">
    {% include "catalogue/evenement_item.html" %}
  </div>

  <a href="{{ evenement.permalien }}">
    [{% trans "permalien"|capfirst %}]
  </a>
  {% if user.is_staff %}
    <a href="{% url 'admin:catalogue_evenement_change' evenement.pk %}">
      [{% trans "modifier"|capfirst %}]
    </a>
  {% endif %}
{% endblock %}

