{% load i18n extras %}
{% load url from future %}

{% with counter=evenements|length %}{# Remplacer ce length par un count quand Oeuvre.evenements sera un RelatedManager #}
  {% if counter %}
    <dt>
      {% filter capfirst %}{% blocktrans count counter=counter %}événement{% plural %}événements{% endblocktrans %}{% endfilter %}
    </dt>
  {% endif %}
{% endwith %}

{% regroup evenements by ancrage_debut.date.year as year_list %}
{% for year in year_list %}
  <dd>
    <a href="{% url 'evenements' %}?{{ object.class_name|lower }}={{ object.slug }}&annee={{ year.grouper }}">
      {% if year.list|length_is:1 %}
        {% if lieu %}
          {{ year.list.0.ancrage_debut.calc_moment|capfirst }}
        {% else %}
          {{ year.list.0.ancrage_debut.html|removetags:'a' }}
        {% endif %}
      {% else %}
        {{ year.grouper }} ({{ year.list|length }}
        {% filter abbreviate:2 %}{% trans 'événements' %}{% endfilter %})
      {% endif %}
    </a>
  </dd>
{% endfor %}

{% if evenements.count > 1 %}
  <dd>
    <a href="{% url 'evenements' %}?{{ object.class_name|lower }}={{ object.slug }}">
      <strong>{% trans "Afficher tous les événements" %}</strong>
    </a>
  </dd>
{% endif %}
