{% load i18n extras %}

{% with counter=evenements|length %}{# Remplacer ce length par un count quand Oeuvre.evenements sera un RelatedManager #}
  {% if counter %}
    <dt>
      {% filter capfirst %}{% blocktrans count counter=counter %}événement{% plural %}événements{% endblocktrans %}{% endfilter %}
    </dt>
  {% endif %}
{% endwith %}

{% if lieu %}

  {% regroup evenements by ancrage_debut.date.year as year_list %}
  {% with lieu_slug=lieu.slug %}
    {% for year in year_list %}
      <dd>
        {% if year.list|length_is:1 %}
          <a href="{% url evenements lieu_slug=lieu_slug year=year.grouper %}">
              {{ year.list.0.ancrage_debut.calc_moment|capfirst }}
          </a>
        {% else %}
          <a href="{% url evenements lieu_slug=lieu_slug year=year.grouper %}">
            {{ year.grouper }} ({{ year.list|length }}
            {% filter abbreviate:2 %}{% trans 'événements' %}{% endfilter %})
          </a>
        {% endif %}
      </dd>
    {% endfor %}
  {% endwith %}

{% else %}

  {% for evenement in evenements %}
    <dd>
      <a href="{% url evenement_pk evenement.pk %}">
        {{ evenement.link }}
      </a>
    </dd>
  {% endfor %}

{% endif %}


