{% load i18n cache routines %}

{% cache 3600 evenement evenement.pk LANGUAGE_CODE user.id %}
  {% include "catalogue/etat.html" with etat=evenement.etat %}

  <h2 style="text-align: center;">
    <a href="{{ evenement.get_absolute_url }}">
      {{ evenement.ancrage_debut.calc_date|capfirst|safe }}
    </a>
  </h2>
  <br />
  {{ evenement.html|safe }}
  <br />
  {% with elements=evenement.programme.all %}
    {% for element in elements %}
      {% if forloop.first %}
        <h3 class="programme_titre">{% trans "programme"|capfirst %}</h3>
        {% if elements.count > 1 %}
          <ol>
        {% endif %}
      {% endif %}
      {% if elements.count > 1 %}
        <li>
          {{ element.html|safe }}
        </li>
      {% else %}
        {{ element.html|safe }}
      {% endif %}
      {% if forloop.last %}
        {% if elements.count > 1 %}
          </ol>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endwith %}
  {% for type, sources in evenement.sources_dict.iteritems %}
    <br />
    <h3 style="text-align: center; font-style: italic;">
      {% if sources|length > 1 %}
        {{ type.pluriel|capfirst }}
      {% else %}
        {{ type|capfirst }}
      {% endif %}
    </h3>
    {% for source in sources %}
      {% if forloop.first %}
        <div class="accordion" id="{{ type.pluriel }}_{{ evenement.pk }}">
      {% endif %}
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse"
             data-parent="#{{ type.pluriel }}_{{ evenement.pk }}"
             href="#source_{{ evenement.pk }}_{{ source.pk }}">
            {{ source }}
          </a>
        </div>
        <div id="source_{{ evenement.pk }}_{{ source.pk }}"
             class="accordion-body collapse">
          <div class="accordion-inner">
            {{ source.contenu|safe }}
            {{ source.auteurs_html|safe }}<br />
            {% frontend_admin source %}
          </div>
        </div>
      </div>
      {% if forloop.last %}
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endcache %}
