{% load i18n endless %}

{% paginate 5 evenements %}
{% show_pages %}
{% for evenement in evenements %}
  <div class="content_part">
    {% include 'catalogue/evenement_item.html' %}
  </div>
{% empty %}
  {% trans "Aucun événement n’a été trouvé selon ces critères." %}
{% endfor %}
{% show_more %}

{% show_current_number as page_number %}

<script>
  if(typeof jQuery != 'undefined') {
    window.history.replaceState(
            {},
            "",  {# title, unused for now in any browser #}
            $.query.set("page", {{ page_number }}).toString());
    tooltips_reload();
  }
</script>
