{% extends "base.html" %}
{% load i18n %}
{% load extras routines %}
{% load url from future %}

{% block title %}
  {{ individu }}
{% endblock %}

{% block body %}

  {% include "catalogue/etat.html" with etat=individu.etat %}

  <div class="page-header">
    {% frontend_admin autorite=1 %}
    <h1>
      {{ individu.nom_complet }}
      {% if individu.professions.exists %}
        <small title="{% filter capfirst %}{% blocktrans count counter=individu.professions.all|length %}profession{% plural %}professions{% endblocktrans %}{% endfilter %}">
          {{ individu.calc_professions }}
        </small>
      {% endif %}
    </h1>
    <h3>
      {% if individu.naissance or individu.deces %}
        <span title="{% trans "naissance"|capfirst %}">
          {{ individu.naissance_html }}
        </span>
        &ndash;
        <span title="{% trans "décès"|capfirst %}">
          {{ individu.deces_html }}
        </span>
      {% elif individu.ancrage %}
        <span title="{% trans "ancrage spatio-temporel"|capfirst %}">
          {{ individu.ancrage }}
        </span>
      {% endif %}
    </h3>
  </div>

  <dl class="dl-horizontal">
    {% attr_in_dl 'nom_naissance' %}
    {% attr_in_dl 'biographie' %}

    {% list_in_dl individu.oeuvres %}
    {% list_in_dl individu.apparitions %}
    {% list_in_dl individu.publications 'html' %}
    {% list_in_dl individu.parents %}
    {% list_in_dl individu.enfants %}
    {% attr_in_dl 'notes' %}

    {% list_in_dl source.illustrations.all %}
    {% list_in_dl source.documents.all %}
  </dl>

{% endblock %}
