{% extends "base.html" %}
{% load i18n %}
{% load extras %}
{% load url from future %}

{% block title %}
  {{ individu }}
{% endblock %}

{% block body %}

  {% include "catalogue/etat.html" with etat=individu.etat %}

  <h2>
    {{ individu.nom_complet }}
  </h2>
  <h3>
    {% if not individu.naissance and not individu.deces %}
      <span title="{% trans "ancrage spatio-temporel" %}">
        {{ individu.ancrage|default:_('Époque inconnue') }}
      </span>
    {% else %}
      <span title="{% trans "naissance" %}">
        {{ individu.naissance|default:_('?') }}
      </span>
      &ndash;
      <span title="{% trans "décès" %}">
        {{ individu.deces|default:_('?') }}
      </span>
    {% endif %}
  </h3>
  <h4 title="{% blocktrans count counter=individu.professions.all|length %}profession{% plural %}professions{% endblocktrans %}">
    {{ individu.calc_professions|capfirst|default:_('Profession inconnue') }}
  </h4>
  <br />
  <dl>
    {% if individu.nom_naissance %}
      <dt>{% trans "nom de naissance"|capfirst %}</dt>
      <dd>{{ individu.nom_naissance }}</dd>
    {% endif %}
    {% if individu.biographie %}
      <dt>{% trans "biographie"|capfirst %}</dt>
      <dd>{{ individu.biographie }}</dd>
    {% endif %}

    {% with individu.oeuvres.all as oeuvres %}
      {% for oeuvre in oeuvres %}
        {% if forloop.first %}
          <dt>
            {% filter capfirst %}{% blocktrans count counter=oeuvres|length %}œuvre{% plural %}œuvres{% endblocktrans %}{% endfilter %}
          </dt>
        {% endif %}
        <dd>{{ oeuvre.link }}</dd>
      {% endfor %}
    {% endwith %}
    {% with individu.apparitions.all as apparitions %}
      {% for evenement in apparitions %}
        {% if forloop.first %}
          <dt>
            {% filter capfirst %}{% blocktrans count counter=apparitions|length %}apparition{% plural %}apparitions{% endblocktrans %}{% endfilter %}
          </dt>
        {% endif %}
        <dd>{{ evenement.link }}</dd>
      {% endfor %}
    {% endwith %}
    {% with individu.publications.all as publications %}
      {% for publication in publications %}
        {% if forloop.first %}
          <dt>
            {% filter capfirst %}{% blocktrans count counter=apparitions|length %}publication{% plural %}publications{% endblocktrans %}{% endfilter %}
          </dt>
        {% endif %}
        <dd>{{ publication.html }}</dd>
      {% endfor %}
    {% endwith %}
    {% with individu.parents.all as parents %}
      {% for parent in parents %}
        {% if forloop.first %}
          <dt>
            {% filter capfirst %}{% blocktrans count counter=parents|length %}parent{% plural %}parents{% endblocktrans %}{% endfilter %}
          </dt>
        {% endif %}
        <dd>{{ parent.link }}</dd>
      {% endfor %}
    {% endwith %}
    {% with individu.enfants.all as enfants %}
      {% for enfant in enfants %}
        {% if forloop.first %}
          <dt>
            {% filter capfirst %}{% blocktrans count counter=enfants|length %}enfant{% plural %}enfants{% endblocktrans %}{% endfilter %}
          </dt>
        {% endif %}
        <dd>{{ enfant.link }}</dd>
      {% endfor %}
    {% endwith %}
    {% include "catalogue/notes_def.html" with notes=individu.notes %}
  </dl>

  <br />

  <a href="{{ individu.permalien }}">
    [{% trans "permalien"|capfirst %}]
  </a>
  {% if user.is_staff %}
    <a href="{% url 'admin:catalogue_individu_change' individu.pk %}">
      [{% trans "modifier"|capfirst %}]
    </a>
  {% endif %}
{% endblock %}

