{% load url from future %}
{% load mptt_tags i18n sekizai_tags %}


{% if lieux %}

  <div id="lieux">
    <ul class="root">
      {% recursetree lieux %}
        <li>
          <a href="{% url 'lieu' node.slug %}">
            {{ node.nom }}
          </a>
          {% if not node.is_leaf_node %}
            <ul class="children">
              {{ children }}
            </ul>
          {% endif %}
        </li>
      {% endrecursetree %}
    </ul>
  </div>

  {% addtoblock 'js' %}
    <script>
      $(function () {
        $("#lieux").jstree({
          core: {
            'html_titles': true
          },
          plugins: ["themes", "html_data"],
          themes: {
            theme: "classic",
            icons: false,
            dots: true
          }
        });
      });
    </script>
  {% endaddtoblock %}

{% endif %}