{% load url from future %}
{% load mptt_tags %}

<div id="lieux">
  {% if lieux %}
    <ul class="root">
      {% recursetree lieux %}
        <li>
          <a href="{% url 'lieu' node.slug %}">
            {{ node.nom }}
          </a>
          {% if not node.is_leaf_node %}
            <ul class="children">
              {{ children }}
            </ul>
          {% endif %}
        </li>
      {% endrecursetree %}
    </ul>
  {% endif %}
</div>

<script>
  $(function () {
    $("#lieux").jstree({
      core: {
        'html_titles': true
      },
      plugins: ["themes", "html_data"],
      themes: {
        theme: "classic",
        icons: false,
        dots: false
      }
    });
  });
</script>