{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}
  {% trans "lieux"|capfirst %}
{% endblock %}

{% block body %}
  {% if lieux %}
    <div id="lieux">
      {% include 'catalogue/lieu_list_item.html' %}
    </div>
    <script>
      $(function () {
        $("#lieux").jstree({
          core: {
            'html_titles': true
          },
          plugins: ["themes", "html_data"],
          themes: {
            theme: "classic",
            icons: false,
            dots: false
          }
        });
      });
    </script>
  {% else %}
    {% trans "Aucun lieu ne figure dans la base de données." %}
  {% endif %}
{% endblock %}
