{% extends "base.html" %}
{% load i18n %}
{% load extras %}
{% load url from future %}

{% block title %}
  {{ oeuvre }}
{% endblock %}

{% block body %}

  {% include "catalogue/etat.html" with etat=oeuvre.etat %}

  <h2>
    {{ oeuvre.titre_html }}
  </h2>
  <h3>
    {{ oeuvre.description_html }}
  </h3>
  <br />
  <dl>
    {% with oeuvre.individus_auteurs.all as auteurs %}
      {% if auteurs %}
        <dt>
          {% filter capfirst %}{% blocktrans count counter=auteurs|length %}auteur{% plural %}auteurs{% endblocktrans %}{% endfilter %}
        </dt>
        <dd>{{ oeuvre.calc_auteurs }}</dd>
      {% endif %}
    {% endwith %}
    {% if oeuvre.ancrage_composition %}
      <dt>{% trans "composition"|capfirst %}</dt>
      <dd>{{ oeuvre.ancrage_composition }}</dd>
    {% endif %}

    {% for enfance in oeuvre.enfances_cibles.all %}
      {% if forloop.first %}
        <dt>
          {% filter capfirst %}{% blocktrans count counter=oeuvre.enfants.all|length %}enfant{% plural %}enfants{% endblocktrans %}{% endfilter %}
        </dt>
      {% endif %}
      <dd>{{ enfance.type }}&nbsp;: {% for enfant in enfance.oeuvres.all %}{{ enfant.link }}&nbsp;; {% endfor %}</dd>
    {% endfor %}
    {% include "catalogue/evenement_list_def.html" with evenements=oeuvre.evenements.all %}
    {% include "catalogue/notes_def.html" with notes=oeuvre.notes %}
  </dl>

  <br />

  <a href="{{ oeuvre.permalien }}">
    [{% trans "permalien"|capfirst %}]
  </a>
  {% if user.is_staff %}
    <a href="{% url 'admin:catalogue_oeuvre_change' oeuvre.pk %}">
      [{% trans "modifier"|capfirst %}]
    </a>
  {% endif %}
{% endblock %}
