{% extends "base.html" %}
{% load i18n %}
{% load extras routines %}
{% load url from future %}

{% block title %}
  {{ oeuvre }}
{% endblock %}

{% block body %}

  {% include "catalogue/etat.html" with etat=oeuvre.etat %}

  <div class="page-header">
    {% frontend_admin autorite=1 %}
    <h1>
      {{ oeuvre.titre_html }}
    </h1>
    <h2>
      {{ oeuvre.description_html }}
    </h2>
    <h3>
      {{ oeuvre.auteurs_html }}
    </h3>
    <h3 title="{% trans 'Création' %}">
      {{ oeuvre.ancrage_creation.html|default:'' }}
    </h3>
    <h4>
      {% regroup oeuvre.parentes_meres.meres_en_ordre by type as parentes_list %}
      <dl class="dl-horizontal">
        {% for parentes in parentes_list %}
          <dt>{{ parentes.grouper.nom|capfirst }}</dt>
          {% for parente in parentes.list %}
            <dd>{{ parente.mere.html }}</dd>
          {% endfor %}
        {% endfor %}
      </dl>
      {% regroup oeuvre.parentes_filles.filles_en_ordre by type as parentes_list %}
      <dl class="dl-horizontal">
        {% for parentes in parentes_list %}
          <dt>
            {% if parentes.list|length_is:'1' %}
              {{ parentes.grouper.nom_relatif|capfirst }}
            {% else %}
              {{ parentes.grouper.relatif_pluriel|capfirst }}
            {% endif %}
          </dt>
          {% for parente in parentes.list %}
            <dd>{{ parente.fille.html }}</dd>
          {% endfor %}
        {% endfor %}
      </dl>
    </h4>
  </div>

  <dl class="dl-horizontal">
    {% attr_in_dl 'pupitres_html' _('effectif') %}

    {% include "catalogue/evenement_list_def.html" with evenements=oeuvre.evenements.distinct %}
    {% attr_in_dl 'notes' %}

    {% list_in_dl oeuvre.illustrations.all %}
    {% list_in_dl oeuvre.documents.all %}
  </dl>

{% endblock %}
