{% extends "base.html" %}
{% load i18n %}
{% load extras routines %}
{% load url from future %}

{% block title %}
  {{ partie|capfirst }}
{% endblock %}

{% block body %}

  {% include "catalogue/etat.html" with etat=partie.etat %}

  <div class="page-header">
    {% frontend_admin autorite=1 %}
    <h1>
      <a href="{{ partie.get_absolute_url }}">
        {{ partie|capfirst }}
      </a>
    </h1>
  </div>

  <dl class="dl-horizontal">
    {% list_in_dl partie.professions.all %}
    {% list_in_dl partie.interpretes verbose_name=_('interprète') verbose_name_plural=_('interprètes') %}
    {% attr_in_dl 'parente.link' _('partie parente') %}
  </dl>

{% endblock %}
