{% extends "base.html" %}
{% load i18n %}
{% load extras routines %}
{% load url from future %}

{% block title %}
  {{ profession|capfirst }}
{% endblock %}

{% block body %}

  {% include "catalogue/etat.html" with etat=profession.etat %}

  <div class="page-header">
    {% frontend_admin autorite=1 %}
    <h1>
      {{ profession.pretty_link }}
    </h1>
  </div>

  <dl class="dl-horizontal">
    {% list_in_dl profession.parties.all %}
    {% list_in_dl profession.individus.all %}
    {% list_in_dl profession.auteurs.oeuvres %}
    {% list_in_dl profession.auteurs.sources %}
    {% attr_in_dl 'parente.link' _('profession parente') %}
  </dl>

{% endblock %}
