{% extends "base.html" %}
{% load url from future %}
{% load sekizai_tags %}

{% block title %}
  Saisie de source
{% endblock %}

{% block body %}

  {% addtoblock 'css' %}
    {{ form.media.css }}
  {% endaddtoblock %}
  {% addtoblock 'js' %}
    {{ form.media.js }}
  {% endaddtoblock %}

  {% if source %}
    <strong>Modification de source :</strong>
  {% else %}
    <strong>Modifier une source :</strong>
    <ul>
      {% for elt in sources %}
        <li><a href="{% url 'catalogue.views.saisie_source' %}{{ elt.pk }}/">{{ elt }}</a></li>
      {% endfor %}
    </ul>
    <hr />
    <strong>Ajouter une nouvelle source :</strong>
  {% endif %}
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Enregistrer" />
  </form>
{% endblock %}
