{% extends "base.html" %}
{% load i18n extras routines %}
{% load url from future %}

{% block title %}
  {{ source }}
{% endblock %}

{% block body %}

  {% include "catalogue/etat.html" with etat=source.etat %}

  <div class="page-header">
    {% frontend_admin autorite=1 %}
    <h1>
      {{ source.nom }}
      <small>
        {{ source.no }}, {{ source.date_html }}, {{ source.p }}
      </small>
    </h1>
    <h3>
      {{ source.type|capfirst }}
    </h3>
  </div>

  {% include 'catalogue/source_content.html' %}

  <dl class="dl-horizontal">
    {% list_in_dl source.illustrations.all %}
    {% list_in_dl source.evenements.all %}

    {% include "catalogue/notes_def.html" with notes=source.notes %}
  </dl>

{% endblock %}
