{% load i18n thumbnail %}

<div class="col-xs-12 col-md-6 col-lg-4">
  <a class="panel panel-default" href="{{ source.get_absolute_url }}" title="{{ source }}">
    <div class="panel-heading">{{ source }}</div>
    <div class="panel-body">
      {% if source.images %}
        <div class="full-width-image" style="background-image: url('{% thumbnail source.preview_image.fichier 718x718 crop detail %}');"></div>
      {% elif source.transcription %}
        <blockquote>
          {{ source.transcription|truncatewords_html:100|striptags }}
        </blockquote>
      {% else %}
        <small>{% trans 'Pas de prévisualisation' %}</small>
      {% endif %}
    </div>
  </a>
</div>
