{% load i18n extras %}

{% if evenements_par_territoire %}
  <h2>
    {% trans 'Diffusion' %}
  </h2>
  {% with size=300 %}
    {% with real_size=size|add:2 %}
      {% language 'en' %}
        <svg width="{{ real_size }}" height="{{ real_size }}">
          {% for lieu_nom, count, exclusive_count in evenements_par_territoire %}
            {% if exclusive_count %}
              <g title="{% blocktrans %}{{ lieu_nom }} ({{ exclusive_count }} événements){% endblocktrans %}">
                {% with c=real_size|divide:2 r=count|divide:evenements_par_territoire.0.1|multiply:size|divide:2 %}
                  <path d="M {{ c }} {{ c }} m -{{ r }}, 0
                           a {{ r }},{{ r }} 0 1,1 {{ r|multiply:2 }},0
                           a {{ r }},{{ r }} 0 1,1 -{{ r|multiply:2 }},0 Z"
                        fill="{% cycle '#5bc0de' '#5cb85c' '#f0ad4e' '#ec8055' '#d9534f' %}" id="circle_{{ forloop.counter0 }}" />
                  {% if forloop.last %}
                    <text x="{{ real_size|divide:2|stringformat:'f' }}" y="{{ real_size|divide:2|stringformat:'f' }}" text-anchor="middle">
                      {{ lieu_nom }}
                    </text>
                  {% else %}
                    <text>
                      <textPath text-anchor="middle"
                                startOffset="{{ forloop.counter0|multiply:25|add:12.5 }}%"
                                xlink:href="#circle_{{ forloop.counter0 }}">
                        {{ lieu_nom }}
                      </textPath>
                    </text>
                  {% endif %}
                {% endwith %}
              </g>
            {% endif %}
          {% endfor %}
        </svg>
      {% endlanguage %}
    {% endwith %}
  {% endwith %}
{% endif %}
