{% load fb_versions %}

{% with illustrations=object.illustrations.all %}
  {% if illustrations %}
    <div class="row">
      {% for illustration in illustrations %}
        {% version_object illustration.image 'thumbnail' as thumbnail %}
        <div class="col-xs-4">
          <a href="{{ illustration.image.url }}" class="thumbnail">
            <img src="{{ thumbnail.url }}" />
            <div class="caption">
              {% if illustration.legende %}
                <h4>{{ illustration.legende|safe }}</h4>
              {% endif %}
              {% if illustration.commentaire %}
                <p>{{ illustration.commentaire|safe }}</p>
              {% endif %}
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
