{% load sekizai_tags static i18n %}

<div id='map'></div>

{% addtoblock 'css' strip %}
  <link rel="stylesheet" type="text/css" href="{% static 'leaflet-0.7.3/leaflet.css' %}" />
{% endaddtoblock %}

{% addtoblock 'js' strip %}
  <script type="text/javascript" src="{% static 'leaflet-0.7.3/leaflet.js' %}"></script>
{% endaddtoblock %}

{% addtoblock 'js' %}
  <script>
    var map = L.map('map', {
      layers: [L.tileLayer('//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png')],
      minZoom: 2,
      maxZoom: 15,
      attributionControl: false
    });

    var maxValue = 0;
    var slope = 0.01;

    function normalize(v, min, max) {
      return min + max * Math.max(0, Math.log(v * slope) / Math.log((maxValue - min) * slope));
    }

    function getOptions(count) {
      return {
        radius: normalize(count, 7, 30),
        fillColor: 'red',
        color: 'darkgrey',
        weight: 1,
        opacity: 1,
        fillOpacity: 0.7
      };
    }

    var geoJson;

    map.on('moveend', function () {
      var url = '{{ geojson_url }}' + document.location.search;
      try {
        url += '&bbox=' + map.getBounds().toBBoxString();
      } catch(err) {}
      $.ajax({
        url: url
      }).done(function (data) {
        tooltips_delete();
        var empty = false;
        if (typeof geoJson == 'undefined') {
          empty = true;
        } else {
          map.removeLayer(geoJson);
        }
        data.forEach(function (feature) {
          maxValue = Math.max(maxValue, feature.properties.n);
        });
        geoJson = L.geoJson(data, {
          pointToLayer: function (feature, latlng) {
            var count = feature.properties.n;
            return L.circleMarker(latlng, getOptions(count)
            ).on('add', function () {
              $(this._container).attr('title', feature.properties.tooltip);
              $(this._container).tooltip({container: 'body'});
            }).on('click', function () {
              document.location.search = feature.properties.url;
            });
          }
        }).addTo(map);
        tooltips_create();
        if (empty) {
          map.fitBounds(geoJson.getBounds(), {padding: [70, 70]});
        }
      });
    });

    map.fire('moveend');
  </script>
{% endaddtoblock %}
