{% load i18n static compress sekizai_tags %}
<!DOCTYPE HTML>
<html lang="{{ LANGUAGE_CODE }}">

  <head>

    <meta charset="UTF-8"/>
    <meta name="keywords" content="{% trans "musicologie, base de données" %}"/>
    <meta name="author" content="Bertrand Bordage"/>
    <title>
      {% block title %}{% endblock %}
    </title>

    <link rel="shortcut icon" type="image/x-icon"
          href="/static/images/favicon.ico">
    {% compress css %}
      <link rel="stylesheet" type="text/css"
            href="{% static 'css/custom-theme/jquery-ui-1.8.16.custom.css' %}">
      <link rel="stylesheet" type="text/css"
            href="{% static 'css/bootstrap.min.css' %}"/>
      <link rel="stylesheet" type="text/css"
            href="{% static 'css/styles.css' %}"/>

    {% endcompress %}

    {% render_block 'css' postprocessor "dezede.postprocess_sekizai.compress" %}

    {% compress js %}
      <script src="{% static 'js/jquery-1.7.1.min.js' %}"></script>
      <script src="{% static 'js/jquery-ui-1.8.16.custom.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/jquery.query.js' %}"></script>
      <script src="{% static 'js/jquery.cookie.js' %}"></script>
    {% endcompress %}
    {# À part à cause d'une importation de CSS dans ce JS #}
    <script src="{% static 'js/jquery.jstree.js' %}"></script>
    <script>
      {% include 'base.definitions.js' %}
    </script>

  </head>


  <body class="container">

    <div id="content">

      {% autoescape off %}
        {% block body %}{% endblock %}
      {% endautoescape %}

    </div>

    <script>
      {% include 'base.execution.js' %}
    </script>
    {% render_block 'js' postprocessor "dezede.postprocess_sekizai.compress" %}

  </body>

</html>
