{% extends "base.html" %}
{% load i18n %}
{% load extras %}
{% load url from future %}

{% block title %}
  {% trans "événements"|capfirst %}
{% endblock %}

{% block head %}
  <script>
    $(function() {
      $(".accordion").accordion({
        autoHeight: false,
        navigation: true,
        collapsible: true,
      });
    });
  </script>
{% endblock %}

{% block body %}
  {% for evenement in evenements %}
    <div class="content_part">
      {% include "catalogue/evenement_item.html" %}
    </div>
  {% empty %}
    {% trans "Aucun événement n'a été trouvée selon ces critères." %}
  {% endfor %}
{% endblock %}

